html {
  font-size: 14px; }
  @media (min-width: 768px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1024px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    html {
      font-size: 20px; } }

body {
  font-size: 1em;
  font-family: sans-serif;
  line-height: 160%;
  color: #333333; }

.section {
  max-width: 640px;
  margin: 4.5em auto;
  /*
  @include normal {
    margin: $margin * 1.9 auto;
  }
  */
  /*@include wide {
    margin: $margin * 2.1 auto;
  }*/
  text-align: center; }
  @media (min-width: 768px) {
    .section {
      margin: 5.1em auto; } }

.sub-section {
  margin: 3em auto; }
  @media (min-width: 768px) {
    .sub-section {
      margin: 3.3em auto; } }
  @media (min-width: 1024px) {
    .sub-section {
      margin: 3.6em auto; } }
  @media (min-width: 1400px) {
    .sub-section {
      margin: 3.9em auto; } }

.mini-section {
  margin: 2.4em auto; }

pre.clean {
  margin: 3em auto;
  padding: 0px;
  border: 0px;
  background-color: inherit;
  font-size: inherit; }

hr {
  margin: 0px; }

.error-report {
  text-align: left;
  font-family: monospace;
  font-size: 80%;
  background-color: white;
  white-space: pre; }

.modal-body {
  white-space: pre;
  overflow: scroll; }

form.main {
  max-width: 480px;
  margin: 0 auto;
  padding: 0em 1em; }
  form.main input[type=file] {
    width: 100%; }

pre.sample {
  max-width: 480px;
  margin: 0 auto;
  text-align: left; }

.page-header {
  margin-top: 0px;
  padding: 0px;
  border-bottom: 1px solid #e6e6e6; }
  .page-header a {
    color: #333333; }

.page-footer {
  padding: 0px;
  border-top: 1px solid #e6e6e6; }
  .page-footer a {
    color: #333333; }
  .page-footer .about-list {
    margin: 0.3em auto; }
    .page-footer .about-list ul {
      margin: 0px; }
      .page-footer .about-list ul li {
        padding: 0 5px; }
  .page-footer .sponsor {
    margin: 0.6em auto;
    font-size: 1.1em; }

.page-header-site-name {
  margin: 0.6em auto;
  font-size: 1.3em; }
  .page-header-site-name a:hover {
    text-decoration: none; }

.page-title {
  max-width: 640px;
  margin: 4.5em auto;
  /*
  @include normal {
    margin: $margin * 1.9 auto;
  }
  */
  /*@include wide {
    margin: $margin * 2.1 auto;
  }*/
  text-align: center; }
  @media (min-width: 768px) {
    .page-title {
      margin: 5.1em auto; } }
  .page-title a {
    color: #333333; }
  .page-title a:hover {
    text-decoration: none; }
  .page-title h1 {
    font-size: 2.5em; }

.top-links a {
  padding-left: 8px;
  padding-right: 8px; }

.depth1 {
  max-width: 640px;
  margin: 4.5em auto;
  /*
  @include normal {
    margin: $margin * 1.9 auto;
  }
  */
  /*@include wide {
    margin: $margin * 2.1 auto;
  }*/
  text-align: center; }
  @media (min-width: 768px) {
    .depth1 {
      margin: 5.1em auto; } }
  .depth1 ul {
    padding: 0em; }
    .depth1 ul li {
      display: inline;
      word-break: keep-all;
      margin: 0em 0.3em; }
    .depth1 ul li.name {
      font-weight: bold; }
    .depth1 ul li.name::after {
      content: ":"; }

.depth2 {
  max-width: 640px;
  margin: 4.5em auto;
  /*
  @include normal {
    margin: $margin * 1.9 auto;
  }
  */
  /*@include wide {
    margin: $margin * 2.1 auto;
  }*/
  text-align: center; }
  @media (min-width: 768px) {
    .depth2 {
      margin: 5.1em auto; } }
  .depth2 .depth3 {
    margin: 3em auto; }
    @media (min-width: 768px) {
      .depth2 .depth3 {
        margin: 3.3em auto; } }
    @media (min-width: 1024px) {
      .depth2 .depth3 {
        margin: 3.6em auto; } }
    @media (min-width: 1400px) {
      .depth2 .depth3 {
        margin: 3.9em auto; } }
    .depth2 .depth3 .name {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 1em; }
    .depth2 .depth3 ul {
      margin-bottom: 1.5em;
      padding: 0em;
      list-style: none; }
      .depth2 .depth3 ul li {
        margin-bottom: 0.3em; }

#profile-text {
  white-space: pre-line; }
