.page-title
  h1 * * *

.list-at-pages

  .group
    .name 쇼핑몰
    ul
      li: a(href='http://shopping2.naver.com', target='_blank') http://shopping2.naver.com
      li: a(href='http://shopping.daum.net', target='_blank') http://shopping.daum.net
    ul
      li: a(href='https://www.specializedstore.co.kr', target='_blank') https://www.specializedstore.co.kr
    ul
      li: a(href='http://shop.bikey.co.kr', target='_blank') http://shop.bikey.co.kr
      li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
      li: a(href='http://www.athatb.com', target='_blank') http://www.athatb.com
      li: a(href='http://www.duracle.com', target='_blank') http://www.duracle.com
      li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr
      li: a(href='http://shimanoshop.co.kr', target='_blank') http://shimanoshop.co.kr
      li: a(href='http://philshop.co.kr', target='_blank') http://philshop.co.kr
      li: a(href='http://jagudae.com', target='_blank') http://jagudae.com
      li: a(href='http://cnpbike.com', target='_blank') http://cnpbike.com
      li: a(href='http://www.agitshop.co.kr', target='_blank') http://www.agitshop.co.kr
      li: a(href='http://www.femtb.co.kr', target='_blank') http://www.femtb.co.kr
      li: a(href='http://webikemall.com', target='_blank') http://webikemall.com
      li: a(href='http://bicyclecamping.co.kr', target='_blank') http://bicyclecamping.co.kr, 캠핑
      li: a(href='http://www.bikesell.co.kr', target='_blank') http://www.bikesell.co.kr, 신품장터
      li: a(href='http://storefarm.naver.com/bikenara', target='_blank') 즐거운 자전거 나라
      li: a(href='http://www.korashop.org', target='_blank') http://www.korashop.org, 란도너링 쇼핑몰

  .group
    .name 지역별 숍
    ul
      li: a(href='/shop') 지역별 숍

  .group
    .name 중고
    ul
      li: a(href='http://www.bikesell.co.kr', target='_blank') http://www.bikesell.co.kr
      li: a(href='http://corearoadbike.com', target='_blank') http://corearoadbike.com
      li: a(href='http://www.ppomppu.co.kr/zboard/zboard.php?id=market_bike', target='_blank') http://www.ppomppu.co.kr/.../market_bike
      li: a(href='http://cafe.naver.com/joonggonara', target='_blank') http://cafe.naver.com/joonggonara

  .group
    .name 중국
    ul
      li: a(href='https://ko.aliexpress.com', target='_blank') https://ko.aliexpress.com, 알리

    .name 영국
    ul
      li: a(href='http://www.chainreactioncycles.com', target='_blank') http://www.chainreactioncycles.com
      li: a(href='http://www.probikekit.co.uk', target='_blank') http://www.probikekit.co.uk
      li: a(href='http://www.probikekit.ca', target='_blank') http://www.probikekit.ca, 캐나다
      li: a(href='http://www.wiggle.co.uk', target='_blank') http://www.wiggle.co.uk
      li: a(href='https://www.evanscycles.com', target='_blank') https://www.evanscycles.com
      li: a(href='https://www.merlincycles.com', target='_blank') https://www.merlincycles.com
    
    .name 독일
    ul
      li: a(href='https://www.bike24.com', target='_blank') https://www.bike24.com
      li: a(href='http://www.bike-discount.de', target='_blank') http://www.bike-discount.de
    
    .name 이태리
    ul
      li: a(href='http://www.all4cycling.com', target='_blank') http://www.all4cycling.com
      li: a(href='https://www.lordgunbicycles.com', target='_blank') https://www.lordgunbicycles.com
    
    .name 스페인
    ul
      li: a(href='https://www.bikeinn.com', target='_blank') https://www.bikeinn.com
    
    .name 미국
    ul
      li: a(href='http://www.competitivecyclist.com', target='_blank') http://www.competitivecyclist.com
      li: a(href='http://www.nashbar.com', target='_blank') http://www.nashbar.com
      li: a(href='http://www.backcountry.com', target='_blank') http://www.backcountry.com

    .name 호주
    ul
      li: a(href='http://www.cyclingexpress.com', target='_blank') http://www.cyclingexpress.com
      li: a(href='http://www.pushys.com.au', target='_blank') http://www.pushys.com.au
      li: a(href='http://www.bikebug.com', target='_blank') http://www.bikebug.com

    .group
      .name 구매 대행
      ul
        li: a(href='http://narrshop.com', target='_blank') http://narrshop.com
        li: a(href='http://www.trioutlet.co.kr', target='_blank') http://www.trioutlet.co.kr

    .group
      .name 배송 대행
      ul
        li: a(href='http://www.ehanex.com/', target='_blank') http://www.ehanex.com
        li: a(href='http://www.koalamart.com', target='_blank') http://www.koalamart.com, 호주

