.page-title
  h1 * * *

.depth2

  .depth3
    .name 쇼핑몰
    ul
      li: a(href='http://shopping2.naver.com', target='_blank') http://shopping2.naver.com
      li: a(href='http://shopping.daum.net', target='_blank') http://shopping.daum.net
    ul
      li: a(href='https://www.specializedstore.co.kr', target='_blank') https://www.specializedstore.co.kr
    ul
      li: a(href='http://shop.bikey.co.kr', target='_blank') http://shop.bikey.co.kr
      li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
      li: a(href='http://www.athatb.com', target='_blank') http://www.athatb.com
      li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr
      li: a(href='http://shimanoshop.co.kr', target='_blank') http://shimanoshop.co.kr
      li: a(href='http://philshop.co.kr', target='_blank') http://philshop.co.kr
      li: a(href='http://jagudae.com', target='_blank') http://jagudae.com
      li: a(href='http://cnpbike.com', target='_blank') http://cnpbike.com
      li: a(href='http://www.agitshop.co.kr', target='_blank') http://www.agitshop.co.kr
      li: a(href='http://www.femtb.co.kr', target='_blank') http://www.femtb.co.kr
      li: a(href='http://webikemall.com', target='_blank') http://webikemall.com
      li: a(href='http://bicyclecamping.co.kr', target='_blank') http://bicyclecamping.co.kr, 캠핑
      li: a(href='http://www.bikesell.co.kr', target='_blank') http://www.bikesell.co.kr, 신품장터
      li: a(href='http://storefarm.naver.com/bikenara', target='_blank') 즐거운 자전거 나라

  .depth3
    .name 지역별 숍
    ul
      li: a(href='/shop') 지역별 숍

   .depth3
      .name 해외
      ul
        li: a(href='http://www.wiggle.co.uk', target='_blank') http://www.wiggle.co.uk
        li: a(href='http://www.chainreactioncycles.com', target='_blank') http://www.chainreactioncycles.com
        li: a(href='http://www.probikekit.co.uk', target='_blank') http://www.probikekit.co.uk
        li: a(href='http://www.probikekit.ca', target='_blank') http://www.probikekit.ca
        li: a(href='http://www.competitivecyclist.com', target='_blank') http://www.competitivecyclist.com
        li: a(href='http://www.cyclingexpress.com', target='_blank') http://www.cyclingexpress.com
        li: a(href='http://www.pushys.com.au', target='_blank') http://www.pushys.com.au

    .depth3
      .name 구매 대행
      ul
        li: a(href='http://www.trioutlet.co.kr', target='_blank') http://www.trioutlet.co.kr

    .depth3
      .name 배송 대행
      ul
        li: a(href='http://www.ehanex.com/', target='_blank') http://www.ehanex.com
        li: a(href='http://www.koalamart.com', target='_blank') http://www.koalamart.com, 호주

    .depth3
      .name 중고
      ul
        li: a(href='http://www.bikesell.co.kr', target='_blank') http://www.bikesell.co.kr
        li: a(href='http://corearoadbike.com', target='_blank') http://corearoadbike.com
        li: a(href='http://www.ppomppu.co.kr/zboard/zboard.php?id=market_bike', target='_blank') http://www.ppomppu.co.kr/.../market_bike
        li: a(href='http://cafe.naver.com/joonggonara', target='_blank') http://cafe.naver.com/joonggonara
