.page-title
  h1 온라인 구매

.section
  .line-thru 돈 있어도 물건 사기 왜 이리 힘든지

.category-detail

  .sub-category
    .name 국내
    ul
      li 네이버 쇼핑
        a(href='http://pc.shopping2.naver.com', target='_blank') http://pc.shopping2.naver.com
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 

  .sub-category
    .name 중고
    ul
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 중고나라
        a(href='http://cafe.naver.com/joonggonara', target='_blank') http://cafe.naver.com/joonggonara
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 

  .sub-category
    .name 해외
    ul
      li 위글
        a(href='http://www.wiggle.co.uk', target='_blank') http://www.wiggle.co.uk
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 
      li 
        a(href='', target='_blank') 

  .sub-category
    .name 배송 대행
    ul
      li 이하넥스
        a(href='http://www.ehanex.com/', target='_blank') http://www.ehanex.com/
