extends ../layout/layout

block head-title
  title 가방/짐받이 - #{appName}

block content

  .page-title
    h1 가방/짐받이

  .list-at-pages

    .group
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.topeak.com', target='_blank') http://www.topeak.com
      ul
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 툴레, PRO
        li: a(href='http://www.thule.com', target='_blank') http://www.thule.com
        li: a(href='http://www.pro-bikegear.com', target='_blank') http://www.pro-bikegear.com
      ul
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔, 미노우라, 프로파일디자인
        li: a(href='http://www.zefal.com', target='_blank') http://www.zefal.com
        li: a(href='http://www.minoura.jp', target='_blank') http://www.minoura.jp
        li: a(href='http://www.profile-design.com', target='_blank') http://www.profile-design.com
      ul
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, AXIOM
        li: a(href='http://www.axiomgear.com', target='_blank') http://www.axiomgear.com
      ul
        li: a(href='http://roswheel.co.kr', target='_blank') http://roswheel.co.kr, 저렴한 핸들바 가방
        li: a(href='http://www.roswheel.com', target='_blank') http://www.roswheel.com
      ul
        li: a(href='http://www.b-zone.co.kr', target='_blank') http://www.b-zone.co.kr, 저렴한 핸들바 포켓
      ul
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 브룩스
        li: a(href='http://www.brooksengland.com', target='_blank') http://www.brooksengland.com
      ul
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, 오르트립, 릭센카울, 투부스, 랙타임
        li: a(href='https://www.ortlieb.com', target='_blank') https://www.ortlieb.com
        li: a(href='http://www.klickfix.com', target='_blank') http://www.klickfix.com
        li: a(href='http://www.tubus.com', target='_blank') http://www.tubus.com
        li: a(href='http://www.racktime.com', target='_blank') http://www.racktime.com
      ul
        li: a(href='http://www.manello.co.kr', target='_blank') http://www.manello.co.kr, 아피듀라
        li: a(href='https://www.apidura.com', target='_blank') https://www.apidura.com
      ul
        li: a(href='http://www.mountriver.co.kr', target='_blank') http://www.mountriver.co.kr
      ul
        li: a(href='http://www.bm-works.co.kr', target='_blank') http://www.bm-works.co.kr
      ul
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 도이터, BBB
      ul
        li: a(href='http://www.jagang.co.kr', target='_blank') http://www.jagang.co.kr
      ul
        li: a(href='http://www.bikee.co.kr', target='_blank') http://www.bikee.co.kr, arkel-od
        li: a(href='http://www.arkel-od.com', target='_blank') http://www.arkel-od.com
      ul
        li: a(href='https://www.bikebagshop.com', target='_blank') https://www.bikebagshop.com

    .group
      ul
        li: a(href='http://blog.naver.com/akiliner/220051393150', target='_blank') 칫솔, 로드용 여행 가방
        li: a(href='http://blog.naver.com/akiliner/220840542225', target='_blank') 칫솔, 로드에 랙을 달면 안 됩니다
        li: a(href='http://blog.naver.com/akiliner/220445796617', target='_blank') 칫솔, 아피듀라 새들 팩
        li: a(href='http://blog.naver.com/akiliner/220780222702', target='_blank') 칫솔, 아피듀라 새들 팩 방수
        li: a(href='http://blog.naver.com/akiliner/220450254863', target='_blank') 칫솔, 자이언트 스카웃 안장 가방
        li: a(href='http://blog.naver.com/akiliner/220676173369', target='_blank') 칫솔, 로스휠 핸들바 가방
        li: a(href='http://blog.naver.com/akiliner/220838773259', target='_blank') 칫솔, BIKEPACKING GEAR
        li: a(href='http://blog.naver.com/akiliner/220347255984', target='_blank') 칫솔, 오르트립 싱글백
        li: a(href='http://blog.naver.com/akiliner/220796168418', target='_blank') 칫솔, 오르트립 오피스백
        li: a(href='http://blog.naver.com/akiliner/220851185250', target='_blank') 칫솔, 바이크존 원형 핸들바 가방
      ul
        li: a(href='http://blog.naver.com/pinmanix/220518963104', target='_blank') 공돌이, 카스텔리 언더 새들백 미니
        li: a(href='http://blog.naver.com/bikely_tour/220745525445', target='_blank') 바이클리, 오르트립 패니어 수리

    .group
      .name 트레일러
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽

    .group
      .name 백팩
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, 헨티 윙맨
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 도이터, BBB
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com

  include _mall.pug
