extends ../layout/layout

block head-title
  title 가방/짐받이 - #{appName}

block content

  .page-title
    h1 가방/짐받이

  .depth2

    .depth3
      //.name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220051393150', target='_blank') 칫솔, 로드용 여행 가방, 2014
        li: a(href='http://blog.naver.com/akiliner/220445796617', target='_blank') 칫솔, 아피듀라 새들 팩, 2015
        li: a(href='http://blog.naver.com/akiliner/220450254863', target='_blank') 칫솔, 자이언트 스카웃 안장 가방, 2015
        li: a(href='http://blog.naver.com/akiliner/220508840745', target='_blank') 칫솔, Jandd 핸들바 가방, 2015
        li: a(href='http://blog.naver.com/pinmanix/220518963104', target='_blank') 공돌이, 카스텔리 언더 새들백 미니, 2015

    .depth3
      .name 자전거 장착
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 툴레, PRO
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔, 프로파일디자인, 미노우라
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, AXIOM
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, 오르트립, 릭센카울
        li: a(href='http://www.mountriver.co.kr', target='_blank') http://www.mountriver.co.kr
        li: a(href='http://www.guandki.com', target='_blank') http://www.guandki.com, 아피듀라
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 브룩스
        li: a(href='http://www.bm-works.co.kr', target='_blank') http://www.bm-works.co.kr
        li: a(href='http://www.jagang.co.kr', target='_blank') http://www.jagang.co.kr
      ul
        li: a(href='https://www.apidura.com', target='_blank') https://www.apidura.com
        li: a(href='http://www.axiomgear.com', target='_blank') http://www.axiomgear.com

    .depth3
      .name 트레일러
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽

    .depth3
      .name 백팩
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, 헨티 윙맨
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 도이터, BBB
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com




  include _mall.jade
