extends ../layout/layout

block head-title
  title 바 테입 - #{appName}

block content

  .page-title
    h1 바 테입

  .depth2.
    <s>좋은 바 테입 부질 없</s>
  .depth2

    .depth3
      ul
        li: a(href='https://www.youtube.com/watch?v=5MzIiv7pewE', target='_blank') 바 테입 감는 영상은 이게 제일 괜춘한 듯<br>Park Tool, How to Wrap Handlebars for Road Bikes

    .depth3
      .name 수입
      ul
        li: a(href='http://www.brooksengland.com', target='_blank') http://www.brooksengland.com
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 브룩스

      ul
        li: a(href='http://lizardskins.com', target='_blank') http://lizardskins.com
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com

  include _mall.jade