extends ../layout/layout

block head-title
  title 로드/산악 자전거 - #{appName}

block content

    .page-title
      h1 로드/산악 자전거

    .category-detail

      .sub-category
        .name 자이언트
        ul
          li 수입
            a(href='http://giant-korea.com', target=_blank) http://giant-korea.com
          li 미니벨로
            a(href='categories/bike-mini') 미니벨로
          li 투어링
            a(href='categories/bike-touring') 투어링
          li 생활차
            a(href='categories/bike-city') 생활차

      .sub-category
        .name 자이언트
        ul
          li 수입
            a(href='http://giant-korea.com', target=_blank) http://giant-korea.com
          li 미니벨로
            a(href='categories/bike-mini') 미니벨로
          li 투어링
            a(href='categories/bike-touring') 투어링
          li 생활차
            a(href='categories/bike-city') 생활차
