extends ../layout/layout

block head-title
  title 생활차 - #{appName}

block content

  .page-title
    h1 생활차

  .depth2

    .depth3.
      우리나라 자전거 매출의 70% 는 삼천리와 알톤.

    .depth3
      .name 블로그
      ul
        li: a(href='http://blog.naver.com/docver', target='_blank') 경태의 자전거 이야기

    .depth3
      .name 생산
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr
        li: a(href='http://www.smartbike.co.kr', target='_blank') http://www.smartbike.co.kr

  include _mall.jade
