extends ../layout/layout

block head-title
  title 로드 - #{appName}

block content

  .page-title
    h1 로드

  .category-detail
    .subc
      .name 커뮤니티
      ul
        li: a(href='http://corearoadbike.com', target='_blank') 도싸
        li: a(href='http://www.ppomppu.co.kr/zboard/zboard.php?id=bike', target='_blank') 뽐뿌 자포
        li: a(href='http://www.clien.net/cs2/bbs/board.php?bo_table=cm_bike', target='_blank') 클리앙 자당
        li: a(href='http://cafe.naver.com/womensriding', target='_blank') 우먼스라이딩
        li: a(href='http://cafe.naver.com/tourde', target='_blank') 뚜르드
        li: a(href='http://cafe.naver.com/boodooctc', target='_blank') 팀 부두
        li: a(href='https://www.facebook.com/groups/janchadang', target='_blank') 페북잔차당
        li: a(href='https://www.facebook.com/groups/tenpro', target='_blank') 텐프로

    .subc
      .name 블로그
      ul
        li: a(href='http://blog.naver.com/piggybankm', target='_blank') 피기, piggybankm
        li: a(href='http://blog.naver.com/tobemusic', target='_blank') 포유, 라이딩 홀릭
        li: a(href='http://dibdiv.blog.me', target='_blank') 액트, Little Fluffy Clouds
        li: a(href='http://missw.blog.me', target='_blank') 우잉, 달려야 사는 여자
        li: a(href='http://blog.naver.com/rsj55', target='_blank') 보랑스럽게 달리기:D
        li: a(href='http://gtmasta.blog.me', target='_blank') 뽀돌이, 아침꽃을 저녁에 줍다
        li: a(href='http://jty40.blog.me', target='_blank') 금개구리의 즐거운 스트레스
        li: a(href='http://choics79.blog.me', target='_blank') 하늘누리 자전거 스튜디오
        li: a(href='http://iam0884.blog.me', target='_blank') 막쑥님 못생겼어요
        li: a(href='http://blog.naver.com/antina0414', target='_blank') 구피의 블로그
        li: a(href='http://blog.naver.com/bell3574', target='_blank') 테너, 두 바퀴로 보는 세상
        li: a(href='http://blog.naver.com/k75nh', target='_blank') 철마, Couldn't be happier ^^
        li: a(href='http://ngpnephilim.blog.me', target='_blank') 호윤, МЕЧТА
        li: a(href='http://blog.naver.com/teamukgang', target='_blank') 광추
        
    .subc
      .name 에세이
      ul
        li: a(href='http://www.ppomppu.co.kr/zboard/view.php?id=bike&no=304954', target='_blank') 그 동안 자전거를 타면서 느낀 점
        li: a(href='http://www.ppomppu.co.kr/zboard/view.php?id=bike&no=305029', target='_blank') 그 동안 자전거를 타면서 느낀 점 2

    .subc
      .name 구입 가이드
      ul
        li: a(href='http://blog.naver.com/mechanicfox/220412365223', target='_blank') 여우, 입문용 로드바이크, 2015

    .subc
      .name 수입사 정리
      ul
        li: a(href='http://hellquake.egloos.com/3085307', target='_blank') http://hellquake.egloos.com/3085307

    .subc
      .name 수입/생산
      ul
        li: a(href='http://www.specialized.com/kr/ko/home', target='_blank') http://www.specialized.com/kr/ko/home
        li: a(href='http://www.specialized.com/us/en/home', target='_blank') http://www.specialized.com/us/en/home
        li: a(href='http://blog.naver.com/sbc_korea', target='_blank') http://blog.naver.com/sbc_korea
        li: a(href='https://www.specializedstore.co.kr', target='_blank') https://www.specializedstore.co.kr
        li: a(href='https://www.facebook.com/specialized.xperience.center', target='_blank') https://www.facebook.com/specialized.xperience.center, 한남동

      ul
        li: a(href='http://www.trekbikes.com/kr/ko_KR', target='_blank') http://www.trekbikes.com/kr/ko_KR
        li: a(href='http://www.trekbikes.com/us/en_US', target='_blank') http://www.trekbikes.com/us/en_US
        li: a(href='http://blog.naver.com/trekkorea1', target='_blank') http://blog.naver.com/trekkorea1
        li: a(href='http://www.manitoubike.co.kr', target='_blank') http://www.manitoubike.co.kr, 면목동
        li: a(href='http://www.routebike.co.kr', target='_blank') http://www.routebike.co.kr, 용산
        li: a(href='http://www.shootingb.com', target='_blank') http://www.shootingb.com, 신사동
        li: a(href='http://godkca.com', target='_blank') http://godkca.com, 뚝섬유원지역

      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://blog.naver.com/giant1store', target='_blank') http://blog.naver.com/giant1store, 구의동
        li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr, 합정동

      ul
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com
        li: a(href='http://blog.naver.com/elfama_korea', target='_blank') http://blog.naver.com/elfama_korea

      ul
        li: a(href='http://www.odbike.co.kr', target='_blank') http://www.odbike.co.kr, 메리다, 윌리어
        li: a(href='http://blog.naver.com/odbikem', target='_blank') http://blog.naver.com/odbikem

      ul
        li: a(href='http://neofly.co.kr', target='_blank') http://neofly.co.kr, 피나렐로
        li: a(href='https://www.facebook.com/pinarellokorean', target='_blank') https://www.facebook.com/pinarellokorean

      ul
        li: a(href='http://www.duracle.com', target='_blank') http://www.duracle.com, 구스토
        li: a(href='http://blog.naver.com/myduracle', target='_blank') http://blog.naver.com/myduracle
                
      ul
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 캐논데일
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 첼로, 콜나고
        li: a(href='http://www.veloline.co.kr', target='_blank') http://www.veloline.co.kr
        li: a(href='http://www.wiawis.com', target='_blank') http://www.wiawis.com
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com
        li: a(href='https://www.canyon.com/ko', target='_blank') https://www.canyon.com/ko
        li: a(href='http://onecycle.cc', target='_blank') http://onecycle.cc, 서벨로
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 리들리, 예거
        li: a(href='http://www.synkeybike.com', target='_blank') http://www.synkeybike.com, 후지
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, 치넬리, 트리곤
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키, 타임
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 큐브, 룩, 라웨
        li: a(href='http://www.biclo.co.kr', target='_blank') http://www.biclo.co.kr, BMC, 코가
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 라피에르, 제이미스
        li: a(href='http://www.kisong.co.kr', target='_blank') http://www.kisong.co.kr, 마지
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 마린
        li: a(href='http://www.biken.co.kr', target='_blank') http://www.biken.co.kr, 보드만
        li: a(href='http://www.jagudae.com', target='_blank') http://www.jagudae.com, 스위프트
        li: a(href='http://www.watts-cycling.com', target='_blank') http://www.watts-cycling.com, 스톡
        li: a(href='http://www.guandki.com', target='_blank') http://www.guandki.com, 팔리
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr
        li: a(href='http://www.smartbike.co.kr', target='_blank') http://www.smartbike.co.kr

  include _mall.jade