extends ../layout/layout

block head-title
  title 자전거 - #{appName}

block content

  .page-title
    h1 자전거
  
  .depth2
    .depth3.
      <s>개미지옥에 오신 것을 환영합니다.</s>

    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220268356229', target='_blank') 칫솔, 입문 자전거 선택
        li: a(href='http://blog.naver.com/mechanicfox/220412365223', target='_blank') 여우, 입문용 로드바이크
        li: a(href='http://blog.naver.com/dpsystem/220631555847', target='_blank') 김기사, 초보자의 자전거 구매 요령 2
        li: a(href='http://blog.naver.com/akiliner/220652884596', target='_blank') 칫솔, 자전거 사면 필요한 물건들

    .depth3
      .name 종합
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr
        li: a(href='http://www.amotionbike.co.kr', target='_blank') http://www.amotionbike.co.kr
        li: a(href='http://www.smartbike.co.kr', target='_blank') http://www.smartbike.co.kr
        li: a(href='http://www.veloline.co.kr', target='_blank') http://www.veloline.co.kr
        li: a(href='http://www.bikey.co.kr', target='_blank') http://www.bikey.co.kr
      ul
        li: a(href='http://www.specialized.com/kr/ko/home', target='_blank') http://www.specialized.com/kr/ko/home
        li: a(href='http://www.specialized.com/us/en/home', target='_blank') http://www.specialized.com/us/en/home
        li: a(href='https://www.specializedstore.co.kr', target='_blank') https://www.specializedstore.co.kr
        li: a(href='https://www.facebook.com/specialized.xperience.center', target='_blank') Specialized Xperience Center, 한남동
      ul
        li: a(href='http://www.trekbikes.com/kr/ko_KR', target='_blank') http://www.trekbikes.com/kr/ko_KR
        li: a(href='http://www.trekbikes.com/us/en_US', target='_blank') http://www.trekbikes.com/us/en_US
        li: a(href='http://www.manitoubike.co.kr', target='_blank') http://www.manitoubike.co.kr, 면목동
        li: a(href='http://www.routebike.co.kr', target='_blank') http://www.routebike.co.kr, 용산
        li: a(href='http://www.shootingb.com', target='_blank') http://www.shootingb.com, 신사동
        li: a(href='http://godkca.com', target='_blank') http://godkca.com, 뚝섬유원지역
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://blog.naver.com/giant1store', target='_blank') http://blog.naver.com/giant1store, 구의동
        li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr, 합정동
      ul
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com
        li: a(href='http://blog.naver.com/elfama_korea', target='_blank') http://blog.naver.com/elfama_korea
      ul
        li: a(href='http://www.odbike.co.kr', target='_blank') http://www.odbike.co.kr, 메리다, 윌리어
        li: a(href='http://blog.naver.com/odbikem', target='_blank') http://blog.naver.com/odbikem
      ul
        li: a(href='http://neofly.co.kr', target='_blank') http://neofly.co.kr, 피나렐로
        li: a(href='https://www.facebook.com/pinarellokorean', target='_blank') https://www.facebook.com/pinarellokorean
      ul
        li: a(href='http://www.duracle.com', target='_blank') http://www.duracle.com, 구스토
        li: a(href='http://blog.naver.com/myduracle', target='_blank') http://blog.naver.com/myduracle
      ul
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 캐논데일
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 첼로, 콜나고
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com
        li: a(href='http://www.wiawis.com', target='_blank') http://www.wiawis.com
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 포커스, 오베아
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 리들리, 예거
        li: a(href='http://www.synkeybike.com', target='_blank') http://www.synkeybike.com, 후지
        li: a(href='http://onecycle.cc', target='_blank') http://onecycle.cc, 서벨로
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, 치넬리, 트리곤
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키, 타임
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 큐브, 룩, 라웨
        li: a(href='http://www.biclo.co.kr', target='_blank') http://www.biclo.co.kr, BMC, 코가
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 라피에르, 제이미스
        li: a(href='http://www.kisong.co.kr', target='_blank') http://www.kisong.co.kr, 마지
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 마린
        li: a(href='http://www.biken.co.kr', target='_blank') http://www.biken.co.kr, 보드만
        li: a(href='http://www.jagudae.com', target='_blank') http://www.jagudae.com, 스위프트
        li: a(href='http://www.watts-cycling.com', target='_blank') http://www.watts-cycling.com, 스톡
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 콘돌, 데다차이
        li: a(href='http://www.guandki.com', target='_blank') http://www.guandki.com, 팔리
        li: a(href='https://www.canyon.com/ko', target='_blank') https://www.canyon.com/ko

    .depth3
      .name 하이브리드
      ul
        li: a(href='http://biketool.tistory.com/14', target='_blank') 자전거공작소, 하이브리드 자전거란 무엇인가?
      ul
        li: a(href='http://www.specialized.com', target='_blank') http://www.specialized.com, 시러스
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com, 이스케이프
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com, 듀얼스포츠
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com, 서브

    .depth3
      .name 엠티비
      ul
        li: a(href='http://biketool.tistory.com/20', target='_blank') 자전거공작소, 산악자전거(MTB)란 무엇인가?
        li: a(href='http://blog.naver.com/akiliner/220265778116', target='_blank') 칫솔, MTB 하드테일 풀샥 선택
      ul
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 라이트빌, 스팽크
        li: a(href='http://sevencycles.co.kr', target='_blank') http://sevencycles.co.kr
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 라이트스피드
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 무츠
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 라피에르, 니콜라이, 예티, 놀리
        li: a(href='http://www.spomate.com', target='_blank') http://www.spomate.com, 몬드레커

    .depth3
      .name 팻바이크
      ul
        li: a(href='http://www.amotionbike.co.kr', target='_blank') http://www.amotionbike.co.kr, 우라노
        li: a(href='http://www.smartbike.co.kr', target='_blank') http://www.smartbike.co.kr
        li: a(href='http://www.specialized.com', target='_blank') http://www.specialized.com, 팻보이
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com, 빅ED
        li: a(href='http://fatbike.cafe24.com', target='_blank') http://fatbike.cafe24.com, 언빌바이크, 경기 안산

    .depth3
      .name 미니벨로
      ul
        li: a(href='http://www.ticamini.com', target='_blank') http://www.ticamini.com
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 브롬톤, 스트라이다, 버디
        li: a(href='http://www.dahonbikes.co.kr', target='_blank') http://www.dahonbikes.co.kr
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 몰튼
        li: a(href='http://www.bikefridaykorea.com', target='_blank') http://www.bikefridaykorea.com
      ul
        li: a(href='http://www.brompton.com', target='_blank') http://www.brompton.com
        li: a(href='http://www.strida.com', target='_blank') http://www.strida.com
        li: a(href='http://www.birdybike.com', target='_blank') http://www.birdybike.com
        li: a(href='http://dahon.com', target='_blank') http://dahon.com
        li: a(href='http://www.moultonbicycles.co.uk', target='_blank') http://www.moultonbicycles.co.uk
        li: a(href='https://www.bikefriday.com/', target='_blank') https://www.bikefriday.com/
      ul
      ul
      ul

    .depth3
      .name 투어링 
      ul
        li: a(href='http://blog.naver.com/akiliner/220380387184', target='_blank') 칫솔, 투어링 자전거, 2015
        li: a(href='http://blog.naver.com/dpsystem/220633371902', target='_blank') 김기사, 알톤스포츠의 여행용 자전거 투어로드, 2016
      ul
        li: a(href='http://blog.naver.com/bikely_tour', target='_blank') http://blog.naver.com/bikely_tour
        li: a(href='http://blog.naver.com/bikely', target='_blank') http://blog.naver.com/bikely
        li: a(href='http://bikelymall.co.kr', target='_blank') http://bikelymall.co.kr
      ul
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr, 투어로드
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 제이미스 오로라
        li: a(href='http://www.plushbikes.com', target='_blank') http://www.plushbikes.com, 셜리
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 캐논데일 투어링
        li: a(href='http://www.synkeybike.com', target='_blank') http://www.synkeybike.com, 후지 투어링
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com, 520
        li: a(href='http://www.cinelli.it', target='_blank') http://www.cinelli.it, 호보
        li: a(href='http://www.wiawis.com', target='_blank') http://www.wiawis.com, DONAR
      ul
        li: a(href='http://surlybikes.com', target='_blank') http://surlybikes.com

    .depth3
      .name 클라식 로드
      ul
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr
        li: a(href='http://www.sweetcycles.co.kr', target='_blank') http://www.sweetcycles.co.kr
        li: a(href='http://www.dooboogong.com', target='_blank') http://www.dooboogong.com
        li: a(href='http://www.ditobici.com', target='_blank') http://www.ditobici.com
        li: a(href='http://cafe.naver.com/zionbike', target='_blank') http://cafe.naver.com/zionbike
      ul
        li: a(href='http://www.thevanillaworkshop.com', target='_blank') http://www.thevanillaworkshop.com
        li: a(href='http://www.festka.com', target='_blank') http://www.festka.com
        li: a(href='http://www.mapbicycles.com', target='_blank') http://www.mapbicycles.com
        li: a(href='http://www.feathercycles.com', target='_blank') http://www.feathercycles.com
        li: a(href='http://fireflybicycles.com', target='_blank') http://fireflybicycles.com
        li: a(href='http://www.vanhulsteijn.com', target='_blank') http://www.vanhulsteijn.com
      ul
        li: a(href='http://bluelug.com', target='_blank') http://bluelug.com
        li: a(href='http://velobase.com', target='_blank') http://velobase.com

    .depth3
      .name 생활차
      ul
        li 2015 기준 자전거 시장 매출의 70% 는 삼천리와 알톤.
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr


  include _mall.jade