extends ../layout/layout

block head-title
  title 엠티비 - #{appName}

block content

  .page-title
    h1 엠티비

  .depth2

    .depth3.
      TO DO: 많은 내용 보강

    .depth3
      .name 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/bikecity', target='_blank') 자출사, 자전거로 출퇴근하는 사람들
        li: a(href='http://cafe.naver.com/daekwangh', target='_blank') 자행사, 자전거로 행복한사람들
        li: a(href='http://cafe.naver.com/sanmarubike', target='_blank') 산마루 자전거풍경
        li: a(href='http://cafe.naver.com/mtbhouse', target='_blank') 권영학 MTB ACADEMY 
        li: a(href='http://cafe.daum.net/endbar', target='_blank') 자전거와 사람들
        li: a(href='http://cafe.daum.net/MTB', target='_blank') 나산탄, 나는 산악자전거를 탄다

    .depth3
      .name 블로그
      ul
        li: a(href='http://blog.naver.com/byo5641', target='_blank') 벙그리, 인내 그리고 기다림

    .depth3
      .name 해외 잡지
      ul
        li: a(href='http://www.mtb-news.de', target='_blank') MTB-NEWS

    .depth3
      .name 수입
      ul
        li: a(href='http://sevencycles.co.kr', target='_blank') http://sevencycles.co.kr
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 라이트스피드
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 무츠
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 라피에르, 니콜라이, 예티, 놀리
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 라이트빌, 스팽크

  include _mall.jade