extends ../layout/layout

block head-title
  title 로드/산악 자전거 - #{appName}

block content

    .page-title
      h1 로드/산악 자전거

    .category-detail

      .sub-category
        .name 자이언트
        ul
          li 수입
            a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
          li 
            a(href='', target='_blank')
          li 
            a(href='', target='_blank')
          li 
            a(href='', target='_blank')

      .sub-category
        .name 트랙
        ul
          li 수입
            a(href='', target='_blank')
          li 미니벨로
            a(href='', target='_blank') 
          li 영등포, 바이크메카
            a(href='http://cafe.naver.com/bicyclemeca', target='_blank') http://cafe.naver.com/bicyclemeca
          li 생활차
            a(href='', target='_blank')

      피나렐로, 벨로데이, http://cafe.naver.com/veloday
      
      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
