extends ../layout/layout

block head-title
  title 크로몰리 - #{appName}

block content

  .page-title
    h1 크로몰리

  .depth2
    
    .depth3
      .name 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/classicvintage', target='_blank') 클랙식 &amp; 빈티지

    .depth3
      .name 공방
      ul
        li: a(href='http://www.sweetcycles.co.kr', target='_blank') http://www.sweetcycles.co.kr
        li: a(href='http://www.dooboogong.com', target='_blank') http://www.dooboogong.com
        li: a(href='http://www.ditobici.com', target='_blank') http://www.ditobici.com

    .depth3
      .name 해외 공방
      ul
        li: a(href='http://www.thevanillaworkshop.com', target='_blank') http://www.thevanillaworkshop.com
        li: a(href='http://www.festka.com', target='_blank') http://www.festka.com
        li: a(href='http://www.mapbicycles.com', target='_blank') http://www.mapbicycles.com
        li: a(href='http://www.feathercycles.com', target='_blank') http://www.feathercycles.com
        li: a(href='http://fireflybicycles.com', target='_blank') http://fireflybicycles.com
        li: a(href='http://www.vanhulsteijn.com', target='_blank') http://www.vanhulsteijn.com

    .depth3
      .name 수입
      ul
        li: a(href='http://www.plushbikes.com', target='_blank') http://www.plushbikes.com, 셜리

    .depth3
      .name 국내 샾
      ul
        li: a(href='http://cafe.naver.com/zionbike', target='_blank') http://cafe.naver.com/zionbike, 풍납동
        li: a(href='http://bikelymall.co.kr', target='_blank') http://bikelymall.co.kr
        li: a(href='http://blog.naver.com/bikely_tour', target='_blank') Bikely Tourist
        li: a(href='http://blog.naver.com/bikely', target='_blank') Bikely

    .depth3
      .name 해외 샾
      ul
        li: a(href='http://bluelug.com', target='_blank') http://bluelug.com

  include _mall.jade
    