extends ../layout/layout

block head-title
  title 미니벨로- #{appName}

block content

  .page-title
    h1 미니벨로

  .depth2

    .depth3
      .name 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/minivelobike', target='_blank') 내 마음속의 미니벨로
        li: a(href='http://cafe.naver.com/brompton', target='_blank') 브롬톤
        li: a(href='http://cafe.naver.com/strida', target='_blank') 스트라이다
        li: a(href='http://cafe.naver.com/dahon', target='_blank') 다혼

    .depth3
      .name 브롬톤
      ul
        li: a(href='http://www.brompton.com', target='_blank') http://www.brompton.com
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 브롬톤, 스트라이다, 버디
        li: a(href='http://bb5.co.kr', target='_blank') http://bb5.co.kr, 반포대교
        li: a(href='http://fullouter.co.kr', target='_blank') http://fullouter.co.kr, 뚝섬유원지역
        li: a(href='', target='_blank')
        li: a(href='', target='_blank')

    .depth3
      .name 스트라이다, 버디
      ul
        li: a(href='http://www.strida.com', target='_blank') http://www.strida.com
        li: a(href='http://www.birdybike.com', target='_blank') http://www.birdybike.com
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 브롬톤, 스트라이다, 버디

    .depth3
      .name 다혼
      ul
        li: a(href='http://dahon.com', target='_blank') http://dahon.com
        li: a(href='http://www.dahonbikes.co.kr', target='_blank') http://www.dahonbikes.co.kr

    .depth3
      .name 티티카카
      ul
        li: a(href='http://www.ticamini.com', target='_blank') http://www.ticamini.com

    .depth3
      .name 몰튼
      ul
        li: a(href='http://www.moultonbicycles.co.uk', target='_blank') http://www.moultonbicycles.co.uk
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr
      
    .depth3
      .name 바이크프라이데이
      ul
        li: a(href='https://www.bikefriday.com/', target='_blank') https://www.bikefriday.com/
        li: a(href='http://www.bikefridaykorea.com', target='_blank') http://www.bikefridaykorea.com

  include _mall.jade