extends ../layout/layout

block head-title
  title 투어링 - #{appName}

block content

  .page-title
    h1 투어링

  .depth2
    .depth3
      .name 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/biketravelers', target='_blank') 자여사, 자전거로 여행하는 사람들
        li: a(href='http://cafe.naver.com/surlybike', target='_blank') Surly로 떠나는 자전거 여행
        li: a(href='http://cafe.daum.net/dongali', target='_blank') 아마추어 자전거여행 동호회!

    .depth3
      .name 국내 여행
      ul
        li: a(href='http://blog.naver.com/mountaintour', target='_blank') 터벅이의 아웃도어 스토리
        li: a(href='http://blog.naver.com/looker78', target='_blank') 김군's 독거총각의 일탈~
        li: a(href='http://blog.naver.com/han_jae1009', target='_blank') 바람의 아들, 내 가슴을 뛰게 하는 일을 하자
        li: a(href='http://blog.naver.com/skyblue2311', target='_blank') 해리님의 블로그

    .depth3
      .name 해외 여행
      ul
        li: a(href='http://www.universewithme.com', target='_blank') 우주 여행자의 자전거 세계 여행
        li: a(href='http://blog.naver.com/dpsystem', target='_blank') 김기사,박대리의 자전거 세계여행
        li: a(href='http://blog.naver.com/akwgood', target='_blank') 테리의 자전거여행
        li: a(href='https://www.facebook.com/parkjouha', target='_blank') 박주하, Facebook
        li: a(href='http://bikingpark.blog.me', target='_blank') 노마드, 박주하, Biking Nomad
        li: a(href='http://parkjouha.blog.me', target='_blank') 노마드, 박주하, Biking Bohemian

    .depth3
      .name 잡지
      ul
        li: a(href='http://bunyanvelo.com', target='_blank') BUNYAN VELO
    
    .depth3
      .name 구매 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220380387184', target='_blank') 칫솔, 투어링 자전거, 2015
        li: a(href='http://blog.naver.com/dpsystem/220633371902', target='_blank') 김기사, 알톤스포츠의 여행용 자전거 투어로드, 2016

    .depth3
      .name 자전거 
      ul
        li: a(href='http://surlybikes.com', target='_blank') http://surlybikes.com
        li: a(href='http://bikelymall.co.kr', target='_blank') http://bikelymall.co.kr, 셜리
        li: a(href='http://www.plushbikes.com', target='_blank') http://www.plushbikes.com, 셜리

      ul
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr, 투어로드
        li: a(href='http://www.synkeybike.com', target='_blank') http://www.synkeybike.com, 후지 투어링
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 캐논데일 투어링
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com, AWOL
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com, 520
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 제이미스 오로라
        li: a(href='http://www.wiawis.com', target='_blank') http://www.wiawis.com, DONAR

    .depth3
      .name 부품
      ul
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr
        li: a(href='http://www.jagang.co.kr', target='_blank') http://www.jagang.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, AXIOM

    
    .depth3
      .name 투어링 샾
      ul
        li: a(href='http://bikelymall.co.kr', target='_blank') http://bikelymall.co.kr
        li: a(href='http://blog.naver.com/bikely_tour', target='_blank') Bikely Tourist
        li: a(href='http://blog.naver.com/bikely', target='_blank') Bikely

  include _mall.jade