extends ../layout/layout

block head-title
  title 팻바이크 - #{appName}

block content

  .page-title
    h1 팻바이크

  .depth2

    .depth3.
      TO DO: 많은 내용 보강

    .depth3
      .name 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/fatbikes', target='_blank') 팻빠


    .depth3
      .name 블로그
      ul
        li: a(href='http://blog.naver.com/fatbike', target='_blank') 팻빠의 Fat Bike 이야기
        li: a(href='http://blog.naver.com/camp345', target='_blank') 캠퍼, Return to nature!
        li: a(href='', target='_blank')
        li: a(href='', target='_blank')

    .depth3
      .name 수입
      ul
        li: a(href='http://www.plushbikes.com', target='_blank') http://www.plushbikes.com, 셜리
    
    .depth3
      .name 팻바이크 전문 샾
      ul
        li: a(href='http://fatbike.cafe24.com', target='_blank') http://fatbike.cafe24.com, 언빌바이크, 경기 안산

  include _mall.jade