extends ../layout/layout

block head-title
  title 물통 - #{appName}

block content

  .page-title
    h1 물통 케이지

  .depth2

    .depth3
      //.name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220476338697', target='_blank') 칫솔, 물통 케이지 2015
        li: a(href='http://blog.naver.com/akiliner/220666958579', target='_blank') 칫솔, 물통 케이지 2016
        li: a(href='http://blog.naver.com/akiliner/220841267496', target='_blank') 칫솔, SKS Anywhere
      ul
        li: a(href='http://blog.naver.com/bikely/220806559658', target='_blank') 바이클리, SKS Anywhere &plus; Salsa Anything Cage

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com

      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 미노우라
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com 
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키

      ul
        li: a(href='http://www.minoura.jp', target='_blank') http://www.minoura.jp
        li: a(href='http://www.freeparable.com', target='_blank') http://www.freeparable.com, 몽키 케이지, 고릴라 케이지

      ul
        li: a(href='http://alpha-int.co.kr', target='_blank') http://alpha-int.co.kr, 카멜백

  include _mall.jade