extends ../layout/layout

block head-title
  title 물통 - #{appName}

block content

  .page-title
    h1 물통 케이지

  .depth2

    .depth3
      .name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220476338697', target='_blank') 칫솔, 물통 케이지, 2015

    .depth3
      .name 수입
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
      ul
        li: a(href='http://www.minoura.jp', target='_blank') http://www.minoura.jp
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 미노우라

  include _mall.jade