extends ../layout/layout

block head-title
  title 물통 - #{appName}

block content

    .page-title
      h1 물통

    .category-detail

      .sub-category
        .name 물통 케이지
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 물통
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      include _mall.jade