extends ../layout/layout

block head-title
  title 물통 - #{appName}

block content

  .page-title
    h1 물통

  .category-detail

    .subc
      .name 물통 케이지
      ul
        li: a(href='http://blog.naver.com/akiliner/220476338697', target='_blank') 칫솔, 물통 케이지, 2015

  include _mall.jade