extends ../layout/layout

block head-title
  title 물통 - #{appName}

block content

  .page-title
    h1 물통 케이지

  .depth2

    .depth3
      //.name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220476338697', target='_blank') 칫솔, 물통 케이지, 2015

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com

      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 미노우라
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com 
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr

      ul
        li: a(href='http://www.minoura.jp', target='_blank') http://www.minoura.jp

  include _mall.jade