extends ../layout/layout

block head-title
  title 브레이크 - #{appName}

block content

  .page-title
    h1 브레이크

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/27', target='_blank') 자전거공작소, V 림브레이크 조정
        li: a(href='http://biketool.tistory.com/45', target='_blank') 자전거공작소, V 브레이크 패드 교체
        li: a(href='http://biketool.tistory.com/50', target='_blank') 자전거공작소, V 브레이크암 제거와 장착
      ul
        li: a(href='http://biketool.tistory.com/74', target='_blank') 자전거공작소, 캘리퍼 브레이크 세팅, 로드바이크
      ul
        li: a(href='http://biketool.tistory.com/75', target='_blank') 자전거공작소, 림 브레이크 속선 교체
        li: a(href='http://biketool.tistory.com/93', target='_blank') 자전거공작소, 변속기 및 림 브레이크 겉선 교체
        li: a(href='http://biketool.tistory.com/77', target='_blank') 자전거공작소, 브레이크, 변속기속선 체인의 관리와 오일링
        li: a(href='http://biketool.tistory.com/94', target='_blank') 자전거공작소, 케이블 커터
      ul
        li: a(href='http://biketool.tistory.com/116', target='_blank') 자전거공작소, 브레이크 패드 종류와 선택
        li: a(href='http://biketool.tistory.com/117', target='_blank') 자전거공작소, 브레이크 패드 소음 발생시 대처와 관리법
      ul
        li: a(href='http://biketool.tistory.com/62', target='_blank') 자전거공작소, 시마노 디스크 브레이크 각 부분 명칭과 그에 대한 이해
        li: a(href='http://biketool.tistory.com/37', target='_blank') 자전거공작소, 디스크 브레이크 로터 설치
        li: a(href='http://biketool.tistory.com/90', target='_blank') 자전거공작소, 디스크 브레이크 로터 교정
        li: a(href='http://biketool.tistory.com/55', target='_blank') 자전거공작소, 시마노 디스크 브레이크 패드교체와 패드정렬
        li: a(href='http://biketool.tistory.com/118', target='_blank') 자전거공작소, 디스크 브레이크 피스톤 청소및 정렬
        li: a(href='http://biketool.tistory.com/119', target='_blank') 자전거공작소, 시마노 유압 디스크브레이크 호스 절단과 설치
        li: a(href='http://biketool.tistory.com/120', target='_blank') 자전거공작소, 유압브레이크 케이블 커터, 엔드 프레서
        li: a(href='http://biketool.tistory.com/63', target='_blank') 자전거공작소, 시마노 디스크 브레이크 블리딩 1, 오일 보충으로 간단하게
        li: a(href='http://biketool.tistory.com/64', target='_blank') 자전거공작소, 시마노 디스크 브레이크 블리딩 2, 오일 교체
        li: a(href='http://biketool.tistory.com/73', target='_blank') 자전거공작소, 디스크 브레이크 마운트 페이싱 IS방식
        li: a(href='http://biketool.tistory.com/92', target='_blank') 자전거공작소, 디스크 브레이크 마운트와 아답터에 대한 이해

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 스램
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로
      ul
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 제그와이어
      ul
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, TRP, 텍트로
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 마구라
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com


  include _mall.jade