extends ../layout/layout

block head-title
  title 브레이크 - #{appName}

block content

  .page-title
    h1 브레이크

  .depth2

    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220741783576', target='_blank') 칫솔, 로드 브레이크 레버 유격
        li: a(href='http://blog.naver.com/akiliner/220742686506', target='_blank') 칫솔, 브레이킹
      ul
        li: a(href='http://biketool.tistory.com/74', target='_blank') 자전거공작소, 캘리퍼 브레이크 세팅, 로드바이크
        li: a(href='http://biketool.tistory.com/227', target='_blank') 자전거공작소, 로드바이크 캘리퍼 브레이크 설치와 세팅법
        li: a(href='http://biketool.tistory.com/262', target='_blank') 자전거공작소, 로드바이크 브레이크 레버 간격 조절법
      ul
        li: a(href='http://biketool.tistory.com/27', target='_blank') 자전거공작소, V 림브레이크 조정
        li: a(href='http://biketool.tistory.com/45', target='_blank') 자전거공작소, V 브레이크 패드 교체
        li: a(href='http://biketool.tistory.com/50', target='_blank') 자전거공작소, V 브레이크암 제거와 장착
      ul
        li: a(href='http://biketool.tistory.com/75', target='_blank') 자전거공작소, 림 브레이크 속선 교체
        li: a(href='http://biketool.tistory.com/93', target='_blank') 자전거공작소, 변속기 및 림 브레이크 겉선 교체
        li: a(href='http://biketool.tistory.com/252', target='_blank') 자전거공작소, 자전거 속선과 겉선
        li: a(href='http://biketool.tistory.com/77', target='_blank') 자전거공작소, 브레이크, 변속기속선 체인의 관리와 오일링
        li: a(href='http://biketool.tistory.com/94', target='_blank') 자전거공작소, 케이블 커터
      ul
        li: a(href='http://biketool.tistory.com/174', target='_blank') 자전거공작소, 림브레이크 세팅, 토우인 토우아웃
        li: a(href='http://biketool.tistory.com/265', target='_blank') 자전거공작소, 카트리지형 림브레이크 패드 교체법
      ul
        li: a(href='http://biketool.tistory.com/116', target='_blank') 자전거공작소, 브레이크 패드 종류와 선택
        li: a(href='http://biketool.tistory.com/117', target='_blank') 자전거공작소, 브레이크 패드 소음 발생시 대처와 관리법
      ul
        li: a(href='http://biketool.tistory.com/62', target='_blank') 자전거공작소, 시마노 디스크 브레이크 각 부분 명칭과 그에 대한 이해
        li: a(href='http://biketool.tistory.com/216', target='_blank') 자전거공작소, 자전거 유압 디스크 브레이크의 구조와 작동원리
        li: a(href='http://biketool.tistory.com/208', target='_blank') 자전거공작소, 로드 바이크용 디스크 브레이크
        li: a(href='http://biketool.tistory.com/55', target='_blank') 자전거공작소, 시마노 디스크 브레이크 패드교체와 패드정렬
        li: a(href='http://biketool.tistory.com/118', target='_blank') 자전거공작소, 디스크 브레이크 피스톤 청소및 정렬
      ul
        li: a(href='http://biketool.tistory.com/37', target='_blank') 자전거공작소, 디스크 브레이크 로터 설치
        li: a(href='http://biketool.tistory.com/90', target='_blank') 자전거공작소, 디스크 브레이크 로터 교정
        li: a(href='http://biketool.tistory.com/250', target='_blank') 자전거공작소, 디스크 브레이크 로터 교정 게이지와 교정 렌치
        li: a(href='http://biketool.tistory.com/241', target='_blank') 자전거공작소, 브레이크 로터 센터락을 육볼트로 전환하는 아답터
        li: a(href='http://biketool.tistory.com/257', target='_blank') 자전거공작소, 쓰루 액슬 방식 허브의 센터락 방식 로터 분리와 장착법
        li: a(href='http://biketool.tistory.com/280', target='_blank') 자전거공작소, 디스크 브레이크 로터 수명과 교체시기
        li: a(href='http://biketool.tistory.com/299', target='_blank') 자전거공작소, 디스크 브레이크 6볼트 로터 교체법
      ul
        li: a(href='http://biketool.tistory.com/119', target='_blank') 자전거공작소, 시마노 유압 디스크브레이크 호스 절단과 설치
        li: a(href='http://biketool.tistory.com/220', target='_blank') 자전거공작소, 자전거 유압 디스크 브레이크 호스 종류와 선택법
        li: a(href='http://biketool.tistory.com/120', target='_blank') 자전거공작소, 유압브레이크 케이블 커터, 엔드 프레서
        li: a(href='http://biketool.tistory.com/63', target='_blank') 자전거공작소, 시마노 디스크 브레이크 블리딩 1, 오일 보충으로 간단하게
        li: a(href='http://biketool.tistory.com/64', target='_blank') 자전거공작소, 시마노 디스크 브레이크 블리딩 2, 오일 교체
        li: a(href='http://biketool.tistory.com/258', target='_blank') 자전거공작소, 시마노 디스크 브레이크 블리딩에 필요한 공구
        li: a(href='http://biketool.tistory.com/187', target='_blank') 자전거공작소, 아비드 디스크 브레이크 블리딩 1
        li: a(href='http://biketool.tistory.com/188', target='_blank') 자전거공작소, 아비드 디스크 브레이크 블리딩 2
        li: a(href='http://biketool.tistory.com/218', target='_blank') 자전거공작소, 아비드 유압 디스크 브레이크 호스 길이 조정
        li: a(href='http://biketool.tistory.com/300', target='_blank') 자전거공작소, 시마노 디스크 브레이크에 도트오일 사용해도 되는가?
      ul
        li: a(href='http://biketool.tistory.com/73', target='_blank') 자전거공작소, 디스크 브레이크 마운트 페이싱 IS방식
        li: a(href='http://biketool.tistory.com/92', target='_blank') 자전거공작소, 디스크 브레이크 마운트와 아답터에 대한 이해

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 스램
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로
      ul
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 제그와이어
      ul
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, TRP, 텍트로
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 마구라
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com


  include _mall.jade