extends ../layout/layout

block head-title
  title 체인 - #{appName}

block content

  .page-title
    h1 체인

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/35', target='_blank') 자전거공작소, 체인의 제거와 설치
      ul
        li: a(href='https://www.youtube.com/watch?v=mSMw_MCQ60k', target='_blank') 도구 없이 체인 상태 확인하는 법<br>Quick and Easy Chain Wear

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, KMC
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 코넥스

  include _mall.jade