extends ../layout/layout

block head-title
  title 체인 오일 - #{appName}

block content

  .page-title
    h1 체인 오일

  .depth2

    .depth3
      .name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220307849872', target='_blank') 칫솔, 간단한 구동계 청소법, 2015
        li: a(href='http://blog.naver.com/akiliner/220594330748', target='_blank') 칫솔, 체인 오일, 2016

    .depth3
      .name 제품
      ul
        li: a(href='http://www.f2k.co.kr', target='_blank') http://www.f2k.co.kr, 플루이드필름
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 모건 블루
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 먹오프

  include _mall.jade