extends ../layout/layout

block head-title
  title 체인 - #{appName}

block content

  .page-title
    h1 체인

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/49', target='_blank') 자전거공작소, 체인 관리와 체인 체커 사용법
        li: a(href='http://biketool.tistory.com/104', target='_blank') 자전거공작소, 체인 체커
        li: a(href='http://biketool.tistory.com/35', target='_blank') 자전거공작소, 체인의 제거와 설치
        li: a(href='http://biketool.tistory.com/132', target='_blank') 자전거공작소, 체인 커터
        li: a(href='http://biketool.tistory.com/153', target='_blank') 자전거공작소, 체인 길이의 결정과 교체
        li: a(href='http://biketool.tistory.com/230', target='_blank') 자전거공작소, 체인 길이의 결정과 교체, 시마노 스페셜 체인핀으로
        li: a(href='http://biketool.tistory.com/213', target='_blank') 자전거공작소, 픽시 체인 장력과 휠셋 탈부착
        li: a(href='http://biketool.tistory.com/223', target='_blank') 자전거공작소, [응급대처요령] 체인이 끊어졌을 때 연결법
        li: a(href='http://biketool.tistory.com/224', target='_blank') 자전거공작소, [응급대처요령] 체인이 이탈되었을 때 복구법
        li: a(href='http://biketool.tistory.com/249', target='_blank') 자전거공작소, 체인의 사이즈, 방향, 호환에 관하여
        li: a(href='http://biketool.tistory.com/292', target='_blank') 자전거공작소, 체인 교체 후 소음이 발생한다?
        li: a(href='http://biketool.tistory.com/305', target='_blank') 자전거공작소, 체인 이탈을 방지하는 장치 체인캐쳐, 체인키퍼
      ul
        li: a(href='http://biketool.tistory.com/115', target='_blank') 자전거공작소, 자전거 정비에 필요한 각종 오일들
        li: a(href='http://biketool.tistory.com/192', target='_blank') 자전거공작소, 체인오일 종류와 특성, 간단한 테스트
      ul
        li: a(href='http://blog.naver.com/akiliner/220307849872', target='_blank') 칫솔, 간단한 구동계 청소법
        li: a(href='http://blog.naver.com/akiliner/220594330748', target='_blank') 칫솔, 체인 오일 2016
      ul
        li: a(href='https://www.youtube.com/watch?v=mSMw_MCQ60k', target='_blank') 도구 없이 체인 상태 확인하는 법<br>Quick and Easy Chain Wear

    .depth3
      .name 체인
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, KMC
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 코넥스

    .depth3
      .name 체인 오일
      ul
        li: a(href='http://www.f2k.co.kr', target='_blank') http://www.f2k.co.kr, 플루이드필름
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 모건 블루
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 먹오프
        li: a(href='http://www.spomate.com', target='_blank') http://www.spomate.com, 모토렉스
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔

  include _mall.jade