extends ../layout/layout

block head-title
  title 의류 - #{appName}

block content

  .page-title
    h1 의류

  .depth2

    .depth3
      .name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220045853057', target='_blank') 칫솔, 자전거 의류, 2014
        li: a(href='http://blog.naver.com/akiliner/220183090534', target='_blank') 칫솔, 사계절 로드 옷 입는 법, 2014
        li: a(href='http://blog.naver.com/akiliner/220632604353', target='_blank') 칫솔, 온도별 로드 의복 세팅, 2016
        li: a(href='http://blog.naver.com/akiliner/220351309854', target='_blank') 칫솔, 패드 크림, 2015
        li: a(href='http://blog.naver.com/akiliner/220595609269', target='_blank') 칫솔, 의류 직구, 2016
        li: a(href='http://blog.naver.com/wizzle1/60195831008', target='_blank') 금보, 라이딩 져지 실리콘 밴딩 처리

    .depth3
      .name 감성과 출혈
      ul
        li: a(href='http://www.rapha.cc', target='_blank') http://www.rapha.cc
        li: a(href='http://www.watts-cycling.com', target='_blank') http://www.watts-cycling.com
      ul
        li: a(href='http://www.assos.com', target='_blank') http://www.assos.com
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr
        li: a(href='http://www.assosproshopseoul.com', target='_blank') http://www.assosproshopseoul.com
        li: a(href='http://www.assosfactoryoutlet.com', target='_blank') http://www.assosfactoryoutlet.com
      ul
        li: a(href='http://www.7meshinc.com', target='_blank') http://www.7meshinc.com
        li: a(href='http://exoshop.kr', target='_blank') http://exoshop.kr
      ul
        li: a(href='http://pasnormalstudios.com', target='_blank') http://pasnormalstudios.com
        li: a(href='http://www.pasnormalstudios.co.kr', target='_blank') http://www.pasnormalstudios.co.kr
      ul
        li: a(href='http://www.zerorh.com', target='_blank') http://www.zerorh.com
        li: a(href='http://www.rpmsports.co.kr', target='_blank') http://www.rpmsports.co.kr
      ul
        li: a(href='http://maap.cc', target='_blank') http://maap.cc
        li: a(href='http://www.22peloton.com', target='_blank') http://www.22peloton.com
      ul
        li: a(href='http://www.cafeducycliste.com', target='_blank') http://www.cafeducycliste.com
        li: a(href='http://jaggad.com', target='_blank') http://jaggad.com
        li: a(href='http://www.ashmei.com', target='_blank') http://www.ashmei.com
        li: a(href='http://sweats.co.kr', target='_blank') http://sweats.co.kr
      ul
        li: a(href='http://www.demarchi.com', target='_blank') http://www.demarchi.com
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr
      ul
        li: a(href='https://www.twinsix.com', target='_blank') https://www.twinsix.com
        li: a(href='http://www.tokyofixed.cc', target='_blank') http://www.tokyofixed.cc
        li: a(href='http://www.chpt3.com', target='_blank') http://www.chpt3.com
        li: a(href='https://www.voidcycling.com', target='_blank') https://www.voidcycling.com

    .depth3
      .name 이쁜 가격, 이쁜 디자인
      ul
        li: a(href='http://creamseoul.com', target='_blank') http://creamseoul.com
        li: a(href='https://www.facebook.com/jnsbseoul', target='_blank') https://www.facebook.com/jnsbseoul
      ul
        li: a(href='http://www.psyclist.co.kr', target='_blank') http://www.psyclist.co.kr
        li: a(href='https://www.facebook.com/sssunkim', target='_blank') https://www.facebook.com/sssunkim
      ul
        li: a(href='http://www.ulvine.com', target='_blank') http://www.ulvine.com
        li: a(href='http://www.nsrworld.co.kr', target='_blank') http://www.nsrworld.co.kr
        li: a(href='http://www.basports.co.kr', target='_blank') http://www.basports.co.kr
        li: a(href='http://www.flybshop.com', target='_blank') http://www.flybshop.com
        li: a(href='http://www.mosfi.co.kr', target='_blank') http://www.mosfi.co.kr
        li: a(href='http://www.gripe.co.kr', target='_blank') http://www.gripe.co.kr
        li: a(href='http://vintelo.co.kr', target='_blank') http://vintelo.co.kr
        li: a(href='http://www.53t.cc', target='_blank') http://www.53t.cc
        li: a(href='http://www.ossbike.com', target='_blank') http://www.ossbike.com
        li: a(href='http://www.racetime.co.kr', target='_blank') http://www.racetime.co.kr

    .depth3
      .name 좋은 가격, 좋은 품질
      ul
        li: a(href='http://isilence.co.kr', target='_blank') http://isilence.co.kr
        li: a(href='http://www.ardenbike.co.kr', target='_blank') http://www.ardenbike.co.kr
        li: a(href='', target='_blank')
      ul
        li: a(href='http://www.wiggle.co.uk/dhb', target='_blank') http://www.wiggle.co.uk/dhb
        li: a(href='https://www.youtube.com/playlist?list=PLp3uA5UsvqxhJg6G_9yFRucO2x8pQNok8', target='_blank') dhb 홍보 영상

    .depth3
      .name 옷도 파는 자전거 브랜드
      ul
       li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr
       li: a(href='https://www.specializedstore.co.kr', target='_blank') https://www.specializedstore.co.kr
       li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
       li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
       li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com
       li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com

    .depth3
      .name 나만의 스타일을 찾아서
      ul
        li: a(href='http://www.santinikorea.com', target='_blank') http://www.santinikorea.com
        li: a(href='http://www.castelli-cycling.com', target='_blank') http://www.castelli-cycling.com
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 카스텔리
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 스고이, 스포트풀
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 날리니
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 아디다스

    .depth3
      .name 슈퍼 파워
      ul
        li: a(href='http://2ndwind.kr', target='_blank') http://2ndwind.kr
        li: a(href='http://www.fox-racing.co.kr', target='_blank') http://www.fox-racing.co.kr
        li: a(href='http://www.gloriasports.com', target='_blank') http://www.gloriasports.com
        li: a(href='http://www.mcnsports.co.kr', target='_blank') http://www.mcnsports.co.kr
        li: a(href='http://www.worldmtb.co.kr', target='_blank') http://www.worldmtb.co.kr
        li: a(href='http://www.hicts.co.kr', target='_blank') http://www.hicts.co.kr
        li: a(href='http://www.cfbike.co.kr', target='_blank') http://www.cfbike.co.kr
        li: a(href='http://www.loverious.com', target='_blank') http://www.loverious.com

    .depth3
      .name 의류 몰
      ul
        li: a(href='http://ansports.co.kr', target='_blank') http://ansports.co.kr
        li: a(href='http://www.btocmart.com', target='_blank') http://www.btocmart.com
        li: a(href='http://www.xrun.co.kr', target='_blank') http://www.xrun.co.kr
        li: a(href='http://www.prider.co.kr', target='_blank') http://www.prider.co.kr

    .depth3
      .name 다운힐
      ul
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, iXS
        li: a(href='http://exo.kr', target='_blank') http://exo.kr

    .depth3
      .name 반사 조끼
      ul
        li: a(href='http://korashop.weebly.com', target='_blank') http://korashop.weebly.com
        li 잘츠만 Safety Vest for Sports

    .depth3
      .name 내의
      ul
        li: a(href='http://www.henrimaurice.com', target='_blank') http://www.henrimaurice.com
    
    .depth3
      .name 마스크
      ul
        li: a(href='http://www.buff.kr', target='_blank') http://www.buff.kr
        li: a(href='http://www.naroo.net', target='_blank') http://www.naroo.net

    .depth3
      .name 양말
      ul
        li: a(href='http://sootysmith.com', target='_blank') http://sootysmith.com
        li: a(href='http://sockstaz.com', target='_blank') http://sockstaz.com

    .depth3
      .name 지갑
      ul
        li: a(href='http://blog.naver.com/pinmanix/220631466838', target='_blank') 공돌이, 벨로이 엘리먼트 포켓 & 폰 포켓 지갑 리뷰
        li: a(href='http://bellroy.com', target='_blank') http://bellroy.com

      ul
        li: a(href='http://www.bm-works.co.kr', target='_blank') http://www.bm-works.co.kr

  include _mall.jade