extends ../layout/layout

block head-title
  title 커뮤니티 - #{appName}

block content

  .page-title
    h1 커뮤니티

  .depth2

    .depth3
      .name 국내 뉴스
      ul
        li: a(href='http://www.bikem.co.kr', target='_blank') http://www.bikem.co.kr
        li: a(href='http://www.bicyclenews.co.kr', target='_blank') http://www.bicyclenews.co.kr
        li: a(href='http://www.bikenews.co.kr', target='_blank') http://www.bikenews.co.kr
        li: a(href='http://www.bicyclelife.net', target='_blank') http://www.bicyclelife.net
        li: a(href='http://www.thebike.co.kr', target='_blank') http://www.thebike.co.kr
        li: a(href='http://www.cycletv.co.kr', target='_blank') http://www.cycletv.co.kr
        li: a(href='http://velopaper.com', target='_blank') http://velopaper.com
        li: a(href='http://baqui.co.kr', target='_blank') http://baqui.co.kr
        li: a(href='http://bike-korea.com', target='_blank') http://bike-korea.com
        li: a(href='http://blog.naver.com/piggybankm', target='_blank') http://blog.naver.com/piggybankm

    .depth3
      .name 행사일정
      ul
        li: a(href='http://race.thebike.co.kr', target='_blank') http://race.thebike.co.kr
        li: a(href='http://bike-korea.com/cal', target='_blank') http://bike-korea.com/cal

    .depth3
      .name 해외 뉴스
      ul
        li: a(href='http://www.cyclingweekly.co.uk', target='_blank') http://www.cyclingweekly.co.uk

    .depth3
      .name 로드 커뮤니티
      ul
        li: a(href='http://corearoadbike.com', target='_blank') http://corearoadbike.com
        li: a(href='http://www.ppomppu.co.kr/zboard/zboard.php?id=bike', target='_blank') http://www.ppomppu.co.kr/.../bike
        li: a(href='http://www.clien.net/cs2/bbs/board.php?bo_table=cm_bike', target='_blank') http://www.clien.net/.../bike
        li: a(href='http://cafe.naver.com/womensriding', target='_blank') http://cafe.naver.com/womensriding
        li: a(href='http://cafe.naver.com/tourde', target='_blank') http://cafe.naver.com/tourde
        li: a(href='http://cafe.naver.com/boodooctc', target='_blank') http://cafe.naver.com/boodooctc
        li: a(href='https://www.facebook.com/groups/janchadang', target='_blank') https://www.facebook.com/groups/janchadang
        li: a(href='https://www.facebook.com/groups/tenpro', target='_blank') https://www.facebook.com/groups/tenpro

    .depth3
      .name 로드 블로그
      ul
        li: a(href='http://blog.naver.com/piggybankm', target='_blank') 피기, piggybankm
        li: a(href='http://blog.naver.com/miao333', target='_blank') 묘묘, 妙...
        li: a(href='http://blog.naver.com/k75nh', target='_blank') 철마, Couldn't be happier ^^
        li: a(href='http://blog.naver.com/tobemusic', target='_blank') 포유, 라이딩 홀릭
        li: a(href='http://dibdiv.blog.me', target='_blank') 액트, Little Fluffy Clouds
        li: a(href='http://missw.blog.me', target='_blank') 우잉, 달려야 사는 여자
        li: a(href='http://blog.naver.com/rsj55', target='_blank') 보랑스럽게 달리기:D
        li: a(href='http://gtmasta.blog.me', target='_blank') 뽀돌이, 아침꽃을 저녁에 줍다
        li: a(href='http://choics79.blog.me', target='_blank') 하늘누리 자전거 스튜디오
        li: a(href='http://iam0884.blog.me', target='_blank') 막쑥님 못생겼어요
        li: a(href='http://jty40.blog.me', target='_blank') 금개구리의 즐거운 스트레스
        li: a(href='http://blog.naver.com/antina0414', target='_blank') 구피의 블로그
        li: a(href='http://blog.naver.com/bell3574', target='_blank') 테너, 두 바퀴로 보는 세상
        li: a(href='http://ngpnephilim.blog.me', target='_blank') 호윤, МЕЧТА
        li: a(href='http://blog.naver.com/teamukgang', target='_blank') 광추
        li: a(href='http://blog.naver.com/helio_graphy', target='_blank') 박구녕
        li: a(href='http://blog.naver.com/nalgea32', target='_blank') 오쟉의 본격 흐르는 블로그
        
    .depth3
      .name 로드 라이딩
      ul
        li: a(href='http://blog.naver.com/miao333/220717372467', target='_blank') 묘묘, 자이언트 설악그란폰도 208km
        li: a(href='http://blog.naver.com/tobemusic/220100238513', target='_blank') 포유, 텐프로, 강릉 - 목포 1박 2일 570km 투어
        li: a(href='http://gtmasta.blog.me/220116750466', target='_blank') 뽀돌이, 달달이 춘천 삼재라이딩
        li: a(href='http://ngpnephilim.blog.me/220341637771', target='_blank') 호윤, 평탄한 코스. 지옥의 경기. NSR 2015 마스터즈 사이클 나주투어
        li: a(href='http://blog.naver.com/teamukgang/220329219128', target='_blank') 광추, 22th 페달 : 카페 그란폰도
        li: a(href='http://blog.naver.com/teamukgang/220418464143', target='_blank') 광추, 53th 페달 : 춘천-양양
        li: a(href='http://jty40.blog.me/220468553270', target='_blank') 금개구리, 13회 대관령힐클라임 대회 출전 스토리
        li: a(href='http://blog.naver.com/akiliner/220635542508', target='_blank') 칫솔, 무박 부산 2014

    .depth3
      .name MTB 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/bikecity', target='_blank') 자출사, 자전거로 출퇴근하는 사람들
        li: a(href='http://cafe.naver.com/daekwangh', target='_blank') 자행사, 자전거로 행복한사람들
        li: a(href='http://cafe.naver.com/sanmarubike', target='_blank') 산마루 자전거풍경
        li: a(href='http://cafe.naver.com/mtbhouse', target='_blank') 권영학 MTB ACADEMY 
        li: a(href='http://cafe.daum.net/endbar', target='_blank') 자전거와 사람들
        li: a(href='http://cafe.daum.net/MTB', target='_blank') 나산탄, 나는 산악자전거를 탄다

    .depth3
      .name MTB 블로그
      ul
        li: a(href='http://blog.naver.com/byo5641', target='_blank') 벙그리, 인내 그리고 기다림

    .depth3
      .name MTB 해외 잡지
      ul
        li: a(href='http://www.mtb-news.de', target='_blank') http://www.mtb-news.de

    .depth3
      .name 사이클로크로스 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/cxclub', target='_blank') http://cafe.naver.com/cxclub

    .depth3
      .name 팻바이크 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/fatbikes', target='_blank') http://cafe.naver.com/fatbikes

    .depth3
      .name 핏바이크 블로그
      ul
        li: a(href='http://blog.naver.com/fatbike', target='_blank') 팻빠의 Fat Bike 이야기
        li: a(href='http://blog.naver.com/camp345', target='_blank') 캠퍼, Return to nature!

    .depth3
      .name 미니벨로 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/minivelobike', target='_blank') http://cafe.naver.com/minivelobike
        li: a(href='http://cafe.naver.com/brompton', target='_blank') http://cafe.naver.com/brompton
        li: a(href='http://cafe.naver.com/strida', target='_blank') http://cafe.naver.com/strida
        li: a(href='http://cafe.naver.com/dahon', target='_blank') http://cafe.naver.com/dahon

    .depth3
      .name 클라식 자전거 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/classicvintage', target='_blank') http://cafe.naver.com/classicvintage

    .depth3
      .name 투어링 커뮤니티
      ul
        li: a(href='http://cafe.naver.com/biketravelers', target='_blank') 자여사, 자전거로 여행하는 사람들
        li: a(href='http://cafe.naver.com/surlybike', target='_blank') Surly로 떠나는 자전거 여행
        li: a(href='http://cafe.daum.net/dongali', target='_blank') 아마추어 자전거여행 동호회!

    .depth3
      .name 국내 여행
      ul
        li: a(href='http://blog.naver.com/mountaintour', target='_blank') 터벅이의 아웃도어 스토리
        li: a(href='http://blog.naver.com/looker78', target='_blank') 김군's 독거총각의 일탈~
        li: a(href='http://blog.naver.com/han_jae1009', target='_blank') 바람의 아들, 내 가슴을 뛰게 하는 일을 하자
        li: a(href='http://blog.naver.com/skyblue2311', target='_blank') 해리님의 블로그

    .depth3
      .name 해외 여행
      ul
        li: a(href='http://www.universewithme.com', target='_blank') 우주 여행자의 자전거 세계 여행
        li: a(href='http://blog.naver.com/dpsystem', target='_blank') 김기사,박대리의 자전거 세계여행
        li: a(href='http://blog.naver.com/akwgood', target='_blank') 테리의 자전거여행
        li: a(href='https://www.facebook.com/parkjouha', target='_blank') 박주하, Facebook
        li: a(href='http://bikingpark.blog.me', target='_blank') 노마드, 박주하, Biking Nomad
        li: a(href='http://parkjouha.blog.me', target='_blank') 노마드, 박주하, Biking Bohemian

    .depth3
      .name 투어링 잡지
      ul
        li: a(href='http://bunyanvelo.com', target='_blank') BUNYAN VELO

    .depth3
      .name 카툰
      ul
        li: a(href='http://corearoadbike.com/board/board.php?g_id=MAGAZINE&t_id=b175413305205&page=2&no=16', target='_blank') 최창흠, 고수

    .depth3
      .name 에세이
      ul
        li: a(href='http://www.ppomppu.co.kr/zboard/view.php?id=bike&no=304954', target='_blank') 그 동안 자전거를 타면서 느낀 점
        li: a(href='http://www.ppomppu.co.kr/zboard/view.php?id=bike&no=305029', target='_blank') 그 동안 자전거를 타면서 느낀 점 2
      ul
        li: a(href='https://www.youtube.com/watch?v=V0r8T0g8Zoo', target='_blank') 컬투쇼, 중랑천 자전거 동호회의 비밀
