extends ../layout/layout

block head-title
  title 컴퓨터 - #{appName}

block content

  .page-title
    h1 컴퓨터

  .list-at-pages

    .group
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
      ul
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 캣아이
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO

    .group
      .name 가민
      ul
        li: a(href='http://www.garmin.kr', target='_blank') http://www.garmin.kr
        li: a(href='http://www.watts-cycling.com', target='_blank') http://www.watts-cycling.com, 가민

      ul
        li: a(href='http://blog.naver.com/manatica', target='_blank') http://blog.naver.com/manatica, 사용법
        li: a(href='https://www.fitfiletools.com', target='_blank') https://www.fitfiletools.com, 가민 fit 파일 툴

      ul
        li: a(href='http://blog.naver.com/akiliner/220277102248', target='_blank') 칫솔, 가민(Garmin) 510 사용기, 2015
        li: a(href='http://blog.naver.com/akiliner/220276676151', target='_blank') 칫솔, 가민 510 신형 센서 인식, 2015
        li: a(href='http://blog.naver.com/akiliner/220788029929', target='_blank') 칫솔, 가민 센서 방출

    .group
      .name 핸드폰 앱
      ul
        li: a(href='https://www.strava.com', target='_blank') https://www.strava.com
        li: a(href='https://www.endomondo.com', target='_blank') https://www.endomondo.com

    .group
      .name 유틸리티 서비스
      ul
        li: a(href='https://tapiriik.com', target='_blank') https://tapiriik.com, 동기화
        li: a(href='http://veloviewer.com', target='_blank') http://veloviewer.com, 시각화

  include _mall.pug