extends ../layout/layout

block head-title
  title 화장품 - #{appName}

block content

  .page-title
    h1 화장품

  .list-at-pages

    .group
      ul
        li: a(href='http://blog.naver.com/akiliner/220699988963', target='_blank') 칫솔, 자외선 차단제 2016
        li: a(href='http://blog.naver.com/akiliner/220746208122', target='_blank') 칫솔, 버프 vs 선크림
      ul
        li: a(href='http://cosmen.blog.me/220114344833', target='_blank') 화장품 골라주는 남자, 자외선차단제의 모든 것
        li: a(href='http://cosmen.blog.me/162552970', target='_blank') 화장품 골라주는 남자, 클렌저의 모든 것 개정판
        li: a(href='http://cosmen.blog.me/189149406', target='_blank') 화장품 골라주는 남자, 자외선차단제 이중세안


  include _mall.pug