extends ../layout/layout

block head-title
  title 화장품 - #{appName}

block content

  .page-title
    h1 화장품

  .depth2

    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220699988963', target='_blank') 칫솔, 자외선 차단제 2016
        li: a(href='http://blog.naver.com/akiliner/220746208122', target='_blank') 칫솔, 버프 vs 선크림

  include _mall.jade