extends ../layout/layout

block head-title
  title 코스 - #{appName}

block content

  .page-title
    h1 코스

  .depth2

    .depth3
      .name 자전거길
      ul
        li: a(href='http://www.bike.go.kr', target='_blank') http://www.bike.go.kr
        li: a(href='http://www.riverguide.go.kr', target='_blank') http://www.riverguide.go.kr
        li: a(href='http://www.ajagil.or.kr', target='_blank') http://www.ajagil.or.kr
      ul
        li: a(href='http://sanguru.blog.me', target='_blank') 산구루, 4대강 국토종주 자전거길 가이드
        li: a(href='http://blog.naver.com/leon711', target='_blank') 레옹, 국토종주, 전국자전거길 대동여지도
        li: a(href='http://blog.naver.com/mountaintour', target='_blank') 터벅이의 아웃도어 스토리

    .depth3
      .name 서울
      ul
        li: a(href='http://blog.naver.com/akiliner/220177604679', target='_blank') 칫솔, 자전거 타고 한강 다리 건너는 법
        li: a(href='http://blog.naver.com/akiliner/220683334046', target='_blank') 칫솔, 서울 코스

    .depth3
      .name 서울 근교
      ul
        li: a(href='http://blog.naver.com/akiliner/220684028955', target='_blank') 칫솔, 서울 북동부 100
        li: a(href='http://blog.naver.com/akiliner/220684164968', target='_blank') 칫솔, 서울 북동부 200
        li: a(href='http://blog.naver.com/akiliner/220681831710', target='_blank') 칫솔, 서울 동부 100
        li: a(href='http://blog.naver.com/akiliner/220682329832', target='_blank') 칫솔, 서울 동부 200
        li: a(href='http://blog.naver.com/akiliner/220683099155', target='_blank') 칫솔, 서울 남동부 100
        li: a(href='http://blog.naver.com/akiliner/220685471475', target='_blank') 칫솔, 서울 남동부 200
        li: a(href='http://blog.naver.com/akiliner/220683101370', target='_blank') 칫솔, 서울 남서부 100
        li: a(href='http://blog.naver.com/akiliner/220683101549', target='_blank') 칫솔, 서울 남서부 200
        li: a(href='http://blog.naver.com/akiliner/220683561943', target='_blank') 칫솔, 서울 북서부 100
        li: a(href='http://blog.naver.com/akiliner/220683597385', target='_blank') 칫솔, 서울 북서부 200
      ul
        li: a(href='http://blog.naver.com/akiliner/220294971207', target='_blank') 칫솔, 동부 고개 전도
        li: a(href='http://blog.naver.com/akiliner/220725505315', target='_blank') 칫솔, 한 눈에 보는 강원도
        li: a(href='http://blog.naver.com/akiliner/220749070898', target='_blank') 칫솔, 양평-용문-단월-청운 6번 국도 우회
        li: a(href='http://blog.naver.com/akiliner/220751372638', target='_blank') 칫솔, 소요산역-연천읍 자전거길 계획
        li: a(href='http://blog.naver.com/akiliner/220768628925', target='_blank') 칫솔, 북부 순환 라이딩
        li: a(href='http://blog.naver.com/akiliner/220812228199', target='_blank') 칫솔, 경강선

    .depth3
      .name 서울-춘천
      ul
        li: a(href='http://blog.naver.com/akiliner/220774896447', target='_blank') 칫솔, 월릉교-춘천 라이딩
        li: a(href='http://blog.naver.com/h_22/220748184626', target='_blank') 비룡, 시마노맨즈클럽 춘천 라이딩 영상

    .depth3
      .name 서울-부산
      ul
        li: a(href='http://blog.naver.com/akiliner/220360663858', target='_blank') 칫솔, 쉽게 가는 국토종주
        li: a(href='http://blog.naver.com/akiliner/220401227909', target='_blank') 칫솔, 국토종주 준비물, 2015
        li: a(href='http://blog.naver.com/akiliner/220321818374', target='_blank') 칫솔, 2013, 브롬톤 국토종주 후기
        li: a(href='http://blog.naver.com/akiliner/220444768710', target='_blank') 칫솔, 2015, 팀 촙오 국토종주 후기 
        li: a(href='http://blog.naver.com/akiliner/220635542508', target='_blank') 칫솔, 무박 부산 2014
        li: a(href='http://blog.naver.com/akiliner/220837387272', target='_blank') 칫솔, 국토종주 코스 변주
        li: a(href='http://blog.naver.com/akiliner/220786372022', target='_blank') 칫솔, 나도 누나랑 국토종주 가고 싶다
      ul
        li: a(href='http://blog.naver.com/daddybike/220755611614', target='_blank') 아빠마법사, 국토종주, 정서진 출발지점으로 가는 방법

    .depth3
      .name 제주도
      ul
        li: a(href='http://blog.naver.com/akiliner/220810869341', target='_blank') 칫솔, 제주 환상 자전거길 코스
        li: a(href='http://blog.naver.com/akiliner/220809815451', target='_blank') 칫솔, 제주도 코스
        li: a(href='http://blog.naver.com/akiliner/220810026169', target='_blank') 칫솔, 제주도로 자전거 가져가기

    .depth3
      .name 전국
      ul
        li: a(href='http://blog.naver.com/akiliner/220113008481', target='_blank') 칫솔, 1800K 2014
        li: a(href='http://blog.naver.com/akiliner/220835055944', target='_blank') 칫솔, 1300K 2016
        li: a(href='http://blog.naver.com/akiliner/220779510057', target='_blank') 칫솔, 낙동강-섬진강
        li: a(href='http://blog.naver.com/akiliner/220779659100', target='_blank') 칫솔, 섬진강-금강
      ul
       li: a(href='http://www.korea-randonneurs.org/perma-KR.htm', target='_blank') http://www.korea-randonneurs.org/perma-KR.htm

        
    .depth3
      .name 로드 라이더
      ul
        li: a(href='https://www.strava.com/athletes/4979881', target='_blank') Jason Ham<br>https://www.strava.com/athletes/4979881
      
      ul
        li: a(href='https://www.strava.com/athletes/2523095', target='_blank') 박종하<br>https://www.strava.com/athletes/2523095

      ul
        li: a(href='http://dibdiv.blog.me', target='_blank') 액트, Little Fluffy Clouds
        li: a(href='https://www.strava.com/athletes/408815', target='_blank') https://www.strava.com/athletes/408815
      ul
        li: a(href='http://choics79.blog.me', target='_blank') 하늘누리 자전거 스튜디오
        li: a(href='https://www.strava.com/athletes/139709', target='_blank') https://www.strava.com/athletes/139709
      ul
        li: a(href='http://blog.naver.com/teamukgang', target='_blank') 광추

    .depth3
      .name 산악 라이더
      ul
        li: a(href='http://blog.naver.com/byo5641', target='_blank') 벙그리, 인내 그리고 기다림
        li: a(href='http://blog.naver.com/zone0314', target='_blank') 늘푸른, 늘푸른 자전거 여행
        li: a(href='http://blog.naver.com/camp345', target='_blank') 캠퍼, Return to nature!

 