extends ../layout/layout

block head-title
  title 코스 - #{appName}

block content

  .page-title
    h1 코스

  .depth2

    .depth3
      .name 자전거길
      ul
        li: a(href='http://www.bike.go.kr', target='_blank') http://www.bike.go.kr
        li: a(href='http://www.riverguide.go.kr', target='_blank') http://www.riverguide.go.kr
        li: a(href='http://www.ajagil.or.kr', target='_blank') http://www.ajagil.or.kr
      ul
        li: a(href='http://sanguru.blog.me', target='_blank') 산구루, 4대강 국토종주 자전거길 가이드
        li: a(href='http://blog.naver.com/leon711', target='_blank') 레옹, 국토종주, 전국자전거길 대동여지도
        li: a(href='http://blog.naver.com/mountaintour', target='_blank') 터벅이의 아웃도어 스토리

    .depth3
      .name 국토종주
      ul
        li: a(href='http://blog.naver.com/akiliner/220360663858', target='_blank') 칫솔, 쉽게 가는 국토종주
        li: a(href='http://blog.naver.com/akiliner/220401227909', target='_blank') 칫솔, 국토종주 준비물, 2015
        li: a(href='http://blog.naver.com/akiliner/220321818374', target='_blank') 칫솔, 2013, 브롬톤 국토종주 후기
        li: a(href='http://blog.naver.com/akiliner/220444768710', target='_blank') 칫솔, 2015, 팀 촙오 국토종주 후기 
        li: a(href='http://blog.naver.com/akiliner/220113008481', target='_blank') 칫솔, 4대강 그랜드 투어 1600K, 2014

    .depth3
      .name 서울
      ul
        li: a(href='http://blog.naver.com/akiliner/220177604679', target='_blank') 칫솔, 자전거 타고 한강 다리 건너는 법
        li: a(href='http://blog.naver.com/akiliner/220489620588', target='_blank') 칫솔, 서울 코스 종합, 하트, 북악등

    .depth3
      .name 서울 근교
      ul
        li: a(href='http://blog.naver.com/akiliner/220294971207', target='_blank') 칫솔, 동부 고개 전도
        li: a(href='http://blog.naver.com/akiliner/220479810031', target='_blank') 칫솔, 동부 코스 종합
        li: a(href='http://blog.naver.com/akiliner/220482997315', target='_blank') 칫솔, 북부 코스 종합
        li: a(href='http://blog.naver.com/akiliner/220481732056', target='_blank') 칫솔, 남부 코스 종합
        li: a(href='http://blog.naver.com/akiliner/220493182394', target='_blank') 칫솔, 북서부 코스 종합

    .depth3
      .name 전국
      ul
        li: a(href='http://www.korea-randonneurs.org/perma-KR.htm', target='_blank') http://www.korea-randonneurs.org/perma-KR.htm
        li: a(href='http://www.everytrail.co.kr', target='_blank') http://www.everytrail.co.kr
        li: a(href='http://blog.naver.com/akiliner/220635542508', target='_blank') 칫솔, 무박 부산 2014
        
    .depth3
      .name 로드 라이더
      ul
        li: a(href='https://www.strava.com/athletes/4979881', target='_blank') Jason Ham<br>https://www.strava.com/athletes/4979881
      
      ul
        li: a(href='https://www.strava.com/athletes/2523095', target='_blank') 박종하<br>https://www.strava.com/athletes/2523095

      ul
        li: a(href='http://dibdiv.blog.me', target='_blank') 액트, Little Fluffy Clouds
        li: a(href='https://www.strava.com/athletes/408815', target='_blank') https://www.strava.com/athletes/408815
      ul
        li: a(href='http://choics79.blog.me', target='_blank') 하늘누리 자전거 스튜디오
        li: a(href='https://www.strava.com/athletes/139709', target='_blank') https://www.strava.com/athletes/139709
      ul
        li: a(href='http://blog.naver.com/teamukgang', target='_blank') 광추

    .depth3
      .name 산악 라이더
      ul
        li: a(href='http://blog.naver.com/byo5641', target='_blank') 벙그리, 인내 그리고 기다림

    .depth3
      .name GPX 편집 프로그램
      ul
        li: a(href='http://www.gpsnote.net', target='_blank') http://www.gpsnote.net

    .depth3
      .name GPX 편집 사이트
      ul
        li: a(href='https://www.plotaroute.com', target='_blank') https://www.plotaroute.com
        li: a(href='https://ridewithgps.com', target='_blank') https://ridewithgps.com
        li: a(href='http://bikeroutetoaster.com', target='_blank') http://bikeroutetoaster.com

    .depth3
      .name GPX 유틸리티 사이트
      ul
        li: a(href='http://bikeroute.xyz', target='_blank') 네이버 지도 경로를 GPX로
        li: a(href='http://joewein.net/bike/gpxmerge/?ismobile=1&ismobile=1', target='_blank') Merge GPX
        li: a(href='http://www.maplorer.com/view_gpx.html', target='_blank') GPX Viewer
        li: a(href='http://www.gpsvisualizer.com', target='_blank') http://www.gpsvisualizer.com
        li: a(href='', target='_blank')
        