extends ../layout/layout

block head-title
  title 코스 편집 - #{appName}

block content

    .page-title
      h1 코스 편집

    .category-detail

      .sub-category
        .name GPX 편집 프로그램
        ul
          li GPS ROUTE EDITOR
            a(href='http://www.gpsnote.net', target='_blank') http://www.gpsnote.net

      .sub-category
        .name GPX 편집 사이트
        ul
          li plotaroute.com
            a(href='https://www.plotaroute.com', target='_blank') https://www.plotaroute.com
          li Ride with GPS 
            a(href='https://ridewithgps.com', target='_blank') https://ridewithgps.com
          li BikeRouteToaster 
            a(href='http://bikeroutetoaster.com', target='_blank') http://bikeroutetoaster.com
