extends ../layout/layout

block head-title
  title 코스 도구- #{appName}

block content

  .page-title
    h1 코스 도구

  .list-at-pages

    .group
      .name GPX 보기
      ul
        li: a(href='http://www.mygpsfiles.com/app', target='_blank') http://www.mygpsfiles.com/app

    .group
      .name GPX 편집
      ul
        li: a(href='https://www.plotaroute.com', target='_blank') https://www.plotaroute.com
        li: a(href='https://ridewithgps.com', target='_blank') https://ridewithgps.com
        li: a(href='http://bikeroutetoaster.com', target='_blank') http://bikeroutetoaster.com
      ul
        li: a(href='http://www.gpsnote.net', target='_blank') http://www.gpsnote.net

    .group
      .name GPX 유틸리티
      ul
        li: a(href='http://bikeroute.xyz', target='_blank') http://bikeroute.xyz, 네이버 지도 경로를 GPX로
        li: a(href='http://joewein.net/bike/gpxmerge/?ismobile=1&ismobile=1', target='_blank') Merge GPX
        li: a(href='http://www.gpsvisualizer.com', target='_blank') http://www.gpsvisualizer.com

    .group
      ul
        li: a(href='http://blog.naver.com/akiliner/220820788547', target='_blank') 칫솔, 코스 만들 때 어려운 점들
        li: a(href='http://blog.naver.com/akiliner/220821661377', target='_blank') 칫솔, Strava Heatmap
