extends ../layout/layout

block head-title
  title 로드 코스 - #{appName}

block content

  .page-title
    h1 로드 코스

  .category-detail

    .subc
      .name 자전거길

      ul
        li: a(href='http://www.bike.go.kr', target='_blank') http://www.bike.go.kr
        li: a(href='http://www.riverguide.go.kr', target='_blank') http://www.riverguide.go.kr
        li: a(href='http://www.ajagil.or.kr', target='_blank') http://www.ajagil.or.kr


    | http://www.everytrail.co.kr