extends ../layout/layout

block head-title
  title 자전거길 - #{appName}

block content

  .page-title
    h1 자전거길

  .category-detail

    .subc
      .name 정부 제공
      ul
        li: a(href='http://www.bike.go.kr', target='_blank') http://www.bike.go.kr
        li: a(href='http://www.riverguide.go.kr', target='_blank') http://www.riverguide.go.kr
        li: a(href='http://www.ajagil.or.kr', target='_blank') http://www.ajagil.or.kr
