extends ../layout/layout

block head-title
  title 구동계 - #{appName}

block content

  .page-title
    h1 구동계

  .depth2

    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220689209160', target='_blank') 칫솔, BB 종류
        li: a(href='http://blog.naver.com/akiliner/220699674640', target='_blank') 칫솔, 스프라켓 호환성
        li: a(href='http://blog.naver.com/akiliner/220701128642', target='_blank') 칫솔, 큐팩터
        li: a(href='http://blog.naver.com/akiliner/220701548838', target='_blank') 칫솔, 구동계 호환성 1
      ul
        li: a(href='http://biketool.tistory.com/34', target='_blank') 자전거공작소, 시마노란 무엇인가?
        li: a(href='http://biketool.tistory.com/71', target='_blank') 자전거공작소, 스람이란 무엇인가?
      ul
        li: a(href='http://biketool.tistory.com/32', target='_blank') 자전거공작소, 구형 사각방식 크랭크 정비
        li: a(href='http://biketool.tistory.com/88', target='_blank') 자전거공작소, 크랭크 풀러
      ul
        li: a(href='http://biketool.tistory.com/87', target='_blank') 자전거공작소, 옥타링크 크랭크 정비
        li: a(href='http://biketool.tistory.com/86', target='_blank') 자전거공작소, 사각, 옥타링크 비비 공구
      ul
        li: a(href='http://biketool.tistory.com/53', target='_blank') 자전거공작소, 시마노 일체형 크랭크 분리
        li: a(href='http://biketool.tistory.com/54', target='_blank') 자전거공작소, 시마노 일체형 크랭크 장착
        li: a(href='http://biketool.tistory.com/83', target='_blank') 자전거공작소, 일체형 크랭크 비비 렌치
        li: a(href='http://biketool.tistory.com/108', target='_blank') 자전거공작소, 시마노 XTR FC-M970 크랭크 장착과 분리
        li: a(href='http://biketool.tistory.com/111', target='_blank') 자전거공작소, 로드바이크 시마노 일체형 크랭크 설치
      ul
        li: a(href='http://biketool.tistory.com/112', target='_blank') 자전거공작소, 자전거 사이즈2, 크랭크 사이즈와 크랭크 선택
      ul
        li: a(href='http://biketool.tistory.com/100', target='_blank') 자전거공작소, 체인링 분해와 설치
        li: a(href='http://biketool.tistory.com/105', target='_blank') 자전거공작소, 크랭크암 나사산 살리기
      ul
        li: a(href='http://biketool.tistory.com/18', target='_blank') 자전거공작소, 스프라켓 카세트 제거와 장착 1
        li: a(href='http://biketool.tistory.com/19', target='_blank') 자전거공작소, 스프라켓 카세트 제거와 장착 2
        li: a(href='http://biketool.tistory.com/84', target='_blank') 자전거공작소, 스프라켓 카세트 및 시마노 로터 공구
        li: a(href='http://biketool.tistory.com/106', target='_blank') 자전거공작소, 스프라켓 관리와 스프라켓 체커 사용법
      ul
        li: a(href='http://biketool.tistory.com/40', target='_blank') 자전거공작소, 변속기 행어에 대한 이해
        li: a(href='http://biketool.tistory.com/61', target='_blank') 자전거공작소, 뒷변속기 행어 교정
        li: a(href='http://biketool.tistory.com/101', target='_blank') 자전거공작소, 뒷변속기 행어 교정 공구
        li: a(href='http://biketool.tistory.com/121', target='_blank') 자전거공작소, 변속기 행어 교체
      ul
        li: a(href='http://biketool.tistory.com/65', target='_blank') 자전거공작소, 변속기 속선 교체
        li: a(href='http://biketool.tistory.com/93', target='_blank') 자전거공작소, 변속기 및 림 브레이크 겉선 교체
        li: a(href='http://biketool.tistory.com/77', target='_blank') 자전거공작소, 브레이크, 변속기속선 체인의 관리와 오일링
      ul
        li: a(href='http://biketool.tistory.com/23', target='_blank') 자전거공작소, 자전거 앞변속기 조정
        li: a(href='http://biketool.tistory.com/21', target='_blank') 자전거공작소, 자전거 뒷변속기 조정
      ul
        li: a(href='http://biketool.tistory.com/115', target='_blank') 자전거공작소, 자전거 정비에 필요한 각종 오일들
      ul
        li: a(href='https://www.youtube.com/watch?v=zeb80OeL_pM', target='_blank') How To Clean/Lube Rear Derailleur Pulleys

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 스램
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 로터
      ul
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 제그와이어
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com
        li: a(href='http://www.oneupcomponents.com', target='_blank') http://www.oneupcomponents.com

  include _mall.jade