extends ../layout/layout

block head-title
  title 구동계 - #{appName}

block content

  .page-title
    h1 구동계

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/34', target='_blank') 자전거공작소, 시마노란 무엇인가?
        li: a(href='http://biketool.tistory.com/71', target='_blank') 자전거공작소, 스람이란 무엇인가?
      ul
        li: a(href='http://biketool.tistory.com/32', target='_blank') 자전거공작소, 구형 사각방식 크랭크셋 분리 및 비비 정비
        li: a(href='http://biketool.tistory.com/83', target='_blank') 자전거공작소, 일체형 비비 렌치
      ul
        li: a(href='http://biketool.tistory.com/53', target='_blank') 자전거공작소, 시마노 일체형 크랭크 분리 및 장착 1
        li: a(href='http://biketool.tistory.com/54', target='_blank') 자전거공작소, 시마노 일체형 크랭크 분리 및 장착 2
      ul
        li: a(href='http://biketool.tistory.com/18', target='_blank') 자전거공작소, 스프라켓 카세트 제거와 장착 1
        li: a(href='http://biketool.tistory.com/19', target='_blank') 자전거공작소, 스프라켓 카세트 제거와 장착 2
        li: a(href='http://biketool.tistory.com/84', target='_blank') 자전거공작소, 스프라켓 카세트 및 시마노 로터 공구
      ul
        li: a(href='http://biketool.tistory.com/40', target='_blank') 자전거공작소, 변속기 행어에 대한 이해
        li: a(href='http://biketool.tistory.com/61', target='_blank') 자전거공작소, 뒷변속기 행어 교정
      ul
        li: a(href='http://biketool.tistory.com/65', target='_blank') 자전거공작소, 변속기 속선 교체
        li: a(href='http://biketool.tistory.com/77', target='_blank') 자전거공작소, 브레이크, 변속기속선 체인의 관리와 오일링
      ul
        li: a(href='http://biketool.tistory.com/23', target='_blank') 자전거공작소, 자전거 앞변속기 조정
        li: a(href='http://biketool.tistory.com/21', target='_blank') 자전거공작소, 자전거 뒷변속기 조정
      ul
        li: a(href='https://www.youtube.com/watch?v=zeb80OeL_pM', target='_blank') How To Clean/Lube Rear Derailleur Pulleys

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 스램
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 로터
      ul
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 제그와이어

  include _mall.jade