extends ../layout/layout

block head-title
  title 구동계 - #{appName}

block content

  .page-title
    h1 구동계

  .depth2

    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220689209160', target='_blank') 칫솔, BB 종류
        li: a(href='http://blog.naver.com/akiliner/220699674640', target='_blank') 칫솔, 스프라켓 호환성
        li: a(href='http://blog.naver.com/akiliner/220701128642', target='_blank') 칫솔, 큐팩터
        li: a(href='http://blog.naver.com/akiliner/220701548838', target='_blank') 칫솔, 구동계 호환성 1
        li: a(href='http://blog.naver.com/akiliner/220702631172', target='_blank') 칫솔, 구동계 호환성 2
      ul
        li: a(href='http://biketool.tistory.com/34', target='_blank') 자전거공작소, 시마노란 무엇인가?
        li: a(href='http://biketool.tistory.com/71', target='_blank') 자전거공작소, 스람이란 무엇인가?
        li: a(href='http://biketool.tistory.com/356', target='_blank') 자전거공작소, 로드바이크의 혁신 스람의 무선전동변속 시스템 이탭
      ul
        li: a(href='http://biketool.tistory.com/235', target='_blank') 자전거공작소, 로드바이크 변속기 - 레버
        li: a(href='http://biketool.tistory.com/236', target='_blank') 자전거공작소, 로드바이크 뒷변속기 조정
        li: a(href='http://biketool.tistory.com/237', target='_blank') 자전거공작소, 로드바이크 변속기 - 트리밍
        li: a(href='http://biketool.tistory.com/238', target='_blank') 자전거공작소, 로드바이크 앞변속기 조정
        li: a(href='http://biketool.tistory.com/263', target='_blank') 자전거공작소, [응급대처요령]로드바이크 일체형레버가 돌아갔을 때
      ul
        li: a(href='http://biketool.tistory.com/294', target='_blank') 자전거공작소, 산악자전거 시마노 앞변속기 레버는 20단과 30단이 호환되는가?
      ul
        li: a(href='http://biketool.tistory.com/23', target='_blank') 자전거공작소, 자전거 앞변속기 조정
        li: a(href='http://biketool.tistory.com/219', target='_blank') 자전거공작소, 자전거 앞변속기의 종류와 사양표
        li: a(href='http://biketool.tistory.com/283', target='_blank') 자전거공작소, 자전거 앞변속기 2단에서 고정하는 방법
        li: a(href='http://biketool.tistory.com/296', target='_blank') 자전거공작소, 앞변속기 밴드 아답터? 브래이즈 온 아답터?
      ul
        li: a(href='http://biketool.tistory.com/21', target='_blank') 자전거공작소, 자전거 뒷변속기 조정
        li: a(href='http://biketool.tistory.com/205', target='_blank') 자전거공작소, 자전거 뒷변속기 각 부위 명칭과 변속기 관리법
        li: a(href='http://biketool.tistory.com/212', target='_blank') 자전거공작소, 자전거 뒷변속기의 종류와 사양표
        li: a(href='http://biketool.tistory.com/298', target='_blank') 자전거공작소, 스람 레버에 시마노 변속기 호환되는가?
        li: a(href='http://biketool.tistory.com/307', target='_blank') 자전거공작소, 시마노 뒷변속기 스테빌라이저 스위치
      ul
        li: a(href='http://biketool.tistory.com/222', target='_blank') 자전거공작소, 자전거 변속기 교체법
        li: a(href='http://biketool.tistory.com/350', target='_blank') 자전거공작소, 자전거 변속에 이상이 발생하는 열 가지 이유
      ul
        li: a(href='http://biketool.tistory.com/40', target='_blank') 자전거공작소, 변속기 행어에 대한 이해
        li: a(href='http://biketool.tistory.com/61', target='_blank') 자전거공작소, 뒷변속기 행어 교정
        li: a(href='http://biketool.tistory.com/101', target='_blank') 자전거공작소, 뒷변속기 행어 교정 공구
        li: a(href='http://biketool.tistory.com/121', target='_blank') 자전거공작소, 변속기 행어 교체
        li: a(href='http://biketool.tistory.com/225', target='_blank') 자전거공작소, [응급대처요령] 변속기나 행어가 휘었을 때 응급교정
        li: a(href='http://biketool.tistory.com/240', target='_blank') 자전거공작소, [응급대처요령] 변속기 파손시 응급 체인연결
      ul
        li: a(href='http://biketool.tistory.com/65', target='_blank') 자전거공작소, 변속기 속선 교체
        li: a(href='http://biketool.tistory.com/93', target='_blank') 자전거공작소, 변속기 및 림 브레이크 겉선 교체
        li: a(href='http://biketool.tistory.com/252', target='_blank') 자전거공작소, 자전거 속선과 겉선
        li: a(href='http://biketool.tistory.com/77', target='_blank') 자전거공작소, 브레이크, 변속기속선 체인의 관리와 오일링
        li: a(href='http://biketool.tistory.com/115', target='_blank') 자전거공작소, 자전거 정비에 필요한 각종 오일들
      ul
        li: a(href='http://biketool.tistory.com/32', target='_blank') 자전거공작소, 구형 사각방식 크랭크 정비
        li: a(href='http://biketool.tistory.com/88', target='_blank') 자전거공작소, 크랭크 풀러
        li: a(href='http://biketool.tistory.com/254', target='_blank') 자전거공작소, 카트리지형 사각비비 크랭크 정비
        li: a(href='http://biketool.tistory.com/87', target='_blank') 자전거공작소, 옥타링크 크랭크 정비
        li: a(href='http://biketool.tistory.com/86', target='_blank') 자전거공작소, 사각, 옥타링크 비비 공구
        li: a(href='http://biketool.tistory.com/53', target='_blank') 자전거공작소, 시마노 일체형 크랭크 분리
        li: a(href='http://biketool.tistory.com/54', target='_blank') 자전거공작소, 시마노 일체형 크랭크 장착
        li: a(href='http://biketool.tistory.com/256', target='_blank') 자전거공작소, 시마노 일체형 비비 크랭크세트 박스 개봉과 장착
        li: a(href='http://biketool.tistory.com/83', target='_blank') 자전거공작소, 일체형 크랭크 비비 렌치
        li: a(href='http://biketool.tistory.com/108', target='_blank') 자전거공작소, 시마노 XTR FC-M970 크랭크 장착과 분리
        li: a(href='http://biketool.tistory.com/111', target='_blank') 자전거공작소, 로드바이크 시마노 일체형 크랭크 설치
        li: a(href='http://biketool.tistory.com/191', target='_blank') 자전거공작소, 나사산 없는 비비 BB30, PF30, 시마노 프레스핏에 관하여
        li: a(href='http://biketool.tistory.com/198', target='_blank') 자전거공작소, 나사산 없는 비비 BB30, PF30, 프레스핏 공구
        li: a(href='http://biketool.tistory.com/200', target='_blank') 자전거공작소, 시마노 프레스핏 비비 및 크랭크 분리와 설치
        li: a(href='http://biketool.tistory.com/217', target='_blank') 자전거공작소, 스람 GXP 크랭크셋 분리와 설치
        li: a(href='http://biketool.tistory.com/289', target='_blank') 자전거공작소, BB30 프레임에 시마노 일체형 크랭크를 사용할 수 있는가?
        li: a(href='http://biketool.tistory.com/308', target='_blank') 자전거공작소, 크랭크와 비비 공구 선택법
        li: a(href='http://biketool.tistory.com/309', target='_blank') 자전거공작소, 자전거 카트리지 베어링의 구조와 분리 장착법
        li: a(href='http://biketool.tistory.com/360', target='_blank') 자전거공작소, BSA 비비에 GXP 스람 레드 크랭크 사용할 수 있나요?
      ul
        li: a(href='http://biketool.tistory.com/112', target='_blank') 자전거공작소, 크랭크 사이즈와 크랭크 선택
        li: a(href='http://biketool.tistory.com/105', target='_blank') 자전거공작소, 크랭크암 나사산 살리기
      ul
        li: a(href='http://biketool.tistory.com/100', target='_blank') 자전거공작소, 체인링 분해와 설치
        li: a(href='http://biketool.tistory.com/190', target='_blank') 자전거공작소, 체인링 BCD에 관하여
        li: a(href='http://biketool.tistory.com/248', target='_blank') 자전거공작소, 체인링 수명과 교체시기
        li: a(href='http://biketool.tistory.com/291', target='_blank') 자전거공작소, 체인링 분해에 사용하는 별렌치 사이즈는?
        li: a(href='http://biketool.tistory.com/302', target='_blank') 자전거공작소, 체인링이 변형되었을 때 교정법
        li: a(href='http://biketool.tistory.com/338', target='_blank') 자전거공작소, 기어비 계산과 스탠다드, 미드컴팩트, 컴팩트 체인링
      ul
        li: a(href='http://biketool.tistory.com/215', target='_blank') 자전거공작소, 자전거 체인라인에 관하여
      ul
        li: a(href='https://www.youtube.com/watch?v=CvEaG1AdzFE', target='_blank') How to Adjust Front Derailleur Shifting and Position
        li: a(href='https://www.youtube.com/watch?v=zeb80OeL_pM', target='_blank') How To Clean/Lube Rear Derailleur Pulleys

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://bike.shimano.com', target='_blank') http://bike.shimano.com
        li: a(href='http://productinfo.shimano.com', target='_blank') http://productinfo.shimano.com
        li: a(href='http://si.shimano.com', target='_blank') http://si.shimano.com
      ul
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 스램
        li: a(href='https://www.sram.com', target='_blank') https://www.sram.com
      ul
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로
        li: a(href='http://www.campagnolo.com', target='_blank') http://www.campagnolo.com
      ul
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 로터
        li: a(href='http://rotorbike.com', target='_blank') http://rotorbike.com
      ul
        li: a(href='http://www.guandki.com', target='_blank') http://www.guandki.com, Praxis Works
        li: a(href='http://www.praxiscycles.com', target='_blank') http://www.praxiscycles.com
      ul
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 제그와이어
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com
        li: a(href='http://www.oneupcomponents.com', target='_blank') http://www.oneupcomponents.com

  include _mall.jade