extends ../layout/layout

block head-title
  title 구동계 - #{appName}

block content

  .page-title
    h1 구동계

  .depth2

    .depth3
      .name 제품
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 스램
        li: a(href='http://www.daejin-inc.com', target='_blank') http://www.daejin-inc.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 로터

      ul
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 제그와이어
      ul
        li: a(href='http://www.cometbicycle.com', target='_blank') http://www.cometbicycle.com, TRP, 텍트로

  include _mall.jade