extends ../layout/layout

block head-title
  title 산악 행사 - #{appName}

block content

  .page-title
    h1 산악 행사

  .category-detail

    .subc
      ul
        li: a(href='http://www.280rally.co.kr', target='_blank') http://www.280rally.co.kr

    .subc
      .name TO DO
      ul
        li ...