extends ../layout/layout

block head-title
  title 산악 행사 - #{appName}

block content

  .page-title
    h1 산악 행사

  .section
    | TO DO: 많은 내용 보강;

  .depth2

    .depth3
      ul
        li: a(href='http://www.280rally.co.kr', target='_blank') http://www.280rally.co.kr
