extends ../layout/layout

block head-title
  title 로드 행사 - #{appName}

block content

    .page-title
      h1 로드 행사

    .category-detail

      .sub-category
        ul
          li 코리아 란도너스
            a(href='http://www.korea-randonneurs.org', target='_blank') http://www.korea-randonneurs.org
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
