extends ../layout/layout

block head-title
  title 산악 행사 - #{appName}

block content

    .page-title
      h1 산악 행사

    .category-detail

      .sub-category
        .name 국내
        ul
          li 280 랠리
            a(href='http://www.280rally.co.kr', target='_blank') http://www.280rally.co.kr
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
