extends ../layout/layout

block head-title
  title 로드 행사 - #{appName}

block content

  .page-title
    h1 로드 행사

  .depth2

    .depth3
      .name 설악 그란폰도
      ul
        li: a(href='http://granfondo.kr', target='_blank') http://granfondo.kr

    .depth3
      .name 무주 그란폰도
      ul
        li: a(href='http://www.mujugranfondo.com', target='_blank') http://www.mujugranfondo.com
        li: a(href='https://www.youtube.com/watch?v=4T5jUS0rVZY', target='_blank') 2014 무주 그란폰도 피나렐로 코스 프리뷰

    .depth3
      .name 백두대간 그란폰도
      ul
        li: a(href='http://www.kcycle.or.kr', target='_blank') http://www.kcycle.or.kr

    .depth3
      .name 마스터즈 사이클 투어
      ul
        li: a(href='http://mct.cycling.or.kr', target='_blank') http://mct.cycling.or.kr
    
    .depth3
      .name 란도너스
      ul
        li: a(href='http://www.korea-randonneurs.org', target='_blank') http://www.korea-randonneurs.org
        li: a(href='http://www.paris-brest-paris.org', target='_blank') http://www.paris-brest-paris.org
        li: a(href='https://randonneurgotlost.wordpress.com/2013/01/15/초보자를-위한-란도너링-가이드/', target='_blank') 곰곰, 초보자를 위한 란도너링 가이드
        li: a(href='http://blog.naver.com/akiliner/220196307576', target='_blank') 칫솔, 란도너링 용어 탐구, 2014
        li: a(href='http://blog.daum.net/thanks2u2/464', target='_blank') 곽상준, 그랜드 랜도너스 1200km
        li: a(href='http://sayuyu.tistory.com/815', target='_blank') 사유유, 랜도너스 후기 모음
        li: a(href='http://cafe.naver.com/bikecity/1477374', target='_blank') 순대, 초보에서 초급으로 서울동200k 완주기
        li: a(href='https://www.facebook.com/jason.m.ham/posts/10155522504795386', target='_blank') Jason M. Ham, The 2015 Seoul 600
        li: a(href='http://bicycletimesmag.com/beginners-guide-randonneuring', target='_blank') A beginners guide to randonneuring
        li: a(href='http://www.bikequarterly.com/BQPBPEquipsurvey.pdf', target='_blank') A Survey of the Equipment in Paris-Brest-Paris 2007
