extends ../layout/layout

block head-title
  title 펜더 - #{appName}

block content

  .page-title
    h1 펜더

  .depth2

    .depth3
      .name 로드
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li 토픽 DeFender iGlow / 원통 싯포스트만

      ul
        li: a(href='http://ass-savers.com', target='_blank') http://ass-savers.com

    .depth3
      .name 투어/시티
      ul
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, SKS
      ul
        li: a(href='http://www.axiomgear.com', target='_blank') http://www.axiomgear.com
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, AXIOM

    .depth3
      .name 산악
      ul
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 마쉬 가드
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 락가즈
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽

  include _mall.jade