extends ../layout/layout

block head-title
  title 펜더 - #{appName}

block content

  .page-title
    h1 펜더

  .depth2

    .depth3
      //.name 수입
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, SKS
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, AXIOM
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB

      ul
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 마쉬 가드
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 락가즈
      ul
        li: a(href='http://www.axiomgear.com', target='_blank') http://www.axiomgear.com
        li: a(href='http://ass-savers.com', target='_blank') http://ass-savers.com
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com
   
  include _mall.jade