extends ../layout/layout

block head-title
  title 자세 - #{appName}

block content

  .page-title
    h1 자세

  .category-detail

    .subc
      .name 
      ul
        li: a(href='http://blog.naver.com/akiliner/220056405262', target='_blank') 칫솔, 자전거 피팅, 2014
        li: a(href='http://blog.naver.com/akiliner/220307081056', target='_blank') 칫솔, 평페달 사용자를 위한 자가 피팅법, 2015
        li: a(href='http://blog.naver.com/akiliner/220368197229', target='_blank') 칫솔, Bike Fit Intro, 2015
    
