extends ../layout/layout

block head-title
  title 피팅 - #{appName}

block content

  .page-title
    h1 피팅

  .depth2

    .depth3
      .name 페달링
      ul
        li: a(href='https://www.youtube.com/watch?v=TS6EbowMfKY', target='_blank') Wiggins: Perfection
        li: a(href='https://www.youtube.com/watch?v=fb11pKF6r-8', target='_blank') RTS RACING TEAM'S Scott Yang Training
      ul
        li: a(href='https://www.youtube.com/watch?v=NsFqRLnb2ng', target='_blank') funride, 장거리 라이딩
        li: a(href='https://www.youtube.com/watch?v=_-Tk_5PpmBc', target='_blank') funride, 댄싱
        li: a(href='https://www.youtube.com/watch?v=Bu2z6gmbpdY', target='_blank') funride, 이마나카 로드 테크닉
        li: a(href='https://www.youtube.com/watch?v=JGqTA64DIn0', target='_blank') funride, 라이딩 테크닉
        li: a(href='https://www.youtube.com/watch?v=h1h6dGYlNhw', target='_blank') funride, 코너링 테크닉
        li: a(href='https://www.youtube.com/watch?v=56BhS76GKbA', target='_blank') funride, 업힐 테크닉
        li: a(href='https://www.youtube.com/watch?v=kFDDWJONbgY', target='_blank') funride, 시마노 업힐
        li: a(href='https://www.youtube.com/watch?v=ViFgSgZZnNQ', target='_blank') funride, 시마노 페달링 실내
        li: a(href='https://www.youtube.com/watch?v=vXPcf19mK4Q', target='_blank') funride, 시마노 페달링 실전

      ul

    .depth3
      .name 피팅
      ul
        li: a(href='https://www.youtube.com/watch?v=20ZGYbKImSo', target='_blank') 자전거 피팅이란? - 스페셜라이즈드 바디지오메트리 핏 1편
        li: a(href='https://www.youtube.com/watch?v=OQ8kPVzoLp0', target='_blank') 실전 자전거 피팅 - 스페셜라이즈드 바디지오메트리 핏 2편
      ul
        li: a(href='http://blog.naver.com/akiliner/220056405262', target='_blank') 칫솔, 자전거 피팅, 2014
        li: a(href='http://blog.naver.com/akiliner/220307081056', target='_blank') 칫솔, 평페달 사용자를 위한 자가 피팅법, 2015
        li: a(href='http://blog.naver.com/akiliner/220368197229', target='_blank') 칫솔, Bike Fit Intro, 2015

      ul
        li: a(href='http://blog.naver.com/tobemusic/220476347835', target='_blank') 포유, 부천 사이클아카데미 자전거 피팅서비스

    .depth3
      .name 피팅 샾
      ul
        li: a(href='http://godkca.com', target='_blank') http://godkca.com, 뚝섬유원지역
        li: a(href='http://www.manitoubike.co.kr', target='_blank') http://www.manitoubike.co.kr, 중랑역
        li: a(href='http://www.qvelo.co.kr', target='_blank') http://www.qvelo.co.kr, 태릉입구역
        li: a(href='http://cafe.naver.com/zionbike', target='_blank') http://cafe.naver.com/zionbike, 풍납동
        li: a(href='http://www.peppha.co.kr', target='_blank') http://www.peppha.co.kr, 망원동
        li: a(href='https://www.facebook.com/specialized.xperience.center', target='_blank') https://www.facebook.com/specialized.xpc, 한남동
        li: a(href='http://www.korea-cycle.com', target='_blank') http://www.korea-cycle.com, 인천 계양구

    .depth3
      .name 피팅 제품
      ul
        li: a(href='https://www.ergon-bike.com', target='_blank') https://www.ergon-bike.com

  include _mall.jade