extends ../layout/layout

block head-title
  title 포크 - #{appName}

block content

  .page-title
    h1 포크

  .depth2
    .depth3
      ul
        li: a(href='http://biketool.tistory.com/42', target='_blank') 자전거공작소, 산악자전거 포크의 명칭과 그에 대한 이해
      ul
        li: a(href='http://biketool.tistory.com/41', target='_blank') 자전거공작소, 헤드세트에 관하여
        li: a(href='http://biketool.tistory.com/51', target='_blank') 자전거공작소, 헤드세트의 분리 - 크라운레이스와 헤드컵까지
        li: a(href='http://biketool.tistory.com/57', target='_blank') 자전거공작소, 포크의 설치1, 헤드컵 프레싱과 스타너트 설치
        li: a(href='http://biketool.tistory.com/58', target='_blank') 자전거공작소, 포크의 설치2, 스티어튜브 커팅과 스템 장착
        li: a(href='http://biketool.tistory.com/102', target='_blank') 자전거공작소, 크라운 레이스 풀러
        li: a(href='http://biketool.tistory.com/103', target='_blank') 자전거공작소, 헤드컵 리무버
      ul
        li: a(href='http://biketool.tistory.com/56', target='_blank') 자전거공작소, 스타너트, 해바라기 설치
        li: a(href='http://biketool.tistory.com/146', target='_blank') 자전거공작소, 스타너트 제거
      ul
        li: a(href='http://biketool.tistory.com/131', target='_blank') 자전거공작소, 산악자전거 서스펜션 포크의 기능과 세팅
        li: a(href='http://biketool.tistory.com/46', target='_blank') 자전거공작소, 샥펌프 사용법
      ul
        li: a(href='http://biketool.tistory.com/115', target='_blank') 자전거공작소, 자전거 정비에 필요한 각종 오일들

    .depth3
      ul
        li: a(href='http://www.ixenon.co.kr', target='_blank') http://www.ixenon.co.kr, 폭스샥
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 락샥
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com
        
  include _mall.jade