extends ../layout/layout

block head-title
  title 포크 - #{appName}

block content

  .page-title
    h1 포크

  .list-at-pages
    .group
      ul
        li: a(href='http://www.sports55.co.kr', target='_blank') http://www.sports55.co.kr, 폭스샥
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 락샥
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com

    .group
      ul
        li: a(href='http://biketool.tistory.com/41', target='_blank') 자전거공작소, 헤드세트에 관하여
        li: a(href='http://biketool.tistory.com/324', target='_blank') 자전거공작소, 포크가 흔들린다. 무엇이 문제인가?
      ul
        li: a(href='http://biketool.tistory.com/51', target='_blank') 자전거공작소, 헤드세트의 분리 - 크라운레이스와 헤드컵까지
        li: a(href='http://biketool.tistory.com/57', target='_blank') 자전거공작소, 포크의 설치 1, 헤드컵 프레싱과 스타너트 설치
        li: a(href='http://biketool.tistory.com/58', target='_blank') 자전거공작소, 포크의 설치 2, 스티어튜브 커팅과 스템 장착
        li: a(href='http://biketool.tistory.com/242', target='_blank') 자전거공작소, 헤드컵 프레스
        li: a(href='http://biketool.tistory.com/103', target='_blank') 자전거공작소, 헤드컵 리무버
        li: a(href='http://biketool.tistory.com/102', target='_blank') 자전거공작소, 크라운 레이스 풀러
        li: a(href='http://biketool.tistory.com/207', target='_blank') 자전거공작소, 크라운 레이스 세팅 공구
        li: a(href='http://biketool.tistory.com/149', target='_blank') 자전거공작소, 나사산 방식 포크의 분해와 정비
        li: a(href='http://biketool.tistory.com/203', target='_blank') 자전거공작소, 헤드튜브 종류와 사이즈 그리고 테이퍼드
        li: a(href='http://biketool.tistory.com/206', target='_blank') 자전거공작소, 헤드세트 종류와 사이즈 선택
        li: a(href='http://biketool.tistory.com/233', target='_blank') 자전거공작소, 자전거 포크 설치, 인티그레이티드 헤드셋일 경우
        li: a(href='http://biketool.tistory.com/332', target='_blank') 자전거공작소, 로드 바이크 포크 분리와 장착법
      ul
        li: a(href='http://biketool.tistory.com/56', target='_blank') 자전거공작소, 스타너트, 해바라기 설치
        li: a(href='http://biketool.tistory.com/146', target='_blank') 자전거공작소, 스타너트 제거
        li: a(href='http://biketool.tistory.com/160', target='_blank') 자전거공작소, 스타너트 세터
        li: a(href='http://biketool.tistory.com/245', target='_blank') 자전거공작소, 로드바이크용 스타너트 컴프레션 플러그
      ul
        li: a(href='http://biketool.tistory.com/42', target='_blank') 자전거공작소, 산악자전거 포크의 명칭과 그에 대한 이해
        li: a(href='http://biketool.tistory.com/131', target='_blank') 자전거공작소, 산악자전거 서스펜션 포크의 기능과 세팅
        li: a(href='http://biketool.tistory.com/46', target='_blank') 자전거공작소, 샥펌프 사용법
        li: a(href='http://biketool.tistory.com/168', target='_blank') 자전거공작소, 폭스 서스펜션 포크 CTD, TALAS 에 관하여
        li: a(href='http://biketool.tistory.com/169', target='_blank') 자전거공작소, 서스펜션 포크 분해 정비 1, 정비시기와 증상
        li: a(href='http://biketool.tistory.com/170', target='_blank') 자전거공작소, 서스펜션 포크 분해 정비 2, 포크 분해 그리고 구조와 기능
        li: a(href='http://biketool.tistory.com/171', target='_blank') 자전거공작소, 서스펜션 포크 분해 정비 3, 포크의 조립
        li: a(href='http://biketool.tistory.com/286', target='_blank') 자전거공작소, 폭스 서스펜션 포크 20미리 쓰루액슬 휠셋 제거법
        li: a(href='http://biketool.tistory.com/297', target='_blank') 자전거공작소, 폭스 테라로직 서스펜션 포크 세팅법
        li: a(href='http://biketool.tistory.com/333', target='_blank') 자전거공작소, 산악자전거 서스펜션 포크 리모트 콘트롤 구조와 조작법
        li: a(href='http://biketool.tistory.com/344', target='_blank') 자전거공작소, 샥펌프 사용 후 포크 오일이 새어나왔는데 어떻게 해야 하는가?
      ul
        li: a(href='http://biketool.tistory.com/115', target='_blank') 자전거공작소, 자전거 정비에 필요한 각종 오일들

      ul
        li: a(href='http://ngpnephilim.blog.me/220454349202', target='_blank') 호윤, 핸들바 중앙 정렬 방법

        
  include _mall.pug