extends ../layout/layout

block head-title
  title 프레임 - #{appName}

block content

  .page-title
    h1 프레임

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/31', target='_blank') 자전거공작소, 프레임의 각 부위 명칭
      ul
        li: a(href='http://biketool.tistory.com/70', target='_blank') 자전거공작소, 헤드튜브 리밍과 페이싱
        li: a(href='http://biketool.tistory.com/76', target='_blank') 자전거공작소, 비비 테핑과 페이싱
        li: a(href='http://biketool.tistory.com/126', target='_blank') 자전거공작소, 림브레이크 피봇 제거
      ul
        li: a(href='http://biketool.tistory.com/110', target='_blank') 자전거공작소, 자전거 사이즈1, 인심의 길이와 자전거 사이즈 선택
        li: a(href='http://biketool.tistory.com/114', target='_blank') 자전거공작소, 자전거 사이즈4, 오버럴 리치와 핸들바, 스템
      ul
        li: a(href='http://biketool.tistory.com/195', target='_blank') 자전거공작소, 체인스테이 보호대
        
    .depth3
      .name 프레임 부품
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com
        
  include _mall.pug