extends ../layout/layout

block head-title
  title 그란 폰도 - #{appName}

block content

  .page-title
    h1 그란 폰도

  .depth2

    .depth3
      .name 로드
      ul
        li: a(href='http://granfondo.kr', target='_blank') http://granfondo.kr, 설악 그란폰도
      ul
        li: a(href='http://www.mujugranfondo.com', target='_blank') http://www.mujugranfondo.com, 무주 그란폰도
        li: a(href='https://www.youtube.com/watch?v=4T5jUS0rVZY', target='_blank') 2014 무주 그란폰도 피나렐로 코스 프리뷰

        li: a(href='http://www.kcycle.or.kr', target='_blank') http://www.kcycle.or.kr, 백두대간 그란폰도
      ul
        li: a(href='http://mct.cycling.or.kr', target='_blank') http://mct.cycling.or.kr, 마스터즈 사이클 투어

    .depth3
      .name 산악
      ul
        li: a(href='http://www.280rally.co.kr', target='_blank') http://www.280rally.co.kr

        