extends ../layout/layout

block head-title
  title 핸들바 악세사리 - #{appName}

block content

  .page-title
    h1 핸들바 악세사리

  .list-at-pages

    .group
      ul
        li: a(href='http://www.bm-works.co.kr', target='_blank') http://www.bm-works.co.kr
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 블랙번 미러
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
      ul
        li: a(href='http://www.rec-mounts.com', target='_blank') http://www.rec-mounts.com
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com

    .group
      ul
        li: a(href='http://blog.naver.com/mdjoo72', target='_blank') 엠디주님의 블로그, 마운트
      ul
        li: a(href='http://blog.naver.com/akiliner/220768766468', target='_blank') 칫솔, 블럭번 로드 미러

    .group
      .name 그립
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com

      ul
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 오리 그립
      ul
        li: a(href='http://www.ergon-bike.com', target='_blank') http://www.ergon-bike.com

    .group
      ul
        li: a(href='http://biketool.tistory.com/30', target='_blank') 자전거공작소, 핸들그립의 제거와 장착
        li: a(href='http://biketool.tistory.com/184', target='_blank') 자전거공작소, 에르곤그립 종류와 교체법

    .group
      .name 바테입
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com

      ul
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 브룩스
        li: a(href='http://www.brooksengland.com', target='_blank') http://www.brooksengland.com
      ul
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 리자드 스킨
        li: a(href='http://lizardskins.com', target='_blank') http://lizardskins.com
      ul
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 셀레 이탈리아
        li: a(href='http://www.santinikorea.com', target='_blank') http://www.santinikorea.com, GARA

    .group
      ul
        li: a(href='https://www.youtube.com/watch?v=5MzIiv7pewE', target='_blank') 팍툴, 로드 핸들바 테입 감기

  include _mall.pug