extends ../layout/layout

block head-title
  title 핸들바 - #{appName}

block content

  .page-title
    h1 핸들바

  .list-at-pages

    .group
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 비비비, 크리스 킹
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 데다, 니토
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 3T
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 사토리헤드업
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, 험퍼트 핸들바
        li: a(href='http://www.spomate.com', target='_blank') http://www.spomate.com, 리치
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 스팽크

    .group
      ul
        li: a(href='http://biketool.tistory.com/22', target='_blank') 자전거공작소, 핸들바와 스템의 장착
        li: a(href='http://biketool.tistory.com/81', target='_blank') 자전거공작소, 핸들바 교체
        li: a(href='http://biketool.tistory.com/176', target='_blank') 자전거공작소, 핸들바 높이 조절
        li: a(href='http://biketool.tistory.com/82', target='_blank') 자전거공작소, 핸들바 커팅과 핸들바의 이해
        li: a(href='http://biketool.tistory.com/162', target='_blank') 자전거공작소, 튜브 커팅 가이드
        li: a(href='http://biketool.tistory.com/228', target='_blank') 자전거공작소, [응급대처요령] 핸들바가 돌아갔을 때 재조정법
      ul
        li: a(href='http://blog.naver.com/akiliner/220838838268', target='_blank') 칫솔, The Jones Loop H-Bar

  include _mall.pug