extends ../layout/layout

block head-title
  title 핸들바/스템 - #{appName}

block content

  .page-title
    h1 핸들바/스템

  .depth2

    .depth3
      .name 수입
      ul
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, Deda
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 3T
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 사토리헤드업
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, 험퍼트 핸들바
        li: a(href='http://www.spomate.com', target='_blank') http://www.spomate.com, 리치
        
      ul
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 오리 그립

  include _mall.jade