extends ../layout/layout

block head-title
  title 헬멧/고글 - #{appName}

block content

  .page-title
    h1 헬멧/고글

  .depth2
    .depth3
      ul
        li: a(href='http://biketool.tistory.com/107', target='_blank') 자전거공작소, 자전거 헬멧에 관하여
      ul
        li: a(href='http://www.ppomppu.co.kr/zboard/view.php?id=bike&no=319160', target='_blank') 가까운 거리도 헬멧 쓰시나요?
      ul
        li: a(href='http://ngpnephilim.blog.me/220603381657', target='_blank') 호윤, 2016년 로드바이크 최상급 헬멧들
        li: a(href='http://ngpnephilim.blog.me/220607582222', target='_blank') 호윤, 2016년 로드바이크 선글라스(고글) 정리

      ul
        li.
          머리 크고 동그란 두상 가진 분들이 쓸 수 있는 헬멧들:<br>
          지로 서번트, 지로 에이온AF, 스페 프로페로 아시안핏, 필모리스 575, 벤투스 등.

    .depth3
      .name 헬멧
      ul
        li: a(href='http://imorys.com', target='_blank') http://imorys.com, 5만 ~
        li: a(href='http://www.siskorea.com', target='_blank') http://www.siskorea.com, Ventus, Camel, 7만
        li: a(href='http://www.hjc-helmet.com', target='_blank') http://www.hjc-helmet.com
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://zerohelmet.com', target='_blank') http://zerohelmet.com
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com, 6만, 8.5만, 11만
      ul
        li: a(href='http://www.specialized.com', target='_blank') http://www.specialized.com, 컨투어 5.5만, 프로페로 12만
      ul
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com, 7 만 ~
      ul
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 피스트 8만, 비바체 15만
      ul
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com
      ul
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr, 악시움 9만 ~
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 카머, 8만, 13만
      ul
        //-li: a(href='http://www.kask.co.kr', target='_blank') http://www.kask.co.kr
        li: a(href='http://www.cephas.kr/', target='_blank') http://www.cephas.kr, Kask
        li: a(href='http://kask.com', target='_blank') http://kask.com
      ul
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 지로, 5.6만, 11.5만, ~
        li: a(href='http://www.giro.com', target='_blank') http://www.giro.com
      ul
        li: a(href='http://www.rudystore.co.kr', target='_blank') http://www.rudystore.co.kr, 11만 ~
        li: a(href='http://www.rudyproject.com', target='_blank') http://www.rudyproject.com
      ul
        li: a(href='http://www.pvscompany.co.kr', target='_blank') http://www.pvscompany.co.kr, POC, 30만 ~
        li: a(href='http://www.pocsports.com', target='_blank') http://www.pocsports.com
      ul
        li: a(href='http://www.uvexkorea.co.kr', target='_blank') http://www.uvexkorea.co.kr, 7만 ~, 레이스3 22만
        li: a(href='http://www.uvex-sports.com', target='_blank') http://www.uvex-sports.com
      ul
        li: a(href='http://www.rpmsports.co.kr', target='_blank') http://www.rpmsports.co.kr, rh+, 16만 ~
        li: a(href='http://www.zerorh.com', target='_blank') http://www.zerorh.com
      ul
        li: a(href='http://www.odbike.co.kr', target='_blank') http://www.odbike.co.kr, MET
        li: a(href='http://www.met-helmets.com', target='_blank') http://www.met-helmets.com
      ul
        li: a(href='http://www.azokeykorea.co.kr', target='_blank') http://www.azokeykorea.co.kr, OGK
        li: a(href='http://www.ogkkabuto.co.jp', target='_blank') http://www.ogkkabuto.co.jp
      ul
        li: a(href='http://www.smithkorea.co.kr', target='_blank') http://www.smithkorea.co.kr
        li: a(href='http://www.smithoptics.com', target='_blank') http://www.smithoptics.com
      ul
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키
      ul
        li: a(href='http://bb5.co.kr', target='_blank') http://bb5.co.kr, Bern
        li: a(href='http://www.bernunlimited.com', target='_blank') http://www.bernunlimited.com
      ul
        li: a(href='http://nutcasehelmets.co.kr', target='_blank') http://nutcasehelmets.co.kr
        li: a(href='http://nutcasehelmets.com', target='_blank') http://nutcasehelmets.com
      ul
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, iXS
        li: a(href='http://www.ixs-sportsdivision.com', target='_blank') http://www.ixs-sportsdivision.com
      ul
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, TLD
        li: a(href='http://www.troyleedesigns.com', target='_blank') http://www.troyleedesigns.com
      ul
        li: a(href='http://www.hovding.com', target='_blank') http://www.hovding.com, 에어백

    .depth3
      .name 고글
      ul
        li: a(href='http://blog.naver.com/akiliner/220703439559', target='_blank') 칫솔, 3M 보안경
        li: a(href='http://blog.naver.com/akiliner/220699962399', target='_blank') 칫솔, 나이트 엔 데이 렌즈
      ul
        li: a(href='http://imorys.com', target='_blank') http://imorys.com
        li: a(href='http://tifosi.co.kr', target='_blank') http://tifosi.co.kr
        li: a(href='http://www.kantukan.co.kr', target='_blank') http://www.kantukan.co.kr
      ul
        li: a(href='http://www.oakley.co.kr', target='_blank') http://www.oakley.co.kr
        li: a(href='http://www.oakley.com', target='_blank') http://www.oakley.com
      ul
        li: a(href='http://www.rudystore.co.kr', target='_blank') http://www.rudystore.co.kr
        li: a(href='http://www.rudyproject.com', target='_blank') http://www.rudyproject.com
      ul
        li: a(href='http://www.pvscompany.co.kr', target='_blank') http://www.pvscompany.co.kr, POC
        li: a(href='http://www.pocsports.com', target='_blank') http://www.pocsports.com
      ul
        li: a(href='http://www.uvexkorea.co.kr', target='_blank') http://www.uvexkorea.co.kr
        li: a(href='http://www.uvex-sports.com', target='_blank') http://www.uvex-sports.com
      ul
        li: a(href='http://exo.kr/', target='_blank') http://exo.kr, 100%
        li: a(href='http://www.ride100percent.com', target='_blank') http://www.ride100percent.com
      ul
        li: a(href='http://www.bollesports.com', target='_blank') http://www.bollesports.com
        li: a(href='http://www.bolle.com', target='_blank') http://www.bolle.com
      ul
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 아디다스
        li: a(href='http://www.adidas.com', target='_blank') http://www.adidas.com
      ul
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키
      ul
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
        li: a(href='http://bbbcycling.com', target='_blank') http://bbbcycling.com
      ul
        li: a(href='http://timbike.com', target='_blank') http://timbike.com, 한남동
        li: a(href='http://ansports.co.kr', target='_blank') http://ansports.co.kr, 당산역
        li: a(href='http://www.goggles.kr', target='_blank') http://www.goggles.kr, 동대문
        li: a(href='https://www.coupang.com', target='_blank') https://www.coupang.com

  include _mall.jade