extends ../layout/layout

block head-title
  title 헬멧/고글 - #{appName}

block content

  .page-title
    h1 헬멧/고글

  .depth2
    .depth3
      | 머리 크고 동그란 두상 가진 분들이 쓸 수 있는 헬멧들:
      br
      | 지로 서번트, 지로 에이온AF, 스페 프로페로 아시안핏, 필모리스 575, 벤투스 등.

    .depth3
      .name 가이드
      ul
        li: a(href='http://ngpnephilim.blog.me/220603381657', target='_blank') 호윤, 2016년 로드바이크 최상급 헬멧들
        li: a(href='http://ngpnephilim.blog.me/220607582222', target='_blank') 호윤, 2016년 로드바이크 선글라스(고글) 정리

      ul
        li: a(href='http://www.ppomppu.co.kr/zboard/view.php?id=bike&no=319160', target='_blank') 가까운 거리도 헬멧 쓰시나요?

    .depth3
      .name 헬멧
      ul
        li: a(href='http://imorys.com', target='_blank') http://imorys.com, 5만 ~
        li: a(href='http://www.siskorea.com', target='_blank') http://www.siskorea.com, Ventus, Camel, 7만
        li: a(href='http://www.hjc-helmet.com', target='_blank') http://www.hjc-helmet.com
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com, 6만, 8.5만, 11만
        li: a(href='http://www.specialized.com', target='_blank') http://www.specialized.com, 컨투어 5.5만, 프로페로 12만
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com, 7 만 ~
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 피스트 8만, 비바체 15만
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr, 악시움 9만 ~
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 카머, 8만, 13만
        li: a(href='http://www.odbike.co.kr', target='_blank') http://www.odbike.co.kr, MET
        li: a(href='http://www.azokeykorea.co.kr', target='_blank') http://www.azokeykorea.co.kr, OGK Kabuto
        li: a(href='http://zerohelmet.com', target='_blank') http://zerohelmet.com
        li: a(href='http://www.smithkorea.co.kr', target='_blank') http://www.smithkorea.co.kr
      ul
        li: a(href='http://www.kask.co.kr', target='_blank') http://www.kask.co.kr
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 지로, 5.6만, 11.5만, ~
        li: a(href='http://www.rudystore.co.kr', target='_blank') http://www.rudystore.co.kr, 11만 ~
        li: a(href='http://www.pvscompany.co.kr', target='_blank') http://www.pvscompany.co.kr, POC, 30만 ~
        li: a(href='http://www.uvexkorea.co.kr', target='_blank') http://www.uvexkorea.co.kr, 7만 ~, 레이스3 22만
        li: a(href='http://www.rpmsports.co.kr', target='_blank') http://www.rpmsports.co.kr, rh+, 16만 ~
      ul
        li: a(href='http://bb5.co.kr', target='_blank') http://bb5.co.kr, Bern
        li: a(href='http://nutcasehelmets.co.kr', target='_blank') http://nutcasehelmets.co.kr
      ul
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, iXS
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, TLD
      ul
        li: a(href='http://www.giro.com', target='_blank') http://www.giro.com
        li: a(href='http://www.rudyproject.com', target='_blank') http://www.rudyproject.com
        li: a(href='http://kask.com', target='_blank') http://kask.com
        li: a(href='http://www.pocsports.com', target='_blank') http://www.pocsports.com
        li: a(href='http://www.uvex-sports.com', target='_blank') http://www.uvex-sports.com
        li: a(href='http://www.zerorh.com', target='_blank') http://www.zerorh.com
        li: a(href='http://www.met-helmets.com', target='_blank') http://www.met-helmets.com
        li: a(href='http://www.smithoptics.com', target='_blank') http://www.smithoptics.com

    .depth3
      .name 고글
      ul
        li: a(href='http://www.oakley.co.kr', target='_blank') http://www.oakley.co.kr
        li: a(href='http://tifosi.co.kr', target='_blank') http://tifosi.co.kr
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 아디다스
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
      ul
        li: a(href='http://www.goggles.kr', target='_blank') http://www.goggles.kr
        li: a(href='https://www.coupang.com', target='_blank') https://www.coupang.com
      ul
        li: a(href='http://www.oakley.com', target='_blank') http://www.oakley.com

  include _mall.jade