extends ../layout/layout

block head-title
  title 헬멧/고글 - #{appName}

block content

  .page-title
    h1 헬멧/고글

  .depth2
    .depth3
      | 머리 크고 동그란 동양인 두상 가진 분들은
      br
      | 필모리스 575, 벤투스, 지로 서번트, 지로 에이온AF등을 써보세요.

    .depth3
      .name 가이드
      ul
        li: a(href='http://ngpnephilim.blog.me/220603381657', target='_blank') 호윤, 2016년 로드바이크 최상급 헬멧들
        li: a(href='http://ngpnephilim.blog.me/220607582222', target='_blank') 호윤, 2016년 로드바이크 선글라스(고글) 정리

    .depth3
      .name 감성과 출혈
      ul
        li: a(href='http://www.giro.com', target='_blank') http://www.giro.com
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 지로, 벨
      ul
        li: a(href='http://www.rudyproject.com', target='_blank') http://www.rudyproject.com
        li: a(href='http://www.rudykorea.co.kr', target='_blank') http://www.rudykorea.co.kr
        li: a(href='http://www.rudystore.co.kr', target='_blank') http://www.rudystore.co.kr
      ul
        li: a(href='http://kask.com', target='_blank') http://kask.com
        li: a(href='http://www.kask.co.kr', target='_blank') http://www.kask.co.kr
      ul
        li: a(href='http://www.pocsports.com', target='_blank') http://www.pocsports.com
        li: a(href='http://www.pvscompany.co.kr', target='_blank') http://www.pvscompany.co.kr
      ul
        li: a(href='http://www.uvex-sports.com', target='_blank') http://www.uvex-sports.com
        li: a(href='http://www.uvexkorea.co.kr', target='_blank') http://www.uvexkorea.co.kr
      ul
        li: a(href='http://www.zerorh.com', target='_blank') http://www.zerorh.com
        li: a(href='http://www.rpmsports.co.kr', target='_blank') http://www.rpmsports.co.kr
      ul
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr

    .depth3
      .name 나만의 스타일을 찾아서
      ul
        li: a(href='http://zerohelmet.com', target='_blank') http://zerohelmet.com
        li: a(href='http://www.azokeykorea.co.kr', target='_blank') http://www.azokeykorea.co.kr, OGK Kabuto
      ul
        li: a(href='http://www.met-helmets.com', target='_blank') http://www.met-helmets.com
        li: a(href='http://www.odbike.co.kr', target='_blank') http://www.odbike.co.kr

    .depth3
      .name 시티
      ul
        li: a(href='http://bb5.co.kr', target='_blank') http://bb5.co.kr, Bern
        li: a(href='http://nutcasehelmets.co.kr', target='_blank') http://nutcasehelmets.co.kr

    .depth3
      .name 헬멧도 파는 자전거 브랜드
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.specialized.com', target='_blank') http://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com

    .depth3
      .name 좋은 가격
      ul
        li: a(href='http://www.siskorea.com', target='_blank') http://www.siskorea.com, Ventus, Camel
        li: a(href='http://imorys.com', target='_blank') http://imorys.com
        li: a(href='http://www.hjc-helmet.com', target='_blank') http://www.hjc-helmet.com

    .depth3
      .name 고글
      ul
        li: a(href='http://www.oakley.com', target='_blank') http://www.oakley.com
        li: a(href='http://www.oakley.co.kr', target='_blank') http://www.oakley.co.kr
        li: a(href='http://tifosi.co.kr', target='_blank') http://tifosi.co.kr
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 아디다스
      ul
        li: a(href='http://www.goggles.kr', target='_blank') http://www.goggles.kr

    .depth3
      div <s>오클리가 가끔 10 만원선에 뜹니다.</s>
      ul
        li: a(href='https://www.coupang.com', target='_blank') https://www.coupang.com

  include _mall.jade