extends ../layout/layout

block head-title
  title 킥스텐드 - #{appName}

block content

  .page-title
    h1 킥스텐드

  .depth2

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com

      ul
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, 플레쳐
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com


  include _mall.jade