extends ../layout/layout

block head-title
  title 전설 - #{appName}

block content

  .page-title
    h1 전설

  .category-detail
    .subc
      .name 정태준, 일본질주
      ul
        li: a(href='http://blog.naver.com/thornx/110011854689', target='_blank') 일본질주 (1부 : 후쿠오카 -> 키타큐슈)
        li: a(href='http://blog.naver.com/thornx/110011992705', target='_blank') 일본질주 (2부 : 키타큐슈 -> 이와쿠니)
        li: a(href='http://blog.naver.com/thornx/110012227587', target='_blank') 일본질주 (3부 : 이와쿠니 -> 미하라)
        li: a(href='http://blog.naver.com/thornx/110012576550', target='_blank') 일본질주 (4부 : 미하라 -> 비젠)
        li: a(href='http://blog.naver.com/thornx/110013139595', target='_blank') 일본질주 (5부 : 비젠 -> 타키가와) 
        li: a(href='http://blog.naver.com/thornx/110013863847', target='_blank') 일본질주 (6-1부: 타키가와 -> 오사카)
        li: a(href='http://blog.naver.com/thornx/110013861400', target='_blank') 일본질주 (6-2부 : 타키가와 -> 오사카)
        li: a(href='http://blog.naver.com/thornx/110014432874', target='_blank') 일본질주 (7부: 오사카 -> 교토)
        li: a(href='http://blog.naver.com/thornx/110015073307', target='_blank') 일본질주 (8부: 교토 -> 카메야마)
        li: a(href='http://blog.naver.com/thornx/110015657498', target='_blank') 일본질주 (9부: 카메야마 -> 나고야)
        li: a(href='http://blog.naver.com/thornx/110016440158', target='_blank') 일본질주 (10부: 나고야 -> 하마마츠)
        li: a(href='http://blog.naver.com/thornx/110017882884', target='_blank') 일본질주 (11부: 하마마츠 -> 시즈오카)
        li: a(href='http://blog.naver.com/thornx/110020080945', target='_blank') 일본질주 (12부: 시즈오카 -> 도쿄)
        li: a(href='http://blog.naver.com/thornx/110022773862', target='_blank') 일본질주 에필로그 - 도쿄 24시
