extends ../layout/layout

block head-title
  title 라이트 - #{appName}

block content

  .page-title
    h1 라이트

  .depth2

    .depth3
      //.name 가이드
      ul
        li: a(href='http://blog.naver.com/akiliner/220645213250', target='_blank') 칫솔, 자전거 라이트, 2016
        li: a(href='http://blog.naver.com/akiliner/220601231446', target='_blank') 칫솔, 자전거 후미등, 2016

    .depth3
      //.name 수입
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
        
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽, 시클리스
        li: a(href='http://sniperkorea.co.kr', target='_blank') http://sniperkorea.co.kr
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 문
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 캣아이
        li: a(href='http://www.duracle.com', target='_blank') http://www.duracle.com
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, 부쉬+밀러, 슈미트 다이나모
      ul
        li: a(href='http://www.planetbike.com', target='_blank') http://www.planetbike.com

  include _mall.jade