extends ../layout/layout

block head-title
  title 정비 - #{appName}

block content

  .page-title
    h1 정비

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/178', target='_blank') 자전거공작소, 자전거 일상점검
        li: a(href='http://biketool.tistory.com/152', target='_blank') 자전거공작소, 자전거 소음의 원인과 형태 그리고 대처
        li: a(href='http://biketool.tistory.com/221', target='_blank') 자전거공작소, 자전거 물청소하는 법
        li: a(href='http://biketool.tistory.com/282', target='_blank') 자전거공작소, 겨울철 자전거 관리법
        li: a(href='http://biketool.tistory.com/301', target='_blank') 자전거공작소, 자전거에 생긴 녹제거는 어떻게 하는가?
      ul
        li: a(href='http://biketool.tistory.com/26', target='_blank') 자전거공작소, 자전거용 각종 삼각렌치
        li: a(href='http://biketool.tistory.com/167', target='_blank') 자전거공작소, 자전거 정비에 필요한 기본공구
        li: a(href='http://biketool.tistory.com/43', target='_blank') 자전거공작소, 토크렌치란 무엇인가
        li: a(href='http://biketool.tistory.com/159', target='_blank') 자전거공작소, 렌치 사용법과 볼트 체결법 그리고 몇가지
        li: a(href='http://biketool.tistory.com/201', target='_blank') 자전거공작소, 라쳇렌치 사이즈와 사용법
        li: a(href='http://biketool.tistory.com/123', target='_blank') 자전거공작소, 자전거 정비 작업대
        li: a(href='http://biketool.tistory.com/130', target='_blank') 자전거공작소, 자전거 공구 선택, 파크툴(Park Tool)이란 무엇인가?
        li: a(href='http://biketool.tistory.com/134', target='_blank') 자전거공작소, 우레탄 망치
        li: a(href='http://biketool.tistory.com/172', target='_blank') 자전거공작소, 자전거 정비용 장갑, 미캐닉 글러브
        li: a(href='http://biketool.tistory.com/231', target='_blank') 자전거공작소, 디지털 버니어 캘리퍼스
      ul
        li: a(href='http://biketool.tistory.com/175', target='_blank') 자전거공작소, 바이시클 미캐닉에 관하여

    .depth3
      .name 공구
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.ixenon.co.kr', target='_blank') http://www.ixenon.co.kr, 파크툴
        li: a(href=' http://www.fours.co.kr', target='_blank')  http://www.fours.co.kr, 아이스툴즈
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, Super B, 재그와이어

    .depth3
      .name 정비
      ul
        li: a(href='http://biketool.tistory.com', target='_blank') http://biketool.tistory.com
        li: a(href='http://blog.naver.com/mk47pro', target='_blank') http://blog.naver.com/mk47pro
        li: a(href='http://blog.naver.com/pinmanix', target='_blank') http://blog.naver.com/pinmanix
        li: a(href='http://piaarang.com', target='_blank') http://piaarang.com

    .depth3
      .name 학원
      ul
        li: a(href='http://www.bci.or.kr', target='_blank') http://www.bci.or.kr
        li: a(href='http://lovebikeschool.kr', target='_blank') http://lovebikeschool.kr
        li: a(href='http://bikelab.mireene.co.kr', target='_blank') http://bikelab.mireene.co.kr
        li: a(href='http://bikeacademy.co.kr', target='_blank') http://bikeacademy.co.kr
        li: a(href='http://bmikorea.net', target='_blank') http://bmikorea.net
