extends ../layout/layout

block head-title
  title 정비 - #{appName}

block content

  .page-title
    h1 정비

  .depth2

    .depth3
      .name 블로그
      ul
        li: a(href='http://biketool.tistory.com', target='_blank') http://biketool.tistory.com

    .depth3
      .name 학원
      ul
        li: a(href='http://www.bci.or.kr', target='_blank') http://www.bci.or.kr
        li: a(href='http://lovebikeschool.kr', target='_blank') http://lovebikeschool.kr
        li: a(href='http://bikelab.mireene.co.kr', target='_blank') http://bikelab.mireene.co.kr
        li: a(href='http://bikeacademy.co.kr', target='_blank') http://bikeacademy.co.kr
        li: a(href='http://bmikorea.net', target='_blank') http://bmikorea.net
