extends ../layout/layout

block head-title
  title 정비 - #{appName}

block content

  .page-title
    h1 정비

  .depth2

    .depth3
      //.name 
      ul
        li: a(href='http://biketool.tistory.com/152', target='_blank') 자전거공작소, 자전거 소음의 원인과 형태 그리고 대처
    .depth3
      .name 블로그
      ul
        li: a(href='http://biketool.tistory.com', target='_blank') http://biketool.tistory.com
        li: a(href='http://blog.naver.com/mk47pro', target='_blank') http://blog.naver.com/mk47pro
        li: a(href='http://blog.naver.com/pinmanix', target='_blank') http://blog.naver.com/pinmanix

    .depth3
      .name 학원
      ul
        li: a(href='http://www.bci.or.kr', target='_blank') http://www.bci.or.kr
        li: a(href='http://lovebikeschool.kr', target='_blank') http://lovebikeschool.kr
        li: a(href='http://bikelab.mireene.co.kr', target='_blank') http://bikelab.mireene.co.kr
        li: a(href='http://bikeacademy.co.kr', target='_blank') http://bikeacademy.co.kr
        li: a(href='http://bmikorea.net', target='_blank') http://bmikorea.net
