extends ../layout/layout

block head-title
  title 라이딩 영상 - #{appName}

block content

  .page-title
    h1 라이딩 영상

  .depth2

    .depth3
      .name 광고
      ul
        li: a(href='https://vimeo.com/178899573', target='_blank') Pas Normal Studios - Exploring Scandinavia
        li: a(href='https://www.youtube.com/watch?v=fX9s0GbT7ug', target='_blank') Introducing the all-new Trance range
        li: a(href='https://www.youtube.com/watch?v=LbQ6xVybSxc', target='_blank') Introducing the all-new TCR Advanced Pro Disc
        li: a(href='https://www.youtube.com/watch?v=rfoKhMVR2nA', target='_blank') The All-New 2017 SuperSix EVO Disc
        li: a(href='https://www.youtube.com/watch?v=aa4D9yyK5Q0', target='_blank') Endurace CF SLX - The Outsider
        li: a(href='https://www.youtube.com/watch?v=PY4ExLQyF4w', target='_blank') Ride with Us
        li: a(href='https://www.youtube.com/watch?v=o8YhrAAvh7w', target='_blank') Garmin Winter Training 2012 - Christophe Le Mével
        li: a(href='https://www.youtube.com/watch?v=x1-yV7gXUlg', target='_blank') Defy Limits : Introducing the All-New 2015 Defy Advanced SL
        li: a(href='https://www.youtube.com/watch?v=KYJCorumXfM', target='_blank') MAKE IT REIGN: The Inspiration Behind Giant's All-New Reign 27.5
        li: a(href='https://www.youtube.com/watch?v=76WIKBxkcpw', target='_blank') Jaguar present Team Sky with concept F-Type Time Trial Support Car
        li: a(href='https://www.youtube.com/watch?v=hDtmE5XnUOc', target='_blank') The New S-Works Venge

    .depth3
      .name 라파
      ul
        ul
          li: a(href='https://www.youtube.com/watch?v=mMw9rejnxMs', target='_blank') Rapha New Season Collections / 2016 Autumn
          li: a(href='https://www.youtube.com/watch?v=feiRpSPknQM', target='_blank') Whoever you are, wherever you ride - Rapha Core
          li: a(href='https://www.youtube.com/watch?v=rifaGyrIL7w', target='_blank') Rapha Brevet Collection 2016
          li: a(href='https://www.youtube.com/watch?v=k-imJA2zdMI', target='_blank') Rapha Collections 2016
          li: a(href='https://www.youtube.com/watch?v=WjTV8gbdKvI', target='_blank') Rapha SS14 - Training & Racing
          li: a(href='https://www.youtube.com/watch?v=rXH8vpgU5Dk', target='_blank') Rapha City Lines 2014
          li: a(href='https://www.youtube.com/watch?v=TcCpLr6Dr_Q', target='_blank') RAPHA AW13 - Warmth
          li: a(href='https://www.youtube.com/watch?v=RxVVxG0_ZOE', target='_blank') Rapha AW13 - Protection
          li: a(href='https://www.youtube.com/watch?v=402jjhFnjzY', target='_blank') Rapha AW13
          li: a(href='https://www.youtube.com/watch?v=2t3pSPQ7hfY', target='_blank') RAPHA SS13 CLASSICS MEN
          li: a(href='https://www.youtube.com/watch?v=tTRH9oNNhkk', target='_blank') Dawn to Snow: Rapha AW12
          li: a(href='https://www.youtube.com/watch?v=T-GjlfyYk-U', target='_blank') Tunnel: Rapha AW12
          li: a(href='https://www.youtube.com/watch?v=Zt1II3zGjSU', target='_blank') Rapha SS 2012: Sierra Nevada
          li: a(href='https://www.youtube.com/watch?v=uiCB-JzlJ10', target='_blank') Sella 2012
          li: a(href='https://www.youtube.com/watch?v=Dj6AhsOIX98', target='_blank') Rapha, Hors Course 2011
          li: a(href='https://www.youtube.com/watch?v=yoUvEkLDm6o', target='_blank') City Riding 2011
          li: a(href='https://www.youtube.com/watch?v=tXZpYEHSkoI', target='_blank') Rapha California 2011
          li: a(href='https://www.youtube.com/watch?v=9_Dsae3am3U', target='_blank') Rapha + Paul Smith 2011
          li: a(href='https://www.youtube.com/watch?v=0r43DHHahAU', target='_blank') Rapha SS11 -- Getting Ready
        ul
          li: a(href='https://www.youtube.com/watch?v=mJOPE2BhiOk', target='_blank') Rapha Calling 2015
          li: a(href='https://www.youtube.com/watch?v=ieElrFot1gs', target='_blank') Rapha SS14 - Women
          li: a(href='https://www.youtube.com/watch?v=fBtasZkhmjw', target='_blank') RAPHA AW13 - Women
          li: a(href='https://www.youtube.com/watch?v=rSyeYKUdvwA', target='_blank') RAPHA SS13 WOMEN'S
          li: a(href='https://www.youtube.com/watch?v=Mzp-D3cv9nM', target='_blank') Forcella: Rapha Women's Collection for AW12
        ul
          li: a(href='https://www.youtube.com/watch?v=qhFCLnwrh7Q', target='_blank') Rapha Trappist Brewery Tour 2016
          li: a(href='https://www.youtube.com/watch?v=h0IgDIvcX68', target='_blank') Rapha Prestige Niseko 2016
          li: a(href='https://www.youtube.com/watch?v=U00O1y6KMWM', target='_blank') Rapha Randonnées 2015
          li: a(href='https://www.youtube.com/watch?v=OfH8SDAvA18', target='_blank') The Longest Day 2015
          li: a(href='https://www.youtube.com/watch?v=S_V8bu1my64', target='_blank') Rapha Prestige Launceston 2015
          li: a(href='https://www.youtube.com/watch?v=SBNquGWZa1s', target='_blank') Rapha Gentlemen's Race: Thailand 2014
          li: a(href='https://www.youtube.com/watch?v=ZpIHWdN9xg0', target='_blank') Rapha Gentlemen's Race Malaysia 2014
          li: a(href='https://www.youtube.com/watch?v=yoJy6VHWiW4', target='_blank') Rapha Gentlemen's Race: Adelaide 2013
          li: a(href='https://www.youtube.com/watch?v=eFpNp49Qgk0', target='_blank') Rapha Gentlemen's Race: Kyoto 2013
        ul
          li: a(href='https://www.youtube.com/watch?v=rKBEFFWkd3M', target='_blank') Rapha Prestige Merricks 2016
          li: a(href='https://www.youtube.com/watch?v=6pL4zlv6lz4', target='_blank') Rapha Women Ride the Tour of California 2014
          li: a(href='https://www.youtube.com/watch?v=7-wrDvZmnYc', target='_blank') Women’s Prestige Yatsugatake 2014
          li: a(href='https://www.youtube.com/watch?v=wSMR07_cOCA', target='_blank') 2013 Rapha Women's Prestige
          li: a(href='https://www.youtube.com/watch?v=0DDP4Ria4Fg', target='_blank') Rapha, Dura 2012
        ul
          li: a(href='https://www.youtube.com/watch?v=GRpWkuowXW0', target='_blank') Rapha Continental: Yorkshire, UK
          li: a(href='https://www.youtube.com/watch?v=zwtm1I3g-nE', target='_blank') Rapha Continental: 2013 Pacific Northwest
          li: a(href='https://www.youtube.com/watch?v=YWaYt2V9y2c', target='_blank') Rapha Continental: Yunnan
          li: a(href='https://www.youtube.com/watch?v=-R_6XCzujVI', target='_blank') Rapha Continental: Hidden Europe: Holland
          li: a(href='https://www.youtube.com/watch?v=MSUbVx1eu5s', target='_blank') Rapha Continental: Assynt
          li: a(href='https://www.youtube.com/watch?v=y4OJvZiRnVo', target='_blank') Rapha Continental: Bohemia
          li: a(href='https://www.youtube.com/watch?v=zfVj9Synxa8', target='_blank') Rapha Continental: Java
          li: a(href='https://www.youtube.com/watch?v=_PNtWKdQVA0', target='_blank') Rapha Continental: Sapa
          li: a(href='https://www.youtube.com/watch?v=R8SoaBf5qz0', target='_blank') Rapha Continental: Santa Rosa with Andy Hampsten
          li: a(href='https://www.youtube.com/watch?v=KJVRDoaIyLs', target='_blank') Rapha Continental with Greg LeMond
          li: a(href='https://www.youtube.com/watch?v=6zJUUqAigSo', target='_blank') Rapha Continental Alberta with Alex Stieda
          li: a(href='https://www.youtube.com/watch?v=YZXeBHP5FK8', target='_blank') Rapha Continental USA Pro Cycling Challenge Stage 2
          li: a(href='https://www.youtube.com/watch?v=YpAJTmdM-ys', target='_blank') Rapha Continental USA Pro Cycling Challenge Stage 1
          li: a(href='https://www.youtube.com/watch?v=PmX65L9o9bo', target='_blank') Rapha Continental: Satchel Ride, Australia
          li: a(href='https://www.youtube.com/watch?v=dmbaJtOG6HY', target='_blank') Rapha Continental: Icknield Way
          li: a(href='https://www.youtube.com/watch?v=R8GoL8UzIj0', target='_blank') Rapha Continental: The Bryan Chapman
          li: a(href='https://www.youtube.com/watch?v=0q4u8kl6Fg4', target='_blank') Rapha Continental: Van Diemen's Land
          li: a(href='https://www.youtube.com/watch?v=JOsZCNj_nq8', target='_blank') Tour of California 2009: Intro
        ul
          li: a(href='https://www.youtube.com/watch?v=MuEH2ZXsgqk', target='_blank') Rapha, Two Broad Arrows

    .depth3
      .name 도로
      ul
        li: a(href='https://www.youtube.com/watch?v=9bfaX5Hv8GM', target='_blank') The Quiet Season | A Cycling Short Film
        li: a(href='https://www.youtube.com/watch?v=ZZoZIWSnlZ8', target='_blank') Cycling under rain in Luxemburg
      ul
        li: a(href='https://www.youtube.com/watch?v=S5A9ZJ-DcD8', target='_blank') Riding Behind the Curtain: Journey #01. Šumava, Czech Republic
        li: a(href='https://www.youtube.com/watch?v=8lA6lvi23f8', target='_blank') Riding Behind the Curtain: Journey #02. Kranjska Gora, Slovenia

    .depth3
      .name 도로 경기
      ul
        li: a(href='https://www.youtube.com/watch?v=cyesPqJ6QCM', target='_blank') 신정원, 151018 제3회 백두대간 그란폰도
        li: a(href='https://www.youtube.com/watch?v=JASBkCO2rZY', target='_blank') 최윤호, 오크밸리 롯데카드 그란폰도 무편집 버전
        li: a(href='https://www.youtube.com/watch?v=xXguJY5reRs', target='_blank') 신동환, 나주 mct 2015 - 2
        li: a(href='https://www.youtube.com/watch?v=6Ve7B323SDs', target='_blank') 2015 강진MCT 라스트

    .depth3
      .name 란도너스
      ul
        li: a(href='https://www.youtube.com/watch?v=JdJq0FUcb_c', target='_blank') campyonlyguy, PBP 2015: My Paris-Brest-Paris Experience
        li: a(href='https://www.youtube.com/watch?v=qoyDuuFcvhM', target='_blank') Ryan Hamilton, Paris Brest Paris 2015
        li: a(href='https://www.youtube.com/watch?v=knvnwHeFDEw', target='_blank') Jonathan A Melendez, pAris Brest pAris 2015
        li: a(href='https://www.youtube.com/watch?v=14cV1fi64MA', target='_blank') Damon Peacock, Partageons Le Patrimoine
        li: a(href='https://www.youtube.com/watch?v=Nsw_wC6Ejlg', target='_blank') Alexander Neumann, Super Randonneur 2014
        li: a(href='https://www.youtube.com/watch?v=5VNYLMfPvDs', target='_blank') Paris Brest Paris (PBP) 2015 - Group H Onboard from 0km to 100km
        li: a(href='https://www.youtube.com/watch?v=C03aaIOdyR4', target='_blank') Pascal Peau, 2015 PARIS BREST PARIS PART 1
        li: a(href='https://www.youtube.com/watch?v=CafT5tuGIrA', target='_blank') Pascal Peau, 2015 PARIS BREST PARIS PART2
        li: a(href='https://www.youtube.com/watch?v=YTXNgRrxIs0', target='_blank') Club Ciclista Riazor, Paris-Brest-Paris The Films 3 2011

    .depth3
      .name 투어
      ul
        li: a(href='https://www.youtube.com/watch?v=9m_X31xnG2A&list=PL9N9h5sK3rhmqHPS_DGKcI8O62IW7JjMT', target='_blank') GOING AWOL ON THE TRANSCONTINENTAL RACE
        li: a(href='https://www.youtube.com/watch?v=8kBMGbHanLU&index=1&list=PLvG2B1OcxZ8IkweAVkjkfASzAQRCxMzMe', target='_blank') THE MAN WHO CYCLED THE WORLD EP1
        li: a(href='https://www.youtube.com/watch?v=3qTeOcY1lug', target='_blank') Cycling Siberia
      ul
        li: a(href='https://www.youtube.com/watch?v=HAP53yJQJRQ', target='_blank') Iceland in 10 Days
        li: a(href='https://www.youtube.com/watch?v=mJ5S3uWv17E', target='_blank') Cycling the Highest Road in the World
        li: a(href='https://www.youtube.com/watch?v=MVh9HPX2SgE', target='_blank') The South Coast
        li: a(href='https://www.youtube.com/watch?v=EQ0eH1Mh194', target='_blank') A Tribute to Tassie

    .depth3
      .name 산악 트레일
      ul
        li: a(href='https://www.youtube.com/watch?v=e6XQTy99O-g', target='_blank') Retro-Alpencross 2015
        li: a(href='https://www.youtube.com/watch?v=zS3mYFKG0JI', target='_blank') ALL MOUNTAIN IN BOLIVIA PT1
        li: a(href='https://www.youtube.com/watch?v=DLYseAvSz1E', target='_blank') ALL MOUNTAIN IN BOLIVIA PT2
        li: a(href='https://www.youtube.com/watch?v=upZJpGrppJA', target='_blank') 2014 Huayhuash Film, Mountain Bike Adventure in Peru
        li: a(href='https://www.youtube.com/watch?v=uHxwItms8gk', target='_blank') Alpencross Mountainbike Joe Route 2012
        li: a(href='https://www.youtube.com/watch?v=XCMzfubaIy4', target='_blank') Iceland Traverse : Hans Rey & Steve Peat
        li: a(href='https://www.youtube.com/watch?v=WFIrHgleSxs', target='_blank') The Trail to Kazbegi
        li: a(href='https://www.youtube.com/watch?v=RzM4Iwy4Iak', target='_blank') Tour Divide 2012 Start June 8
        li: a(href='https://www.youtube.com/watch?v=TmBGyh4SPj8', target='_blank') Seven: The BC Bike Race Movie
        li: a(href='https://www.youtube.com/watch?v=vesqaZxKgvo', target='_blank') Trail Hunter - Japan
        li: a(href='https://www.youtube.com/watch?v=N7aDcQ-9M74', target='_blank') "Path Finder" [FULL MTB MOVIE]
 
    .depth3
      .name 산악 다운힐
      ul
        li: a(href='https://www.youtube.com/watch?v=khY00zN9ny0', target='_blank') Downhill MTB GoPro footage on epic Austrian track
        li: a(href='https://www.youtube.com/watch?v=sITW5tr7KQg', target='_blank') GoPro: Taxco Urban Downhill with Kelly McGarry
        li: a(href='https://www.youtube.com/watch?v=xIe6hYAdw_I', target='_blank') Insane Downhill Bike Race In Chile valparaiso polc 2011

    .depth3
      .name 산악 겨울
      ul
        li: a(href='https://www.youtube.com/watch?v=9flSp-RSm_M', target='_blank') Merry Marmot Fatbike Race
        li: a(href='https://www.youtube.com/watch?v=h-eNnjwR5tc', target='_blank') Bicycle Ice Drifting 2
        li: a(href='', target='_blank')

    .depth3
      .name 묘기
      ul
        li: a(href='https://www.youtube.com/watch?v=xQ_IQS3VKjA', target='_blank') Danny Macaskill - The Ridge
        li: a(href='https://www.youtube.com/watch?v=PiF5HHkHvX0', target='_blank') Danny MacAskill - Epecuén - 2014
        li: a(href='https://www.youtube.com/watch?v=Izlfe5n_jK8', target='_blank') Chris Akrigg - CHRISCROSS2
        li: a(href='https://www.youtube.com/watch?v=C8bdEpUiiuU', target='_blank') Chris Akrigg - The Shore Line
        li: a(href='https://www.youtube.com/watch?v=7ZmJtYaUTa0', target='_blank') Martyn Ashton - Road Bike Party
        li: a(href='https://www.youtube.com/watch?v=HhabgvIIXik', target='_blank') Martyn Ashton - Road Bike Party 2

