extends ../layout/layout

block head-title
  title 멀티툴 - #{appName}

block content

  .page-title
    h1 멀티툴

  .depth2

    .depth3
      ul
        li 멀티툴은 체인분리 기능이 있는 것을 사세요.
        li 멀티툴과 별도로 자주 쓰는 육각렌치를 가지고 다니면 편합니다.

    .depth3
      .name 고민하기 싫으면
      ul
        li 토픽 헥서스 2

    .depth3
      .name 수입
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 크랭크브라더스

  include _mall.jade