extends ../layout/layout

block head-title
  title 아무것도 몰라요 - #{appName}

block content

  .page-title
    h1 아무것도 몰라요

  .section
    | <s>개미지옥에 오신 것을 환영합니다.</s>

  .depth2
    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220268356229', target='_blank') 칫솔, 입문 자전거 선택, 2015
        li: a(href='http://blog.naver.com/akiliner/220265778116', target='_blank') 칫솔, MTB 하드테일 풀샥 선택, 2015
        li: a(href='http://blog.naver.com/mechanicfox/220412365223', target='_blank') 여우, 입문용 로드바이크, 2015
        li: a(href='http://blog.naver.com/dpsystem/220631555847', target='_blank') 김기사, 초보자의 자전거 구매 요령 2, 2016

  