extends ../layout/layout

block head-title
  title 뉴스 - #{appName}

block content

    .page-title
      h1 뉴스

    .category-detail

      .sub-category
        .name 국내 잡지
        ul
          li 바이크매거진
            a(href='http://www.bikem.co.kr', target='_blank') http://www.bikem.co.kr
          li 바이시클 뉴스
            a(href='http://www.bicyclenews.co.kr', target='_blank') http://www.bicyclenews.co.kr
          li 바이크 뉴스
            a(href='http://www.bikenews.co.kr', target='_blank') http://www.bikenews.co.kr
          li 자전거 생활
            a(href='http://www.bicyclelife.net', target='_blank') http://www.bicyclelife.net
          li 더바이크
            a(href='http://www.thebike.co.kr', target='_blank') http://www.thebike.co.kr
          li 사이클TV
            a(href='http://www.cycletv.co.kr', target='_blank') http://www.cycletv.co.kr
