extends ../layout/layout

block head-title
  title 뉴스 - #{appName}

block content

  .page-title
    h1 뉴스

  .depth2

    .depth3
      .name 국내
      ul
        li: a(href='http://www.bikem.co.kr', target='_blank') http://www.bikem.co.kr
        li: a(href='http://www.bicyclenews.co.kr', target='_blank') http://www.bicyclenews.co.kr
        li: a(href='http://www.bikenews.co.kr', target='_blank') http://www.bikenews.co.kr
        li: a(href='http://www.bicyclelife.net', target='_blank') http://www.bicyclelife.net
        li: a(href='http://www.thebike.co.kr', target='_blank') http://www.thebike.co.kr
        li: a(href='http://www.cycletv.co.kr', target='_blank') http://www.cycletv.co.kr
        li: a(href='http://velopaper.com', target='_blank') http://velopaper.com
        li: a(href='http://bike-korea.com', target='_blank') http://bike-korea.com
      ul
        li: a(href='http://blog.naver.com/piggybankm', target='_blank') http://blog.naver.com/piggybankm

    .depth3
      .name 행사일정
      ul
        li: a(href='http://race.thebike.co.kr', target='_blank') http://race.thebike.co.kr
        li: a(href='http://bike-korea.com/cal', target='_blank') http://bike-korea.com/cal

    .depth3
      .name 해외
      ul
        li: a(href='http://www.cyclingweekly.co.uk', target='_blank') http://www.cyclingweekly.co.uk
