extends ../layout/layout

block head-title
  title 아파요 - #{appName}

block content

  .page-title
    h1 아파요

  .section
    | 아프지 않은 것이 정상입니다.

  .depth2
    .depth3
      ul
        li: a(href='http://blog.naver.com/akiliner/220045157218', target='_blank') 칫솔, 로드 자전거 상체 통증의 원인과 해결법, 2014
        li: a(href='http://blog.naver.com/akiliner/220503046925', target='_blank') 칫솔, 허리 통증의 원인과 해결, 2015
        li: a(href='http://blog.naver.com/akiliner/220626391901', target='_blank') 칫솔, 백년허리, 2016
