extends ../layout/layout

block head-title
  title 통증 - #{appName}

block content

  .page-title
    h1 통증

  .list-at-pages
    .group.
      아프지 않은 것이 정상입니다.

    .group
      ul
        li: a(href='http://blog.naver.com/akiliner/220045157218', target='_blank') 칫솔, 자전거 상체 통증의 원인과 해결법
        li: a(href='http://blog.naver.com/akiliner/220837843209', target='_blank') 칫솔, 자전거 상체 통증의 원인과 해결법 2
        li: a(href='http://blog.naver.com/akiliner/220503046925', target='_blank') 칫솔, 허리 통증의 원인과 해결법
        li: a(href='http://blog.naver.com/akiliner/220626391901', target='_blank') 칫솔, 백년허리
        li: a(href='http://blog.naver.com/akiliner/220792916084', target='_blank') 칫솔, 목 지지대
      ul
        li: a(href='http://www.aresports.com', target='_blank') http://www.aresports.com, 테이핑
        