extends ../layout/layout

block head-title
  title 페달링 - #{appName}

block content

  .page-title
    h1 페달링

  .depth2

    .depth3
      ul
        li: a(href='https://www.youtube.com/watch?v=TS6EbowMfKY', target='_blank') Wiggins: Perfection
        li: a(href='https://www.youtube.com/watch?v=fb11pKF6r-8', target='_blank') RTS RACING TEAM'S Scott Yang Training
      ul
        li: a(href='https://www.youtube.com/watch?v=NsFqRLnb2ng', target='_blank') funride, 장거리 라이딩
        li: a(href='https://www.youtube.com/watch?v=_-Tk_5PpmBc', target='_blank') funride, 댄싱
        li: a(href='https://www.youtube.com/watch?v=Bu2z6gmbpdY', target='_blank') funride, 이마나카 로드 테크닉
        li: a(href='https://www.youtube.com/watch?v=JGqTA64DIn0', target='_blank') funride, 라이딩 테크닉
        li: a(href='https://www.youtube.com/watch?v=h1h6dGYlNhw', target='_blank') funride, 코너링 테크닉
        li: a(href='https://www.youtube.com/watch?v=56BhS76GKbA', target='_blank') funride, 업힐 테크닉
        li: a(href='https://www.youtube.com/watch?v=kFDDWJONbgY', target='_blank') funride, 시마노 업힐
        li: a(href='https://www.youtube.com/watch?v=ViFgSgZZnNQ', target='_blank') funride, 시마노 페달링 실내
        li: a(href='https://www.youtube.com/watch?v=vXPcf19mK4Q', target='_blank') funride, 시마노 페달링 실전

      ul
        li: a(href='http://blog.naver.com/tobemusic/220476347835', target='_blank') 포유, 부천 사이클아카데미 자전거 피팅서비스
