extends ../layout/layout

block head-title
  title 여행 커뮤니티 - #{appName}

block content

    .page-title
      h1 여행 커뮤니티

    .category-detail

      .sub-category
        .name 커뮤니티
        ul
          li 자여사
            a(href='http://cafe.naver.com/biketravelers', target='_blank') http://cafe.naver.com/biketravelers
          li Surly로 떠나는 자전거 여행
            a(href='http://cafe.naver.com/surlybike', target='_blank') http://cafe.naver.com/surlybike
          li  
            a(href='', target='_blank') 
          li 뚜르 드 월드
            a(href='http://cafe.naver.com/tourdeworld', target='_blank') http://cafe.naver.com/tourdeworld
          li 노마드자전거여행학교
            a(href='http://cafe.naver.com/velotourschool', target='_blank') http://cafe.naver.com/velotourschool
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 해외 잡지
        ul
          li BUNYAN VELO
            a(href='http://bunyanvelo.com', target='_blank') http://bunyanvelo.com
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 블로그
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 노마드, 박주하
            a(href='http://blog.naver.com/parkjouha', target='_blank') http://blog.naver.com/parkjouha
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
