extends ../layout/layout

block head-title
  title 미니벨로 커뮤니티 - #{appName}

block content

    .page-title
      h1 미니벨로 커뮤니티

    .category-detail

      .sub-category
        .name 커뮤니티
        ul
          li 내 마음속의 미니벨로
            a(href='http://cafe.naver.com/minivelobike', target='_blank') http://cafe.naver.com/minivelobike
          li 브롬톤
            a(href='http://cafe.naver.com/brompton', target='_blank') http://cafe.naver.com/brompton
          li 다혼
            a(href='http://cafe.naver.com/dahon', target='_blank') http://cafe.naver.com/dahon
          li 스트라이다
            a(href='http://cafe.naver.com/strida', target='_blank') http://cafe.naver.com/strida
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
