extends ../layout/layout

block head-title
  title 로드 커뮤니티 - #{appName}

block content

    .page-title
      h1 로드 커뮤니티

    .category-detail

      .sub-category
        .name 커뮤니티
        ul
          li 도싸
            a(href='http://corearoadbike.com', target='_blank') http://corearoadbike.com
          li 뽐뿌 자포
            a(href='http://www.ppomppu.co.kr/zboard/zboard.php?id=bike', target='_blank') http://www.ppomppu.co.kr/...
          li 클리앙 자당
            a(href='http://www.clien.net/cs2/bbs/board.php?bo_table=cm_bike', target='_blank') http://www.clien.net/...
          li 클랙식 &amp; 빈티지
            a(href='http://cafe.naver.com/classicvintage', target='_blank') http://cafe.naver.com/classicvintage
          li 우먼스라이딩 
            a(href='http://cafe.naver.com/womensriding', target='_blank') http://cafe.naver.com/womensriding
          li 뚜르드
            a(href='http://cafe.naver.com/tourde', target='_blank') http://cafe.naver.com/tourde
          li 팀 부두
            a(href='http://cafe.naver.com/boodooctc', target='_blank') http://cafe.naver.com/boodooctc

      .sub-category
        .name 블로그
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

