extends ../layout/layout

block head-title
  title 펌프 - #{appName}

block content

    .page-title
      h1 펌프

    .category-detail

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 

      .sub-category
        .name 
        ul
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
          li 
            a(href='', target='_blank') 
