extends ../layout/layout

block head-title
  title 펌프 - #{appName}

block content

  .page-title
    h1 펌프

  .depth2

    .depth3.
      집에 큰 펌프를 하나 두세요.<br>
      <br>
      자전거에 붙이고 다니려면 지요(Giyo) GM-71 이 무난합니다.<br>
      지요 GM-821 은 다운튜브 두꺼운 요즘 자전거에는 못 붙입니다.<br>
      <br>
      토픽에서도 게이지 달린 휴대용 펌프가 나오는데<br>
      (Road Morph G, Turbo Morph G 등) 꽤 비쌉니다.<br>
      <br>
      CO2 카트리지는 0.1 초만에 튜브를 빵빵하게 만들어 주는데 1 회용입니다.<br>

    .depth3
      //.name 수입 
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com

      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 지요
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB


  include _mall.jade