extends ../layout/layout

block head-title
  title 펌프 - #{appName}

block content

  .page-title
    h1 펌프

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/38', target='_blank') 자전거공작소, 펌프 선택과 대운펌프 공기주입법
        li: a(href='http://biketool.tistory.com/59', target='_blank') 자전거공작소, 휴대용 펌프로 공에 바람 넣기
      ul
        li: a(href='http://blog.naver.com/akiliner/220682916927', target='_blank') 칫솔, 휴대용 펌프 2016

    .depth3
      //.name 수입 
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com

      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 지요
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB


  include _mall.jade