extends ../layout/layout

block head-title
  title 펌프 - #{appName}

block content

  .page-title
    h1 펌프

  .depth2

      .depth3.
        집에 큰 펌프를 하나 두세요.<br>
        <br>
        자전거에 붙이고 다니려면 지요(Giyo) GM-71 이 무난합니다.<br>
        지요 GM-821 은 다운튜브 두꺼운 요즘 자전거에는 못 붙입니다.<br>

      .depth3
        .name 제품 
        ul
          li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 지요
          li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
          li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr

  include _mall.jade