extends ../layout/layout

block head-title
  title 란도너스 - #{appName}

block content

  .page-title
    h1 란도너스

  .depth2

    .depth3
      ul
        li: a(href='http://www.korea-randonneurs.org', target='_blank') http://www.korea-randonneurs.org
        li: a(href='http://www.paris-brest-paris.org', target='_blank') http://www.paris-brest-paris.org
      ul
        li: a(href='https://randonneurgotlost.wordpress.com/2013/01/15/초보자를-위한-란도너링-가이드/', target='_blank') 곰곰, 초보자를 위한 란도너링 가이드
        li: a(href='http://blog.naver.com/akiliner/220196307576', target='_blank') 칫솔, 란도너링 용어 탐구, 2014
      ul
        li: a(href='http://cafe.naver.com/randonuers', target='_blank') http://cafe.naver.com/randonuers, 랜사모
      ul
        li: a(href='http://blog.daum.net/thanks2u2/464', target='_blank') 곽상준, 그랜드 랜도너스 1200km
        li: a(href='http://sayuyu.tistory.com/815', target='_blank') 사유유, 랜도너스 후기 모음
        li: a(href='http://cafe.naver.com/bikecity/1477374', target='_blank') 순대, 초보에서 초급으로 서울동200k 완주기
        li: a(href='http://blog.naver.com/mdjoo72', target='_blank') 엠디주님의 블로그
      ul
        li: a(href='https://www.facebook.com/notes/jason-m-ham/korea-grand-randonnee-1200k-ride-report-june-4-7-2016/10156944176185386', target='_blank') Jason M. Ham, Korea Grand Randonnee 1200K Ride Report 2016
        li: a(href='https://www.facebook.com/notes/jason-m-ham/2016-seoul-600-ride-report/10156823767725386', target='_blank') Jason M. Ham, 2016 Seoul 600 Ride Report
        li: a(href='https://www.facebook.com/jason.m.ham/posts/10155522504795386', target='_blank') Jason M. Ham, The 2015 Seoul 600
      ul
        li: a(href='http://bicycletimesmag.com/beginners-guide-randonneuring', target='_blank') A beginners guide to randonneuring
        li: a(href='http://www.bikequarterly.com/BQPBPEquipsurvey.pdf', target='_blank') A Survey of the Equipment in Paris-Brest-Paris 2007
