extends ../layout/layout

block head-title
  title 리커버리 - #{appName}

block content

  .page-title
    h1 리커버리

  .depth2

    .depth3
      .name 파워젤
      ul
        li: a(href='http://www.kolonpharm.co.kr', target='_blank') http://www.kolonpharm.co.kr, 코오롱 파워젤
        li: a(href='http://www.aminovital.kr/', target='_blank') http://www.aminovital.kr, 아미노 바이탈
      ul
        li: a(href='http://www.wiggle.co.uk', target='_blank') http://www.wiggle.co.uk

    .depth3
      .name 압박토시
      ul
        li: a(href='http://www.lytus.co.kr', target='_blank') http://www.lytus.co.kr, 주앙느

  include _mall.pug