extends ../layout/layout

block head-title
  title 대여/운반 - #{appName}

block content

  .page-title
    h1 대여/운반

  .list-at-pages
        
    .group
      ul
        li: a(href='http://www.biketrip.co.kr', target='_blank') http://www.biketrip.co.kr, 렌탈/운반, 서울, 제주도
        li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr, 렌탈, 합정동

    .group
      ul
        li: a(href='http://biketool.tistory.com/330', target='_blank') 자전거공작소, 자전거 박스 포장법, 로드바이크 중심으로
        li: a(href='http://blog.naver.com/pinmanix/220726795055', target='_blank') 공돌이, 밥 웍스 자전거 프로텍터
        li: a(href='http://blog.naver.com/myduracle/220750088501', target='_blank') 듀라클, 기내 반입 금지 자전거 용품
      ul
        li: a(href='http://blog.naver.com/akiliner/220810026169', target='_blank') 칫솔, 제주도로 자전거 가져가기
