extends ../layout/layout

block head-title
  title 대여/운반 - #{appName}

block content

  .page-title
    h1 

  .depth2

    .depth3
      ul
        li: a(href='http://blog.naver.com/pinmanix/220726795055', target='_blank') 공돌이, 밥 웍스 자전거 프로텍터
        
    .depth3
      ul
        li: a(href='http://www.biketrip.co.kr', target='_blank') http://www.biketrip.co.kr
