extends ../layout/layout

block head-title
  title 라이딩 - #{appName}

block content

  .page-title
    h1 라이딩

  .depth2

    .depth3
      .name 도로 상식
      ul
        li: a(href='http://jty40.blog.me/220488932257', target='_blank') 금개구리, 자전거를 안전하게 타기 위한 7가지 조건
        li: a(href='https://ko.wikipedia.org/wiki/대한민국의_도로', target='_blank') 대한민국의 도로

    .depth3
      .name 날씨
      ul
        li: a(href='http://blog.naver.com/akiliner/220645526138', target='_blank') 칫솔, 날씨앱 2016
      ul
        li: a(href='https://www.windyty.com', target='_blank') https://www.windyty.com
        li: a(href='https://earth.nullschool.net', target='_blank') https://earth.nullschool.net

    .depth3
      .name 산악 라이딩
      ul
        li: a(href='http://biketool.tistory.com/139', target='_blank') 자전거공작소, 자전거 안전하게 즐기기 위한 요령
        li: a(href='http://biketool.tistory.com/60', target='_blank') 자전거공작소, 산악자전거 라이딩 전 점검사항과 라이딩 후 보관법
        li: a(href='http://biketool.tistory.com/140', target='_blank') 자전거공작소, 자동차에 의한 사고 후 자전거 보상과정에 관하여