extends ../layout/layout

block head-title
  title 도로 상식 - #{appName}

block content

  .page-title
    h1 도로 상식

  .depth2

    .depth3
      .name 
      ul
        li: a(href='http://jty40.blog.me/220488932257', target='_blank') 금개구리, 자전거를 안전하게 타기 위한 7가지 조건
        li: a(href='https://ko.wikipedia.org/wiki/대한민국의_도로', target='_blank') 대한민국의 도로
