extends ../layout/layout

block head-title
  title 안장 - #{appName}

block content

  .page-title
    h1 안장

  .depth2

    .depth3
      //.name 가이드
      ul
        li: a(href='http://biketool.tistory.com/147', target='_blank') 자전거공작소, 자전거 안장에 관하여
        li: a(href='http://biketool.tistory.com/25', target='_blank') 자전거공작소, 시트포스트와 안장의 분리 및 장착
        li: a(href='http://biketool.tistory.com/113', target='_blank') 자전거공작소, 자전거 사이즈3, 안장의 위치
      ul
        li: a(href='http://blog.naver.com/akiliner/220296505281', target='_blank') 칫솔, 안장 일반론, 2015
        li: a(href='http://blog.naver.com/akiliner/220531351743', target='_blank') 칫솔, 그냥 편한 안장 찾으신다면 SMP 하이브리드.
        li: a(href='http://blog.naver.com/dpsystem/220403788515', target='_blank') 김기사, 박대리, 드디어 맞는 안장을 찾게 되다, 2015
        li: a(href='http://ngpnephilim.blog.me/220610941276', target='_blank') 호윤, 2016년 로드바이크 정리 - 안장편
        
    .depth3
      //.name 수입
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 피직, 프롤로고
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, SMP
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, 셀레 이탈리아
        li: a(href='http://www.levelo.co.kr', target='_blank') http://www.levelo.co.kr, 브룩스
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 브룩스
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, SDG
        li: a(href='http://www.citybike.co.kr', target='_blank') http://www.citybike.co.kr, SQlab
        li: a(href='http://www.sportswell.co.kr', target='_blank') http://www.sportswell.co.kr, 스포투어러
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키


  include _mall.jade