extends ../layout/layout

block head-title
  title 싯포스트 - #{appName}

block content

  .page-title
    h1 싯포스트

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/25', target='_blank') 자전거공작소, 시트 포스트와 안장의 분리 및 장착
        li: a(href='http://biketool.tistory.com/165', target='_blank') 자전거공작소, 시트 클램프 그리고 사이즈
        li: a(href='http://biketool.tistory.com/325', target='_blank') 자전거공작소, 시트 포스트가 슬금슬금 내려간다. 무엇이 문제인가?
        li: a(href='http://biketool.tistory.com/351', target='_blank') 자전거공작소, 고착된 시트 포스트 제거법

    .depth3
      //.name 수입
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com


  include _mall.pug