extends ../layout/layout

block head-title
  title 싯포스트 - #{appName}

block content

  .page-title
    h1 싯포스트

  .depth2

    .depth3
      //.name 수입
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com



  include _mall.jade