extends ../layout/layout

block head-title
  title 샥 - #{appName}

block content

  .page-title
    h1 샥

  .depth2

    .depth3
      ul
        li: a(href='http://www.ixenon.co.kr', target='_blank') http://www.ixenon.co.kr, 폭스샥
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 락샥

  include _mall.jade