extends ../layout/layout

block head-title
  title 지역별 샾 - #{appName}

block content

  .page-title
    h1 지역별 숍

  .depth2
    
    .depth3
      .name 체인점
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.altonsports.co.kr', target='_blank') http://www.altonsports.co.kr
        li: a(href='http://www.bikey.co.kr', target='_blank') http://www.bikey.co.kr
        li: a(href='http://www.biclo.co.kr', target='_blank') http://www.biclo.co.kr

    .depth3
      .name 광진구
      ul
        li: a(href='http://fullouter.co.kr', target='_blank') http://fullouter.co.kr, 뚝섬유원지역
        li: a(href='http://godkca.com', target='_blank') http://godkca.com, 뚝섬유원지역
        li: a(href='http://bikestationku.modoo.at', target='_blank') http://bikestationku.modoo.at, 뚝섬유원지역
        li: a(href='http://blog.naver.com/docver', target='_blank') http://blog.naver.com/docver, 뚝섬유원지역
        li: a(href='http://광진omk.kr', target='_blank') http://광진omk.kr, 아차산역
        li: a(href='http://cafe.naver.com/thegoodbike', target='_blank') http://cafe.naver.com/thegoodbike, 군자동

    .depth3
      .name 성동구
      ul
        li: a(href='http://cafe.naver.com/veloday', target='_blank') http://cafe.naver.com/veloday, 왕십리
        li 성진바이크, 응봉역
        
    .depth3
      .name 동대문구
      ul
        li: a(href='http://www.youjinbike.co.kr', target='_blank') http://www.youjinbike.co.kr, 장안동
        li: a(href='http://philshop.co.kr', target='_blank') http://philshop.co.kr, 장안동
        li: a(href='http://www.femtb.co.kr', target='_blank') http://www.femtb.co.kr, 청량리

    .depth3
      .name 중랑구
      ul
        li: a(href='http://www.bikeland.co.kr', target='_blank') http://www.bikeland.co.kr, 중랑역
        li: a(href='http://www.manitoubike.co.kr', target='_blank') http://www.manitoubike.co.kr, 중랑역

    .depth3
      .name 노원구
      ul
        li: a(href='http://www.qvelo.co.kr', target='_blank') http://www.qvelo.co.kr, 태릉입구역
        li: a(href='http://blog.naver.com/qvelo', target='_blank') http://blog.naver.com/qvelo
        li: a(href='http://cnpbike.com', target='_blank') http://cnpbike.com, 월계역
        li: a(href='http://cafe.naver.com/rosinanteshop', target='_blank') http://cafe.naver.com/rosinanteshop, 태릉입구역

    .depth3
      .name 성북구
      ul
        li: a(href='http://www.athatb.com', target='_blank') http://www.athatb.com, 길음역

    .depth3
      .name 용산구
      ul
        li: a(href='http://bikely.kr', target='_blank') http://bikely.kr, 용산역
        li: a(href='http://blog.naver.com/bikely', target='_blank') http://blog.naver.com/bikely
        li: a(href='http://www.routebike.co.kr', target='_blank') http://www.routebike.co.kr, 용산역
        li: a(href='http://bb5.co.kr', target='_blank') http://bb5.co.kr, 반포대교

    .depth3
      .name 마포구
      ul
        li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr, 합정역
        li: a(href='http://www.ssung2shop.com', target='_blank') http://www.ssung2shop.com, 상수동
        li: a(href='http://www.peppha.co.kr', target='_blank') http://www.peppha.co.kr, 망원동
        li: a(href='http://blog.naver.com/peppha', target='_blank') http://blog.naver.com/peppha

    .depth3
      .name 은평구
      ul
        li: a(href='http://www.weplay.co.kr/', target='_blank') http://www.weplay.co.kr, 새절역
        li: a(href='http://www.my-bike.co.kr', target='_blank') http://www.my-bike.co.kr, 새절역

    .depth3
      .name 강동구
      ul
        li: a(href='http://www.odvelo.com', target='_blank') http://www.odvelo.com, 성내동
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 성내동
        li: a(href='http://www.agitshop.co.kr', target='_blank') http://www.agitshop.co.kr, 성내동

    .depth3
      .name 송파구
      ul
        li: a(href='http://cafe.naver.com/specializedseoulcmb', target='_blank') http://cafe.naver.com/specializedseoulcmb, 잠실
        li: a(href='http://cafe.naver.com/zionbike', target='_blank') http://cafe.naver.com/zionbike, 풍납동

    .depth3
      .name 강남구
      ul
        li: a(href='http://www.shootingb.com', target='_blank') http://www.shootingb.com, 신사동
        li: a(href='http://www.hans-mtb.co.kr', target='_blank') http://www.hans-mtb.co.kr, 신사동
        li: a(href='http://www.cellosports.com/comm/board_view.html?type=info&mn=&code_num=MTg1MjQ=', target='_blank') 첼로 홍보관, 신사동
        li: a(href='http://levelo.co.kr', target='_blank') http://levelo.co.kr, 신사동
        li: a(href='http://blog.naver.com/rodeobike1', target='_blank') http://blog.naver.com/rodeobike1, 압구정동
        li: a(href='http://www.duracle.com', target='_blank') http://www.duracle.com, 언주역

    .depth3
      .name 서초구
      ul
        li: a(href='http://www.biclo.co.kr', target='_blank') http://www.biclo.co.kr, 반포점
        li: a(href='http://awesomegear.co.kr', target='_blank') http://awesomegear.co.kr, 양재동

    .depth3
      .name 동작구
      ul
        li: a(href='http://blog.naver.com/kamandolbike', target='_blank') http://blog.naver.com/kamandolbike, 흑석동 자전거포

    .depth3
      .name 영등포구
      ul
        li: a(href='http://cycloidbike.com', target='_blank') http://cycloidbike.com, 당산역
        li: a(href='http://cafe.naver.com/bicyclemeca', target='_blank') http://cafe.naver.com/bicyclemeca, 영등포역

    .depth3
      .name 구로구
      ul
        li: a(href='http://blog.naver.com/manelloshop', target='_blank') http://blog.naver.com/manelloshop, 구로동

    .depth3
      .name 강서구
      ul
        li: a(href='http://www.bikesports.kr', target='_blank') http://www.bikesports.kr, 화곡동

    .depth3
      .name 경기 성남시
      ul
        li: a(href='http://www.saymtb.com', target='_blank') http://www.saymtb.com
        li: a(href='http://www.pqbike.co.kr/', target='_blank') http://www.pqbike.co.kr
        li: a(href='http://www.hitenbike.co.kr', target='_blank') http://www.hitenbike.co.kr
        li: a(href='http://kushop.kr', target='_blank') http://kushop.kr
        li: a(href='http://www.cycleworks.co.kr', target='_blank') http://www.cycleworks.co.kr
        li: a(href='http://rxbike.com', target='_blank') http://rxbike.com

    .depth3
      .name 경기 용인 
      ul
        li: a(href='http://www.yoonsungbike.co.kr', target='_blank') http://www.yoonsungbike.co.kr

    .depth3
      .name 경기 광명 
      ul
        li: a(href='http://www.r4b.co.kr', target='_blank') http://www.r4b.co.kr

    .depth3
      .name 경기 파주
      ul
        li: a(href='http://bicyclecamping.co.kr', target='_blank') http://bicyclecamping.co.kr, 자전거 캠핑

    .depth3
      .name 경기 의정부
      ul
        li: a(href='http://buybicycle.co.kr', target='_blank') http://buybicycle.co.kr
        li: a(href='', target='_blank')
        li: a(href='', target='_blank')
          
    .depth3
      .name 제주도
      ul
        li: a(href='http://www.jejuproshop.com', target='_blank') http://www.jejuproshop.com
        li: a(href='', target='_blank')
        li: a(href='', target='_blank')

 