extends ../layout/layout

block head-title
  title 거치대 - #{appName}

block content

  .page-title
    h1 거치대

  .depth2
    .depth3
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 미노우라
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com


  include _mall.jade
