extends ../layout/layout

block head-title
  title 타이어/튜브 - #{appName}

block content

  .page-title
    h1 타이어/튜브

  .list-at-pages

    .group
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr

      ul
        li: a(href='http://www.welltuned.co.kr', target='_blank') http://www.welltuned.co.kr, 슈발베, 벨로또
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 슈발베, 미쉐린
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 컨티넨탈
        li: a(href='http://samhan-inc.com', target='_blank') http://samhan-inc.com, 비토리아
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 벨로플랙스
        li: a(href='http://www.santinikorea.com', target='_blank') http://www.santinikorea.com, 벨로플랙스
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 켄다
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 허친슨
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 켄다
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 온자
        li: a(href='http://www.jagang.co.kr', target='_blank') http://www.jagang.co.kr, 맥시스
        li: a(href='http://www.koreacycle.com', target='_blank') http://www.koreacycle.com, 이노바
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 파나레이서
        li: a(href='http://www.sportswell.co.kr', target='_blank') http://www.sportswell.co.kr, 루베나
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com

    .group
      ul
        li: a(href='http://biketool.tistory.com/11', target='_blank') 자전거공작소, 자전거 튜브의 종류와 펌프 세팅
        li: a(href='http://biketool.tistory.com/12', target='_blank') 자전거공작소, 자전거 공기 주입
        li: a(href='http://biketool.tistory.com/38', target='_blank') 자전거공작소, 펌프 선택과 대운펌프 공기주입법
        li: a(href='http://biketool.tistory.com/142', target='_blank') 자전거공작소, 튜브 밸브 관리요령, 바람이 미세하게 빠질 때
        li: a(href='http://biketool.tistory.com/288', target='_blank') 자전거공작소, 자전거 타이어에서 공기가 미세하게 빠질 때 대처법
        li: a(href='http://biketool.tistory.com/293', target='_blank') 자전거공작소, 자전거 튜브의 수명은 얼마나 되는가?
      ul
        li: a(href='http://biketool.tistory.com/185', target='_blank') 자전거공작소, 자전거 타이어 사이즈의 종류 호환과 선택
        li: a(href='http://biketool.tistory.com/204', target='_blank') 자전거공작소, 자전거 타이어 부위별 명칭과 구조에 따른 분류 및 특징
        li: a(href='http://biketool.tistory.com/66', target='_blank') 자전거공작소, 산악자전거 타이어 선택
        li: a(href='http://biketool.tistory.com/226', target='_blank') 자전거공작소, 자전거 타이어 수명과 교체시기
        li: a(href='http://biketool.tistory.com/285', target='_blank') 자전거공작소, 자전거 폐타이어 처리법
      ul
        li: a(href='http://biketool.tistory.com/15', target='_blank') 자전거공작소, 자전거 바퀴의 분리와 장착
        li: a(href='http://biketool.tistory.com/16', target='_blank') 자전거공작소, 타이어와 튜브의 분리와 장착
        li: a(href='http://biketool.tistory.com/193', target='_blank') 자전거공작소, 생활 자전거 타이어 교체 1
        li: a(href='http://biketool.tistory.com/194', target='_blank') 자전거공작소, 생활 자전거 타이어 교체 2
        li: a(href='http://biketool.tistory.com/209', target='_blank') 자전거공작소, 로드 바이크 튜블러 타이어 장착법
        li: a(href='http://biketool.tistory.com/243', target='_blank') 자전거공작소, 로드 바이크 클린처 타이어 분리 및 설치
      ul
        li: a(href='http://biketool.tistory.com/17', target='_blank') 자전거공작소, 자전거 튜브 펑크 수리 1
        li: a(href='http://biketool.tistory.com/72', target='_blank') 자전거공작소, 자전거 튜브 펑크 수리 2, 바퀴를 분리하지 않고
        li: a(href='http://biketool.tistory.com/129', target='_blank') 자전거공작소, 타이어 레버와 펑크패치
        li: a(href='http://biketool.tistory.com/327', target='_blank') 자전거공작소, 튜브를 교체했는데도 펑크가 반복되는 이유는 무엇인가?
      ul
        li: a(href='http://biketool.tistory.com/173', target='_blank') 자전거공작소, 림테이프 제거와 설치
      ul
        li: a(href='http://blog.naver.com/akiliner/220140725191', target='_blank') 칫솔, 스네이크 바이트
        li: a(href='http://blog.naver.com/akiliner/220371963094', target='_blank') 칫솔, 튜브 밸브 너트, 밸브 코어 수리
        li: a(href='http://blog.naver.com/akiliner/220796098624', target='_blank') 칫솔, 타이어 규격들
        li: a(href='http://blog.naver.com/akiliner/220847640840', target='_blank') 칫솔, 타이어의 분수 사이즈
        li: a(href='http://blog.naver.com/akiliner/220847634630', target='_blank') 칫솔, 고대 타이어들
        li: a(href='http://blog.naver.com/akiliner/220844526512', target='_blank') 칫솔, 림 폭과 권장 타이어 폭
        li: a(href='http://blog.naver.com/akiliner/220836190590', target='_blank') 칫솔, 타이어 찢어지면 TB-2
      ul
        li: a(href='http://blog.naver.com/mechanicfox/220274161139', target='_blank') 여우, 클린쳐 타이어 쉽게 빼기
        li: a(href='http://blog.naver.com/mechanicfox/220275518670', target='_blank') 여우, 클린쳐 타이어 쉽게 끼우기
      ul
        li: a(href='http://blog.naver.com/bike_story/220805439649', target='_blank') 바스주인장, 왜 CO2 로 넣은 바람은 더 잘 빠질까
      ul
        li: a(href='http://www.parktool.com/blog/repair-help/inner-tube-repair', target='_blank') 팍툴, 펑크 패치의 비닐은 떼는 것이 아니다
        li: a(href='https://www.youtube.com/watch?v=u6ec9vV4Tgo', target='_blank') Mobile Bike Repair Stand
        li: a(href='https://www.youtube.com/watch?v=V0P3oQWo22A', target='_blank') SCHWALBE Bicycle Tires: How Are Made

        
  include _mall.pug
