extends ../layout/layout

block head-title
  title 타이어/튜브 - #{appName}

block content

  .page-title
    h1 타이어/튜브

  .depth2

    .depth3
      .name 가이드
      ul
        li: a(href='http://blog.naver.com/mechanicfox/220274161139', target='_blank') 여우, 클린쳐 타이어 쉽게 빼기
        li: a(href='http://blog.naver.com/mechanicfox/220275518670', target='_blank') 여우, 클린쳐 타이어 쉽게 끼우기
        li: a(href='http://blog.naver.com/akiliner/220140725191', target='_blank') 칫솔, 스네이크 바이트, 2014 
        li: a(href='http://blog.naver.com/akiliner/220371963094', target='_blank') 칫솔, 밸브 너트, 밸브 코어 수리, 2015
        li: a(href='http://www.parktool.com/blog/repair-help/inner-tube-repair', target='_blank') 펑크 패치의 비닐은 떼는 것이 아니다.
      ul
        li: a(href='https://www.youtube.com/watch?v=u6ec9vV4Tgo', target='_blank') 뒷 바퀴 쉽게 빼는 법<br>Quick and Easy Mobile Bike Repair Stand

    .depth3
      .name 로드 튜브
      div.
        로드용으로 무슨 튜브를 사야할지 모를 때는 '슈발베 SV 15'를 삽니다. SV 20 은 잘 터집니다.<br>
        밸브길이 40mm 는 로우림용, 60mm 는 하이림용입니다.<br>
        밸브코어 분리 안 되는 저가 튜브들은 바람이 슬슬빠지면 수리가 안 되서 버려야합니다.<br>
        슈발베가 없다면 가능하면 벨브코어 분리되는 튜브를 사십시오.<br>

    .depth3
      .name 수입
      ul
        li: a(href='http://www.welltuned.co.kr', target='_blank') http://www.welltuned.co.kr, 슈발베
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 슈발베
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 컨티넨탈
        li: a(href='http://samhan-inc.com', target='_blank') http://samhan-inc.com, 비토리아
        li: a(href='http://www.daejin-inc.com', target='_blank') http://www.daejin-inc.com, 벨로플랙스
        li: a(href='http://www.hksram.com', target='_blank') http://www.hksram.com, 켄다
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 켄다
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 미쉐린
        li: a(href='http://exo.kr', target='_blank') http://exo.kr, 온자
        li: a(href='http://www.jagang.co.kr', target='_blank') http://www.jagang.co.kr, 맥시스
        li: a(href='http://www.koreacycle.com', target='_blank') http://www.koreacycle.com, 이노바
        
  include _mall.jade
