extends ../layout/layout

block head-title
  title 공구통 - #{appName}

block content

  .page-title
    h1 공구통

  .depth2

    .depth3
      //.name 생산/수입
      ul
        li: a(href='http://www.bm-works.co.kr', target='_blank') http://www.bm-works.co.kr
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽

  include _mall.jade