extends ../layout/layout

block head-title
  title 공구 - #{appName}

block content

  .page-title
    h1 공구

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/26', target='_blank') 자전거공작소, 자전거용 각종 삼각렌치
        li: a(href='http://biketool.tistory.com/43', target='_blank') 자전거공작소, 토크렌치란 무엇인가
        li: a(href='http://biketool.tistory.com/123', target='_blank') 자전거공작소, 자전거 정비 작업대
        li: a(href='http://biketool.tistory.com/134', target='_blank') 자전거공작소, 우레탄 망치
        li: a(href='http://biketool.tistory.com/151', target='_blank') 자전거공작소, 휴대용 멀티툴
      ul
        li: a(href='http://biketool.tistory.com/130', target='_blank') 자전거공작소, 자전거 공구 선택, 파크툴(Park Tool)이란 무엇인가?

    .depth3
      ul
        li 멀티툴은 체인분리 기능이 있는 것을 사세요.
        li 고민하기 싫으면 토픽 헥서스2.

    .depth3
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
      ul
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 크랭크브라더스
      ul
        li: a(href='http://www.ixenon.co.kr', target='_blank') http://www.ixenon.co.kr, 파크툴
        li: a(href=' http://www.fours.co.kr', target='_blank')  http://www.fours.co.kr, 아이스툴즈
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, BBB
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, Super B, 재그와이어
        
  include _mall.jade