extends ../layout/layout

block head-title
  title 공구통 - #{appName}

block content

  .page-title
    h1 공구통

  .depth2

    .depth3
      //.name 
      ul
        li: a(href='http://blog.naver.com/akiliner/220712697246', target='_blank') 칫솔, 공구통 내용물 2016
      ul
        li: a(href='http://biketool.tistory.com/151', target='_blank') 자전거공작소, 휴대용 멀티툴
    .depth3
      ul
        li 멀티툴은 체인분리 기능이 있는 것을 사세요.
        li 고민하기 싫으면 토픽 헥서스2.

    .depth3
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
      ul
        li: a(href='http://www.bm-works.co.kr', target='_blank') http://www.bm-works.co.kr
        li: a(href='http://www.hlsc.co.kr', target='_blank') http://www.hlsc.co.kr, 토픽
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 제팔
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, PRO
        li: a(href='http://www.lezyne.co.kr', target='_blank') http://www.lezyne.co.kr
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 크랭크브라더스
      ul
        li: a(href='http://www.freeparable.com', target='_blank') http://www.freeparable.com, 몽키 웨지

  include _mall.pug