extends ../layout/layout

block head-title
  title 국토종주 - #{appName}

block content

  .page-title
    h1 국토종주

  .category-detail

    .subc
      .name 국토종주
      ul
        li: a(href='http://sanguru.blog.me', target='_blank') 산구루, 4대강 국토종주 자전거길 가이드
        li: a(href='http://blog.naver.com/akiliner/220360663858', target='_blank') 칫솔, 쉽게 가는 국토종주
        li: a(href='http://blog.naver.com/akiliner/220401227909', target='_blank') 칫솔, 국토종주 준비물, 2015

      ul
        li: a(href='http://blog.naver.com/akiliner/220444768710', target='_blank') 칫솔, 2015, 팀 촙오 국토종주 후기 
        li: a(href='http://blog.naver.com/akiliner/220321818374', target='_blank') 칫솔, 2013, 브롬톤 국토종주 후기

    .subc
      .name 전국일주
      ul
        li: a(href='http://blog.naver.com/leon711', target='_blank') 레옹, 국토종주, 전국자전거길 대동여지도
        li: a(href='http://blog.naver.com/akiliner/220113008481', target='_blank') 칫솔, 4대강 그랜드 투어 1600K, 2014