extends ../layout/layout

block head-title
  title 마일리지 - #{appName}

block content

  .page-title
    h1 마일리지

  .category-detail

    .subc
      ul
        li: a(href='https://www.strava.com', target='_blank') https://www.strava.com
        li: a(href='https://www.endomondo.com', target='_blank') https://www.endomondo.com
        li: a(href='https://tapiriik.com', target='_blank') https://tapiriik.com
        li: a(href='http://veloviewer.com', target='_blank') http://veloviewer.com
