extends ../layout/layout

block head-title
  title 날씨 - #{appName}

block content

  .page-title
    h1 날씨

  .depth2

    .depth3
      //-.name 날씨앱
      ul
        li: a(href='http://blog.naver.com/akiliner/220645526138', target='_blank') 칫솔, 날씨앱 2016

