extends ../layout/layout

block head-title
  title 휠 - #{appName}

block content

  .page-title
    h1 휠

  .depth2

    .depth3
      ul
        li: a(href='http://biketool.tistory.com/28', target='_blank') 자전거공작소, 휠셋이란 무엇인가?
      ul
        li: a(href='http://biketool.tistory.com/36', target='_blank') 자전거공작소, 시마노 허브 정비
        li: a(href='http://biketool.tistory.com/109', target='_blank') 자전거공작소, 허브 콘 렌치, 허브 액슬 바이스
      ul
        li: a(href='http://biketool.tistory.com/69', target='_blank') 자전거공작소, 휠 교정
        li: a(href='http://biketool.tistory.com/85', target='_blank') 자전거공작소, 휠 디싱, 센터링
        li: a(href='http://biketool.tistory.com/99', target='_blank') 자전거공작소, 휠 트루잉 스탠드
      ul
        li: a(href='http://biketool.tistory.com/78', target='_blank') 자전거공작소, 스포크 교환과 스포크에 대한 이해
        li: a(href='http://biketool.tistory.com/80', target='_blank') 자전거공작소, 스포크 나사산 가공
        li: a(href='http://biketool.tistory.com/89', target='_blank') 자전거공작소, 스포크 렌치
        li: a(href='http://biketool.tistory.com/127', target='_blank') 자전거공작소, 스포크 장력측정과 휠셋관리
      ul
        li: a(href='http://biketool.tistory.com/115', target='_blank') 자전거공작소, 자전거 정비에 필요한 각종 오일들
      ul
        li: a(href='http://ngpnephilim.blog.me/220613021047', target='_blank') 호윤, 2016년 로드바이크 정리 - 휠셋편(월드투어, 기타)

    .depth3
      .name 로드
      ul
        li: a(href='http://www.samchuly.co.kr', target='_blank') http://www.samchuly.co.kr
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.trekbikes.com', target='_blank') http://www.trekbikes.com
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr

      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로, 라웨
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 펄크럼, 젠티스
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, DT Swiss
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 레이놀즈
        li: a(href='http://www.rpmsports.co.kr', target='_blank') http://www.rpmsports.co.kr, 노바텍
        li: a(href='http://www.synkeybike.com', target='_blank') http://www.synkeybike.com, 오발
        li: a(href='http://sanbadasports.co.kr', target='_blank') http://sanbadasports.co.kr, 비젼
        li: a(href='http://www.spomate.com', target='_blank') http://www.spomate.com, 롤프
        
    .depth3
      .name 산악
      ul
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 스팽크

    .depth3
      .name 부품
      ul
        li: a(href='http://bike-spoke.com', target='_blank') http://bike-spoke.com
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, DT Swiss, 필라 스포크
      ul
        li: a(href='http://problemsolversbike.com', target='_blank') http://problemsolversbike.com

  include _mall.jade
