extends ../layout/layout

block head-title
  title 휠 - #{appName}

block content

  .page-title
    h1 휠

  .depth2

    .depth3
      .name 가이드
      ul
        li: a(href='http://ngpnephilim.blog.me/220613021047', target='_blank') 호윤, 2016년 로드바이크 정리 - 휠셋편(월드투어, 기타)

    .depth3
      .name 로드
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 캄파놀로
        li: a(href='http://www.djsports.co.kr', target='_blank') http://www.djsports.co.kr, 캄파놀로, 라웨
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 펄크럼, 젠티스
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, DT Swiss
        li: a(href='http://www.tradelab.co.kr', target='_blank') http://www.tradelab.co.kr, 레이놀즈
        li: a(href='http://www.rpmsports.co.kr', target='_blank') http://www.rpmsports.co.kr, 노바텍
        li: a(href='http://www.synkeybike.com', target='_blank') http://www.synkeybike.com, OVAL
        
    .depth3
      .name 산악
      ul
        li: a(href='http://www.imtmall.co.kr', target='_blank') http://www.imtmall.co.kr, 스팽크

    .depth3
      .name 부품
      ul
        li: a(href='http://bike-spoke.com', target='_blank') http://bike-spoke.com
        
  include _mall.jade
