extends ../layout/layout

block head-title
  title #{appName}

block page-header

block content

  script.
    $(function() {
      //ccategory.initList();
    });

  .page-title
    h1
      a(href='/') #{appName}

  //-
    .section
      .sub-section.news
        for banner in banners
          a(href=banner.url, target="_blank") #{banner.text}
          br

  .section
    | 자전거에 관한 모든 카테고리
    br
    | <s>는 희망 사항</s>

  .depth1

    .sub-section
      ul
        li: a(href='/categories/newbie') 자전거에 대해 아무것도 몰라요
      ul
        li: a(href='/categories/pain') 아파요

    .sub-section
      ul
        li: a(href='/categories/bike-road') 로드
        li: a(href='/categories/bike-hybrid') 하이브리드
        li: a(href='/categories/bike-mtb') 엠티비
      ul
        li: a(href='/categories/bike-touring') 투어링
        li: a(href='/categories/bike-chromoly') 크로몰리
        li: a(href='/categories/bike-minivelo') 미니벨로
        li: a(href='/categories/bike-city') 생활차
      ul
        li: a(href='/categories/bike-cx') 사이클로크로스
        li: a(href='/categories/bike-fat') 팻바이크

    .sub-section
      ul
        li: a(href='/categories/clothing') 의류
        li: a(href='/categories/helmet-goggle') 헬멧/고글
        li: a(href='/categories/shoes-pedal') 신발/페달

    .sub-section
      ul
        li: a(href='/categories/light') 라이트
        li: a(href='/categories/bottle-cage') 물통 케이지
        li: a(href='/categories/handlebar-accessory', target='_blank') 핸들바 악세사리
        li: a(href='/categories/bag') 가방
      ul
        li: a(href='/categories/tire-tube') 타이어/튜브
        li: a(href='/categories/chain') 체인
        li: a(href='/categories/chain-oil') 체인 오일
      ul
        li: a(href='/categories/saddle') 안장
        li: a(href='/categories/wheel') 휠
        li: a(href='/categories/drive-train') 구동계
        li: a(href='/categories/handlebar') 핸들바/스템
        li: a(href='/categories/bar-tape') 바테입
      ul
        li: a(href='/categories/fender') 펜더 
        li: a(href='/categories/kick-stand') 킥스텐드 
      ul
        li: a(href='/categories/multi-tool') 멀티툴
        li: a(href='/categories/pump') 펌프
        li: a(href='/categories/tools') 공구

    .sub-section
      ul
        li: a(href='/categories/shop') 지역별 샾

    .sub-section
      ul
        li: a(href='/categories/news') 뉴스
        li: a(href='/categories/event-road') 로드 행사
        li: a(href='/categories/event-mtb') 엠티비 행사

    .sub-section
      ul
        li: a(href='/categories/course') 코스
      ul
        li: a(href='/categories/pedaling') 페달링
        li: a(href='/categories/road-rules') 도로 상식
        li: a(href='/categories/accident') 사고

    .sub-section
      ul
        li: a(href='/categories/garmin') 가민
        li: a(href='/categories/tracking') 마일리지
      ul
        li: a(href='/categories/fitting') 피팅
        li: a(href='/categories/recovery') 리커버리
        li: a(href='/categories/physics') 물리

    .sub-section
      ul
        //-li: a(href='/categories/essay') 에세이
        li: a(href='/categories/legend') 전설

  .section
    a(href='https://www.facebook.com/allca.news', target='_blank')
      span.fa.fa-facebook-square.fa-2x
