extends ../layout/layout

block head-title
  title #{appName}

block page-header

block content

  script.
    $(function() {
      //ccategory.initList();
    });

  .page-title
    h1
      a(href='/') #{appName}

  //-
    .section
      .sub-section.news
        for banner in banners
          a(href=banner.url, target="_blank") #{banner.text}
          br

  .section
    | 자전거에 관한 모든 카테고리
    br
    | <s>는 희망 사항</s>

  .category-list

    .sub-section
      ul
        li: a(href='/categories/newbie') 자전거에 대해 아무것도 몰라요
      ul
        li: a(href='/categories/pain') 아파요

    .sub-section
      ul
        li: a(href='/categories/shopping') 쇼핑몰

    .sub-section
      ul
        li: a(href='/categories/bike-road') 로드
        li: a(href='/categories/bike-chromoly') 크로몰리
        li: a(href='/categories/bike-cx') 사이클로
        li: a(href='/categories/bike-mtb') 엠티비
        li: a(href='/categories/bike-fat') 팻
        li: a(href='/categories/bike-touring') 투어링
        li: a(href='/categories/bike-minivelo') 미니벨로
        li: a(href='/categories/bike-city') 생활차
      //- ul
        li.name 커뮤니티
        li: a(href='/categories/people-road') 로드
        li: a(href='/categories/people-mtb') 산악
        li: a(href='/categories/people-minivelo') 미니벨로
        li: a(href='/categories/people-touring') 여행
      ul
        li: a(href='/categories/news') 뉴스
        li: a(href='/categories/event-road') 로드 행사
        li: a(href='/categories/event-mtb') 엠티비 행사

    .sub-section
      ul
        li: a(href='/categories/light') 라이트
        li: a(href='/categories/bottle') 물통
        li: a(href='/categories/saddle-bag') 안장 가방
      ul
        li: a(href='/categories/tube') 튜브
        li: a(href='/categories/tube') 타이어
        li: a(href='/categories/chain-oil') 체인 오일
      ul
        li: a(href='/categories/multi-tool') 멀티툴
        li: a(href='/categories/pump') 펌프
      ul
        li: a(href='/categories/drive-train') 구동계
        li: a(href='/categories/wheel') 휠
        li: a(href='/categories/saddle') 안장
        li: a(href='/categories/touring-parts') 투어링 부품

    .sub-section
      ul
        li: a(href='/categories/helmet') 헬멧
        li: a(href='/categories/goggles') 고글
        li: a(href='/categories/clothing') 의류
        li: a(href='/categories/gloves') 장갑
        li: a(href='/categories/shoes') 신발/페달

    .sub-section
      ul
        li: a(href='/categories/course-road') 로드 코스
        li: a(href='/categories/course-mtb') 엠티비 코스
        li: a(href='/categories/course-cycle-path') 자전거길
        li: a(href='/categories/tour-korea') 국토종주
        li: a(href='/categories/course-edit') GPX
      ul
        li: a(href='/categories/road-rules') 도로 상식
        li: a(href='/categories/accident') 사고

    .sub-section
      ul
        li: a(href='/categories/garmin') 가민
        li: a(href='/categories/tracking') 스트라바
      ul
        li: a(href='/categories/fitting') 피팅
        li: a(href='/categories/recovery') 리커버리
        li: a(href='/categories/physics') 물리

    .sub-section
      ul
        //-li: a(href='/categories/essay') 에세이
        li: a(href='/categories/legend') 전설

  .section
    a(href='https://www.facebook.com/allca.news', target='_blank')
      span.fa.fa-facebook-square.fa-2x
