extends ../layout/layout

block head-title
  title #{appName}

block content

  script.
    $(function() {
      //ccategory.initList();
    });

  //-
    .section
      .sub-section.news
        for banner in banners
          a(href=banner.url, target="_blank") #{banner.text}
          br

  .section
    .text
      | <s>개미지옥에 오신 것을 환영합니다.</s>
      br
      | 업데이트: 2017-06-18

  .list-at-home

    .sub-section
      ul
        li: a(href='/bike') 자전거
        li: a(href='/frame') 프레임
        li: a(href='/fork') 포크
        li: a(href='/handlebar') 핸들바
        li: a(href='/seat-post') 싯포스트
        li: a(href='/saddle') 안장
      ul
        li: a(href='/drive-train') 구동계
        li: a(href='/chain') 체인
        li: a(href='/break') 브레이크
      ul
        li: a(href='/wheel') 휠
        li: a(href='/tire-tube') 타이어/튜브
        li: a(href='/pump') 펌프

    .sub-section
      ul
        li: a(href='/light') 라이트
        li: a(href='/computer') 컴퓨터
        li: a(href='/camera') 카메라
        li: a(href='/accessories') 악세사리
      ul
        li: a(href='/bottle-cage') 물통 케이지
        li: a(href='/tool-case') 공구통/멀티툴
        li: a(href='/lock') 자물쇠
      ul
        li: a(href='/bag') 가방/짐받이
        li: a(href='/fender') 펜더
        li: a(href='/kick-stand') 킥스텐드

    .sub-section
      ul
        li: a(href='/stand') 거치대
        li: a(href='/tools') 공구/정비
      ul
        li: a(href='/trainer') 트레이너

    .sub-section
      ul
        li: a(href='/helmet') 헬멧
        li: a(href='/goggle') 고글
        li: a(href='/clothing') 의류
      ul
        li: a(href='/pedal') 페달
        li: a(href='/shoes') 신발
      ul
        li: a(href='/cosmetics') 화장품

    .sub-section
      ul
        li: a(href='/shop') 지역별 샾
        li: a(href='/rental-transport') 대여/운반

    .sub-section
      ul
        li: a(href='/riding') 라이딩
        li: a(href='/course') 코스
        li: a(href='/course-tool') 코스 도구
        li: a(href='/gran-fondo') 그란 폰도
        li: a(href='/randonneurs') 란도너스
      ul
        li: a(href='/fitting') 피팅/자세
        li: a(href='/recovery') 리커버리
        li: a(href='/pain') 통증

    .sub-section
      ul
        li: a(href='/community') 커뮤니티
        li: a(href='/movies') 영상
        li: a(href='/legend') 전설
      ul
        //-li: a(href='/essay') 에세이
        //-li: a(href='/physics') 물리

    ul
      li 
        a(href='https://www.facebook.com/allca.news', target='_blank')
          span.fa.fa-facebook-square.fa-2x
