extends ../layout/layout

block head-title
  title About - #{appName}

block content

    .section.page-title
      h1 About

    //-.section= appDesc

    .section
      .sub-section
        | 친구들의 편리한 자전거 생활을 위해
        br
        br
        | 자전거에 관한 모든 카테고리
        br

      .sub-section
        | 2016년 2월 13일 열림