extends ../layout/layout

block head-title
  title About - #{appName}

block content

    .section.page-title
      h1 About

    //-.section= appDesc

    .section
      .sub-section
        | 자전거에 관한 모든 카테고리
        br

      .sub-section
        | 2016년 2월 13일 시작