extends ../layout/layout

block head-title
  title About - #{appName}

block content

    .page-title
      h1 About

    .section
      .sub-section.text.
        자전거 질문 받을 때마다 링크를 알려주다가<br>
        그걸 에버노트에 정리하다가<br>
        그냥 사이트를 하나 만들어봤습니다.

      .sub-section
        | 2016년 2월 13일 시작