extends ../layout/layout

block head-title
  title About - #{appName}

block content

    .page-title
      h1 About

    .section
      .sub-section.text
        | 새로 입문하는 지인들을 위해 
        br
        | 자전거 개념 전도를 만들어 봤습니다.
        br
        | 부족한 면이 많지만 도움되셨으면 합니다.
        br

      .sub-section
        | 2016년 2월 13일 시작