extends ../layout/layout

block head-title
  title About - #{appName}

block content

    .page-title
      h1 About

    .section
      .sub-section.text
        | 새로 자전거에 입문하는 분들을 위해 
        br
        | 개념 전도를 만들어 봤습니다.
        br
        | 도움되셨으면 합니다.
        br

      .sub-section
        | 2016년 2월 13일 시작