extends ../layout/layout

block head-title
  title Counters - #{appName}

block content

  .page-title
    h1 Counters

  pre.section.clean
    for counter in counters
      | !{counter.dStr}!{'\t'}!{counter.c}<br>
